<div class="animated fadeIn">
    <form [formGroup]="form" (submit)="onSubmit()">
        <div class="card">
            <div class="card-header">
                <h5>Ouvrir un nouveau PDA</h5>
            </div>
            <div class="card-body">

                    <div class="row">
                        <div class="col-9" *ngIf="folder">
                            <div class="form-group" >
                                <div class="row" >
                                    <div class="col-4" >
                                        <label >Numéro du dossier</label>
                                        <input class="form-control" disabled type="text" value="{{folder.numberString}}">
                                    </div>
                                    <div class="col-4" *ngIf="folder.customer">
                                        <label >Nom du client</label>
                                        <input class="form-control" disabled type="text" value="{{folder.customer.name}}">
                                    </div>
                                    <div class="col-4" *ngIf="folder.ship">
                                        <label >Nom du navire</label>
                                        <input class="form-control" disabled type="text" value="{{folder.ship.name}}">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
<!--                                <div class="row">-->
<!--                                    <div class="col-6">-->
<!--                                        <label>Date d'arrivée du navire</label>-->
<!--                                        <input class="form-control" formControlName="arrivalDate" type="text" value="{{ arrivalDate|date:'dd/MM/yyyy' }}">-->
<!--                                    </div>-->
<!--                                    <div class="col-6">-->
<!--                                        <label>Date de départ</label>-->
<!--                                        <input class="form-control" formControlName="depDate" type="text" value="{{ depDate ? (depDate|date:'dd/MM/yyyy') : 'Non défini' }}">-->
<!--                                    </div>-->
<!--                                </div>-->
                            </div>
                        </div>
                        <div class="col-3">
                            <label >Currency</label>
                            <ng-select class="form-con bootstrap" placeholder="Choisir une devise" [items]="curs"
                                       formControlName="currency" [clearable]="false"
                                       bindValue="name" bindLabel="name"  [ngClass]="{ 'is-invalid': submitted && f.currency.errors }">
                            </ng-select>
                            <div *ngIf="submitted && f.currency.errors" class="invalid-feedback  ">
                                <div *ngIf="f.currency.errors.required">Champs requis</div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="card-body border-top" style="background-color: rgba(176,199,221,0.16);">
<!--                <button class="btn btn-sm btn-pill btn-primary" type="button"  (click)="addMission()">-->
<!--                    <i class="fa fa-plus-circle"></i>&nbsp;Ajouter des missions-->
<!--                </button>-->
                <div class="btn-group" dropdown>
                    <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
                        &nbsp;<i class="fa fa-plus-circle"></i> Ajouter des missions <span class="caret"></span>
                    </button>
                    <ul *dropdownMenu class="dropdown-menu" role="menu">
                        <li role="menuitem" *ngFor="let mission_type of mission_types">
                            <a class="dropdown-item" href="javascript:void(0)" (click)="genTemplateFor(mission_type)">{{ mission_type.name }}</a>
                        </li>
<!--                        <li class="divider dropdown-divider"></li>-->
                    </ul>
                </div>

                <div formArrayName="missions">
                    <div *ngFor="let mitem of missions.controls; let i=index;" [formGroupName]="i" class="row" style="padding: 20px;">
                        <div class="col-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title"  [ngStyle]="{'background': color}">
                                    <h6><b>Mission : </b>&nbsp;
                                        <input type="text" class="form-control" style="display: inline-block; width: auto;;margin-top: -15px;" size="50" formControlName="name">
                                    </h6>
                                    <div class="ibox-tools" style="float: right;">
                                        <button class="btn btn-sm btn-pill btn-facebook" style="margin-left: 20px;margin-top: -15px;" type="button"  (click)="addMissionItem(i, mitem)">
                                            <i class="fa fa-plus-circle"></i>&nbsp;Ajouter une opération
                                        </button>
                                        <a class="text-danger m-r-10" style="font-size: 1.2rem;" data-toggle="tooltip" title="" (click)="removeMission(mitem)" data-original-title="Supprimer la mission" >
                                            <i class="fa fa-trash-alt"></i>
                                        </a>
                                        <a class="collapse-link" id="collapse-link{{i}}" style="margin-left: 20px;font-size: 1.2rem;">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <div class="row">
                                        <table class="col-12 table table-bordered">
                                            <thead>
                                                <tr class="text-center">
                                                    <th width="40%">Nom</th>
                                                    <th width="10%">Qtté</th>
                                                    <th width="10%">Bas</th>
                                                    <th width="25%">Description</th>
                                                </tr>
                                            </thead>
                                            <tbody formArrayName="items">
                                                <tr *ngFor="let item of getMissionItems(mitem).controls; let j=index" [formGroupName]="j">
                                                    <td>
                                                        <div class="row ">
                                                             <span class="col-2" style="font-weight: bold;">
                                                                <a class="btn btn-outline-danger m-r-10" title="Supprimer l'opération" style="padding: 3px 7px 3px 7px; border: none!important;" (click)="removeMissionItem(mitem, item)"><i class="fa fa-trash-alt"></i></a>
                                                                     {{j + 1}}.
                                                            </span>
                                                            <input class="form-control col-9" formControlName="name" type="text" id="dynamicServices{{i}}{{j}}"
                                                                   autocomplete="true" (keyup)="getServices($event, i, j)" />
                                                        </div>
                                                    </td>
                                                    <td><input class="form-control" type="number" min="1" formControlName="qty"></td>
                                                    <td><input class="form-control" type="number" min="1" formControlName="bas"></td>
                                                    <td><textarea class="form-control" formControlName="description" rows="2"></textarea></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
            <div class="card-footer">
                <div class="pull-right">
                    <img *ngIf="loading" class="pl-2" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    <button [disabled]="loading" type="submit" class="btn btn-success px-4">Enregistrer</button>
                </div>
            </div>
        </div>
    </form>
</div>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>

