.form-con.is-invalid {
    display: block;
    width: 100%;
    //height: calc(1.5em + 0.75rem + 2px);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #5c6873;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #f86c6b;
    border-radius: 0.25rem;
    -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    //padding: 0.375rem calc(1.5em + 0.75rem) 0.375rem 0.75rem;
    background-repeat: no-repeat;
    background-position: center right calc(0.375em + 0.1875rem);
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.form-con.is-invalid ~ .invalid-feedback, .form-con.is-invalid ~ .invalid-tooltip {
    display: block;
}

.afu-container{
    background-color: #BABABA;
    margin-top: 3vh;
    border: 4px solid rgb(139, 136, 136);
    border-radius: 6px;
}
.title{
    text-align: center;
    font-family: 'Lato', sans-serif;
}
.border{
    border: 2px solid rgb(140, 145, 142);
    border-radius: 6px;
    padding: 10px;
    margin: 10px;
}
.resetBtn{
    padding: 10px;
    margin: 10px;
}
.ffLato {
    font-family: 'Lato', sans-serif;
}
.bottom-info p {
    font-size: 1.5rem;
}


.ui-autocomplete {
    list-style: none;
    background-color: white;
    padding-left: 10px;
    width: 160px;;
    height: auto;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    box-sizing: border-box;
}

.ui-helper-hidden-accessible { display:none; }

div.ng-autocomplete {
    width: 80%!important;
    display: inline-block!important;
}
.ng-autocomplete > .autocomplete-container > .input-container > input:focus {
    border-bottom: 2px solid #3f51b5!important;;
}
.autocomplete-container {
    box-shadow: none!important;
}

ul#ui-id-1m ,.ui-menu {
    background: white!important;
    list-style: none!important;
    font-weight: bold!important;
    width: 80%!important;
}

.ui-menu > li {
    margin-bottom: 5px;
}
