.afu-container{
    background-color: #BABABA;
    margin-top: 3vh;
    border: 4px solid rgb(139, 136, 136);
    border-radius: 6px;
}
.title{
    text-align: center;
    font-family: 'Lato', sans-serif;
}
.border{
    border: 2px solid rgb(140, 145, 142);
    border-radius: 6px;
    padding: 10px;
    margin: 10px;
}
.resetBtn{
    padding: 10px;
    margin: 10px;
}
.ffLato {
    font-family: 'Lato', sans-serif;
}
.bottom-info p {
    font-size: 1.5rem;
}


.ui-autocomplete {
    list-style: none;
    background-color: white;
    padding-left: 10px;
    width: 160px;;
    height: auto;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    box-sizing: border-box;
}

.ui-helper-hidden-accessible { display:none; }

div.ng-autocomplete {
    width: 80%!important;
    display: inline-block!important;
}
.ng-autocomplete > .autocomplete-container > .input-container > input:focus {
    border-bottom: 2px solid #3f51b5!important;;
}
.autocomplete-container {
    box-shadow: none!important;
}

ul#ui-id-1m ,.ui-menu {
    background: white!important;
    list-style: none!important;
    font-weight: bold!important;
    width: 80%!important;
}

.ui-menu > li {
    margin-bottom: 5px;
}
