<div class="animated fadeIn">
    <div class="card">
        <div class="card-header">
            <h3>Utilisateurs
                <button (click)="goToAddUser()" type="button" class="btn btn-brand btn-github mr-1 pull-right" style="margin-bottom: 4px">
                    <i class="fa fa-plus-circle"></i>
                    <span>Ajouter</span>
                </button>
            </h3>
        </div>
        <div class="card-body">
            <div class="row mb-3">
                <div class="col-md-4 offset-md-8">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-search"></i></span>
                        </div>
                        <input [(ngModel)]="filterQuery" class="form-control" placeholder="Rechercher par le nom" type="text"/>
                    </div>
                </div>
            </div>
            <div class="mat-elevation-z8">
                <table class="table table-striped table-hover table-responsive-lg"
                       [mfData]="users | dataFilter : filterQuery" [mfRowsOnPage]="10" #mf="mfDataTable">
                    <thead>
                    <tr>
                        <th style="width: 20%">
                            Avatar
                        </th>
                        <th>
                            <mfDefaultSorter by="lastName">Nom</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="firstName">Prénom</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="email">Email</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="is_active">Dernière connexion</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="is_active">Compte actif</mfDefaultSorter>
                        </th>
                        <th style="width: 20%">
                            Action
                        </th>
                    </tr>
                    </thead>
                    <tbody *ngIf="users && users.length; else no_content">
                    <tr *ngIf="loading">
                        <td colspan="7" style="text-align: center;background-color: white;"><img style="height: 70px;" src="assets/loading.gif" alt=""></td>
                    </tr>
                    <tr *ngFor="let user of mf.data">
                        <td>
                            <ngx-avatar [round]="true" name="{{ user.firstName + ' ' + user.lastName}}" size="40">
                            </ngx-avatar>
                        </td>
                        <td>{{user.lastName}}</td>
                        <td>{{user.firstName}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.last_login ? (user.last_login | amCalendar) : 'Aucune connexion'}}</td>
                        <td><span class="badge badge-{{user.is_active ? 'success' : 'danger'}}">{{user.is_active ? 'Oui' : 'Non'}}</span></td>
                        <td>
                            <div class="btn-group">
                                <button (click)="goToUserDetsil(user)" type="button" class="btn btn-brand btn-success mr-1" style="margin-bottom: 4px">
                                    <i class="fa fa-eye"></i>
                                </button>
                                <button (click)="editUser(user)" type="button" class="btn btn-brand btn-twitter mr-1" style="margin-bottom: 4px">
                                    <i class="fa fa-edit"></i>
                                </button>
                                <button (click)="confirmDeleteUser(user)" type="button" class="btn btn-brand btn-danger mr-1" style="margin-bottom: 4px">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                    <ng-template #no_content>
                        <tbody>
                        <tr *ngIf="loading">
                            <td colspan="7" style="text-align: center;background-color: white;"><img style="height: 70px;" src="assets/loading.gif" alt=""></td>
                        </tr>
                        <tr *ngIf="!loading">
                            <td>Aucune donnée.</td>
                        </tr>
                        </tbody>
                    </ng-template>
                    <tfoot>
                    <tr>
                        <td colspan="7">
                            <mfBootstrapPaginator [rowsOnPageSet]="[1,10,15]"></mfBootstrapPaginator>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<swal
    #deleteSwal
    [showCancelButton]="true">
</swal>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
