<div class="animated fadeIn">
    <div class="container">
        <div class="row my-2">
            <div class="tabs col-lg-8 order-lg-2">
                <tabset>
                    <tab heading="Profil" >
                        <h5 class="mb-3">Profil d'utilisateur</h5>
                        <div class="row">
                            <div class="col-md-6">
                                <h6>Privilège</h6>
                                <div *ngIf="user">
                                    <p *ngFor="let role of user.roles">
                                        <a  style="margin-right: 5px;" href="javascript:void(0)" title="{{ role.description}}" class="badge badge-dark badge-pill" >
                                        {{ role.label }}
                                        </a>
                                        <span class="text-info"> <i>depuis le {{ role.created_at | date: 'dd/MM/y à HH:mm ' }}</i></span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <h5 class="mt-2"><span class="fa fa-clock-o ion-clock float-right"></span> Activités(Dossier) récentes</h5>
                                <div style="overflow-y: scroll; height: 300px!important;">
                                    <table class="table table-sm table-hover table-striped" >
                                        <tbody *ngIf="user">
                                        <tr *ngFor="let folder of folders">
                                            <td *ngIf="isAdmin">
                                                A opéré dans <strong>{{ folder.name }} / {{ folder.number }}</strong>
                                            </td>
                                            <td *ngIf="!isAdmin">
                                                Vous avez opéré dans <strong>{{ folder.name }} / {{ folder.number }}</strong>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </tab>
<!--                    <tab heading="Détail">-->
<!--                        <div class="alert alert-info alert-dismissable">-->
<!--                            <a class="panel-close close" data-dismiss="alert">×</a> This is an <strong>.alert</strong>. Use this to show important messages to the user.-->
<!--                        </div>-->
<!--                        <table class="table table-hover table-striped">-->
<!--                            <tbody>-->
<!--                            <tr>-->
<!--                                <td>-->
<!--                                    <span class="float-right font-weight-bold">3 hrs ago</span> Here is your a link to the latest summary report from the..-->
<!--                                </td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <td>-->
<!--                                    <span class="float-right font-weight-bold">Yesterday</span> There has been a request on your account since that was..-->
<!--                                </td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <td>-->
<!--                                    <span class="float-right font-weight-bold">9/10</span> Porttitor vitae ultrices quis, dapibus id dolor. Morbi venenatis lacinia rhoncus.-->
<!--                                </td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <td>-->
<!--                                    <span class="float-right font-weight-bold">9/4</span> Vestibulum tincidunt ullamcorper eros eget luctus.-->
<!--                                </td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <td>-->
<!--                                    <span class="float-right font-weight-bold">9/4</span> Maxamillion ais the fix for tibulum tincidunt ullamcorper eros.-->
<!--                                </td>-->
<!--                            </tr>-->
<!--                            </tbody>-->
<!--                        </table>-->
<!--                    </tab>-->



<!--                    <tab heading="Editer">-->
<!--                        <form role="form">-->
<!--                            <div class="form-group row">-->
<!--                                <label class="col-lg-3 col-form-label form-control-label">First name</label>-->
<!--                                <div class="col-lg-9">-->
<!--                                    <input class="form-control" type="text" value="Jane">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="form-group row">-->
<!--                                <label class="col-lg-3 col-form-label form-control-label">Last name</label>-->
<!--                                <div class="col-lg-9">-->
<!--                                    <input class="form-control" type="text" value="Bishop">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="form-group row">-->
<!--                                <label class="col-lg-3 col-form-label form-control-label">Email</label>-->
<!--                                <div class="col-lg-9">-->
<!--                                    <input class="form-control" type="email" value="email@gmail.com">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="form-group row">-->
<!--                                <label class="col-lg-3 col-form-label form-control-label">Company</label>-->
<!--                                <div class="col-lg-9">-->
<!--                                    <input class="form-control" type="text" value="">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="form-group row">-->
<!--                                <label class="col-lg-3 col-form-label form-control-label">Website</label>-->
<!--                                <div class="col-lg-9">-->
<!--                                    <input class="form-control" type="url" value="">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="form-group row">-->
<!--                                <label class="col-lg-3 col-form-label form-control-label">Address</label>-->
<!--                                <div class="col-lg-9">-->
<!--                                    <input class="form-control" type="text" value="" placeholder="Street">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="form-group row">-->
<!--                                <label class="col-lg-3 col-form-label form-control-label"></label>-->
<!--                                <div class="col-lg-6">-->
<!--                                    <input class="form-control" type="text" value="" placeholder="City">-->
<!--                                </div>-->
<!--                                <div class="col-lg-3">-->
<!--                                    <input class="form-control" type="text" value="" placeholder="State">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="form-group row">-->
<!--                                <label class="col-lg-3 col-form-label form-control-label">Time Zone</label>-->
<!--                                <div class="col-lg-9">-->
<!--                                    <select id="user_time_zone" class="form-control" size="0">-->
<!--                                        <option value="Hawaii">(GMT-10:00) Hawaii</option>-->
<!--                                        <option value="Alaska">(GMT-09:00) Alaska</option>-->
<!--                                        <option value="Pacific Time (US &amp; Canada)">(GMT-08:00) Pacific Time (US &amp; Canada)</option>-->
<!--                                        <option value="Arizona">(GMT-07:00) Arizona</option>-->
<!--                                        <option value="Mountain Time (US &amp; Canada)">(GMT-07:00) Mountain Time (US &amp; Canada)</option>-->
<!--                                        <option value="Central Time (US &amp; Canada)" selected="selected">(GMT-06:00) Central Time (US &amp; Canada)</option>-->
<!--                                        <option value="Eastern Time (US &amp; Canada)">(GMT-05:00) Eastern Time (US &amp; Canada)</option>-->
<!--                                        <option value="Indiana (East)">(GMT-05:00) Indiana (East)</option>-->
<!--                                    </select>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="form-group row">-->
<!--                                <label class="col-lg-3 col-form-label form-control-label">Username</label>-->
<!--                                <div class="col-lg-9">-->
<!--                                    <input class="form-control" type="text" value="janeuser">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="form-group row">-->
<!--                                <label class="col-lg-3 col-form-label form-control-label">Password</label>-->
<!--                                <div class="col-lg-9">-->
<!--                                    <input class="form-control" type="password" value="11111122333">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="form-group row">-->
<!--                                <label class="col-lg-3 col-form-label form-control-label">Confirm password</label>-->
<!--                                <div class="col-lg-9">-->
<!--                                    <input class="form-control" type="password" value="11111122333">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="form-group row">-->
<!--                                <label class="col-lg-3 col-form-label form-control-label"></label>-->
<!--                                <div class="col-lg-9">-->
<!--                                    <input type="reset" class="btn btn-secondary" value="Cancel">-->
<!--                                    <input type="button" class="btn btn-primary" value="Save Changes">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </form>-->
<!--                    </tab>-->
                </tabset>
            </div>
            <div class="col-lg-4 order-lg-1 text-center">
                <div class="card">
                    <div class="card-body" *ngIf="user">
                        <ngx-avatar class="profile-avatar" [round]="true"
                                    name="{{ user.firstName + ' ' + user.lastName}}"
                                    size="100" textSizeRatio="2">
                        </ngx-avatar>
<!--                        <img src="//placehold.it/150" class="mx-auto img-fluid img-circle d-block" alt="avatar" [ngStyle]="{'width': '150px', 'height': '150px'}">-->
                        <h6 class="mt-2">{{ user.firstName }} {{ user.lastName }}</h6>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
