.profile-avatar /deep/ .avatar-content {
    height: 150px;
    width: 150px;
    padding: 25%;
}

.profile-avatar /deep/ .avatar-container {
    margin-left: 25%;
    height: 150px;
}

.profile-avatar {
    height: 150px;
    display: block;
}
