<div style="z-index: 99999999999;margin-top: 5%;" bsModal [ngClass]="customClass || ''" class="modal " [ngStyle]="{display: show ? 'block' : 'none'}" tabindex="1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-primary" role="document">
        <div class="modal-content">
            <form [formGroup]="clinicForm" (ngSubmit)="onSubmit()" style="width: 100%;">

                <div class="modal-header">
                    <h4 class="modal-title"> <i class="fa fa-clinique"></i> Ajouter une Clinique </h4>
                    <button type="button" class="close" (click)="closeCallback()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
                    <div class="row">
                        <div class="col-6 input-group mb-3" style="width: 100%;">
                            <label style="width: 100%;">
                                Nom de la clinique
                            </label>
                            <input type="text" class="form-control" placeholder="Nom de la clinique"
                                   formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" required>
                            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                <div *ngIf="f.name.errors.required">Nom requis</div>
                            </div>
                        </div>
                        <div class="col-6 input-group mb-3" style="width: 100%;">
                            <label style="width: 100%;">
                                Téléphone
                            </label>
                            <input type="tel" class="form-control" placeholder="Numéro de la clinique" autocomplete=""
                                   formControlName="tel" [ngClass]="{ 'is-invalid': submitted && f.tel.errors }" required>
                            <div *ngIf="submitted && f.tel.errors" class="invalid-feedback">
                                <div *ngIf="f.tel.errors.required">Téléphone requis</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 input-group mb-3" style="width: 100%;">
                            <label style="width: 100%;">
                                Email
                            </label>
                            <input type="email" class="form-control" placeholder="Email de la clinique"
                                   formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" required>
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">Email requis</div>
                            </div>
                        </div>
                        <div class="col-6 input-group mb-3" style="width: 100%;">
                            <label style="width: 100%;">
                                Addresse
                            </label>
                            <textarea class="form-control" placeholder="Adresse de la clinique" autocomplete=""
                                      formControlName="address" [ngClass]="{ 'is-invalid': submitted && f.address.errors }" required></textarea>
                            <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                                <div *ngIf="f.address.errors.required">Adresse requise</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-ladda" data-style="expand-right" [ladda]='loading' >Enregistrer</button>
                </div>
            </form>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
