<div class="animated fadeIn">
    <div class="card">
        <div class="card-header">
            <h3>Rôles
                <button (click)="goToAddRole()" type="button" class="btn btn-brand btn-github mr-1 pull-right" style="margin-bottom: 4px">
                    <i class="fa fa-plus-circle"></i>
                    <span>Ajouter</span>
                </button>
            </h3>
        </div>
        <div class="card-body">
            <div class="row mb-3">
                <div class="col-md-4 offset-md-8">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-search"></i></span>
                        </div>
                        <input [(ngModel)]="filterQuery" class="form-control" placeholder="Rechercher par le libellé" type="text"/>
                    </div>
                </div>
            </div>
            <div class="mat-elevation-z8">
                <table class="table table-striped table-hover table-responsive-lg"
                       [mfData]="roles | dataFilter : filterQuery" [mfRowsOnPage]="10" #mf="mfDataTable">
                    <thead>
                    <tr>
                        <th>
                            <mfDefaultSorter by="label">Libellé</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="description">Description</mfDefaultSorter>
                        </th>
                        <th style="width: 20%">
                            Action
                        </th>
                    </tr>
                    </thead>
                    <tbody *ngIf="roles && roles.length; else no_content">
                    <tr *ngIf="loading">
                        <td colspan="3" style="text-align: center;background-color: white;"><img style="height: 70px;" src="assets/loading.gif" alt=""></td>
                    </tr>
                    <tr *ngFor="let role of mf.data">
                        <td>{{role.label}}</td>
                        <td>{{role.description}}</td>
                        <td>
                            <div class="btn-group">
                                <button (click)="editRole(role)" type="button" class="btn btn-brand btn-twitter mr-1" style="margin-bottom: 4px">
                                    <i class="fa fa-edit"></i>
                                </button>
                                <button (click)="confirmDeleteRole(role)" type="button" class="btn btn-brand btn-danger mr-1" style="margin-bottom: 4px">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                    <ng-template #no_content>
                        <tbody>
                        <tr *ngIf="loading">
                            <td colspan="3" style="text-align: center;background-color: white;"><img style="height: 70px;" src="assets/loading.gif" alt=""></td>
                        </tr>
                        <tr>
                            <td>Aucune donnée.</td>
                        </tr>
                        </tbody>
                    </ng-template>
                    <tfoot>
                    <tr>
                        <td colspan="7">
                            <mfBootstrapPaginator [rowsOnPageSet]="[1,10,15]"></mfBootstrapPaginator>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<swal
    #deleteSwal
    [showCancelButton]="true">
</swal>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
