<div class="animated fadeIn">
    <form [formGroup]="sheetForm" (submit)="onFormSubmit()">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong>Créer une nouvelle fiche de financement</strong>
                    </div>
                    <div class="card-body">
                   <div class="row">
                       <div class="col-md-4">
                          <div class="card">
                              <div class="card-header">
                                  <strong>Choisir un navire</strong>
                                  <button type="button" class="btn btn-sm btn-primary mr-1 pull-right" data-toggle="modal" (click)="toggleCreateShip()">
                                      Ajouter
                                  </button>
                              </div>
                              <div class="card-body">
                                  <div class="input-group mb-4">
                                      <ng-select class="form-co bootstrap" placeholder="Choisir un navire" [items]="ships"
                                                 formControlName="ship" [clearable]="true" (change)="shipSelected($event)"
                                                 bindValue="id" bindLabel="name">
                                      </ng-select>
                                  </div>
                              </div>
                          </div>
                       </div>
                       <div class="col-md-8">
                           <div class="card">
                               <div class="card-header">
                                   <strong>Entêtes</strong>
                               </div>
                               <div class="card-body">
                                   <div class="row">
                                       <div class="col-xs-6 col-6 col-md-6 form-group">
                                           <label for="currentDate">Date</label>
                                           <div class="input-group">
                                               <span class="input-group-prepend"><span class="input-group-text"><i class="fa fa-calendar"></i></span></span>
                                               <input id="currentDate" type="text"
                                                      class="form-control"
                                                      #dp="bsDatepicker"
                                                      bsDatepicker
                                                      value="{{ g.date.value | date:'dd-MM-yyyy' }}"
                                                      formControlName="date" [ngClass]="{ 'is-invalid': submitted && g.date.errors }">
                                               <div *ngIf="submitted && g.date.errors" class="invalid-feedback">
                                                   <div *ngIf="g.date.errors.required">Date requise</div>
                                               </div>
                                           </div>
                                       </div>
                                       <div class="col-xs-6 col-6 col-md-6 form-group">
                                           <div class="row">
                                               <div class="form-group col-md-6">
                                                   <label for="from">De </label>
                                                   <input type="text" id="from" class="form-control" formControlName="from" [ngClass]="{ 'is-invalid': submitted && g.from.errors }">
                                                   <div *ngIf="submitted && g.from.errors" class="invalid-feedback">
                                                       <div *ngIf="g.from.errors.required">Vous devez définir une valeur</div>
                                                   </div>
                                               </div>
                                               <div class="form-group col-md-6">
                                                   <label for="to">A </label>
                                                   <input id="to" type="text" class="form-control" formControlName="to" [ngClass]="{ 'is-invalid': submitted && g.to.errors }">
                                                   <div *ngIf="submitted && g.to.errors" class="invalid-feedback">
                                                       <div *ngIf="g.to.errors.required">Vous devez définir une valeur</div>
                                                   </div>
                                               </div>
                                           </div>
                                       </div>
                                   </div><!--/.row-->
                                   <div class="row">
                                       <div class="col-md-6 col-sm-6">
                                           <div class="form-group">
                                               <input type="text" class="form-control" id="name" formControlName="checkOrder" placeholder="Emettre le chèque à l'ordre de" [ngClass]="{ 'is-invalid': submitted && g.checkOrder.errors }">
                                               <div *ngIf="submitted && g.checkOrder.errors" class="invalid-feedback">
                                                   <div *ngIf="g.checkOrder.errors.required">Veuillez specifier le nom</div>
                                               </div>
                                           </div>
                                       </div>
                                       <div class="col-md-6 col-sm-6 col-form-label">
                                          <div class="form-group form-control radio-group" [ngClass]="{ 'is-invalid': submitted && g.type.errors }">
                                              <div *ngFor="let type of investmentTypes" class="form-check form-check-inline mr-1" >
                                                  <input class="form-check-input" type="radio" id="inlineRadio{{type.id}}" value="{{type.id}}" formControlName="type" >
                                                  <label class="form-check-label" for="inlineRadio{{type.id}}">{{type.label}}</label>
                                              </div>
                                              <div *ngIf="submitted && g.type.errors" class="invalid-feedback">
                                                  <div *ngIf="g.type.errors.required">Vous devez choisir une option</div>
                                              </div>
                                          </div>
                                       </div>
                                   </div><!--/.row-->
                               </div>
                           </div>
                       </div>
                   </div>
                </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <i class="icon-note"></i> <strong>Détails</strong>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-11">
                                <div class="row">
                                    <div class="form-group col-md-2">
                                        <ng-select class="form-co bootstrap" placeholder="Choisir un Répertoire" [items]="folders"
                                                   formControlName="folder" [clearable]="true"
                                                   bindLabel="numberString">
                                        </ng-select>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <input type="number" class="form-control" formControlName="amountRequested" placeholder="Montant demandé">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <textarea type="text" class="form-control" formControlName="description" placeholder="Description" rows="1"></textarea>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <input type="number" class="form-control" formControlName="amountAwarded" placeholder="Montant accordé">
                                    </div>
                                    <div class="form-group col-md-2">
                                        <textarea type="text" class="form-control" formControlName="observations" placeholder="Observations" rows="1"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <a class="btn btn-outline-success" (click)="addItem()"><i class="fa fa-plus-circle"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>N°</th>
                                <th>Répertoire</th>
                                <th>Montant demandé</th>
                                <th width="30%">Description</th>
                                <th>Montant accordé</th>
                                <th width="30%">Observations</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of items; let i = index;">
                                    <td>{{ i + 1 }}</td>
                                    <td>{{ itemsFoldersNumber[i] }}</td>
                                    <td>{{ item.amountRequested }}</td>
                                    <td>{{ item.description }}</td>
                                    <td>{{ item.amountAwarded }}</td>
                                    <td>{{ item.observations }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="card-footer">
                        <div class="row">
                            <div class="pull-right col-6">
                                <button [disabled]="loading" type="submit" class="btn btn-primary px-4">Enregistrer</button>
                                <img *ngIf="loading" class="pl-2" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </form>
</div>

<app-create-ship-modal
    [show]='showCreateShipModal'
    [closeCallback]="toggleCreateShip"
    [ngStyle]="{display: showCreateShipModal ? 'block' : 'none'}"
    (onCreate)="setShip($event)"
>
</app-create-ship-modal>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
