<div class="animated fadeIn">
    <form [formGroup]="form" (submit)="onSubmit()">
        <div class="card">
            <div class="card-header">
                <h5>Ouvrir un nouveau dossier</h5>
            </div>
            <div class="card-body">

                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-6">
                                        <label >Numéro du dossier</label>
                                        <input class="form-control" disabled type="text" value="BMA/">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-6">
                                        <label>Date de création</label>
                                        <input class="form-control" disabled type="text" value="{{ date|date:'dd/MM/yyyy' }}">
                                    </div>
                                    <div class="col-6">
                                        <label>Date de clôture</label>
                                        <input class="form-control" disabled type="text" value="Non défini">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-6">
                                        <label>Date d'arrivée du navire</label>
                                        <input type="text"
                                               class="form-control"
                                               #dp="bsDatepicker"
                                               bsDatepicker
                                               formControlName="shipArrivalDate" [ngClass]="{ 'is-invalid': submitted && f.shipArrivalDate.errors }" >
                                        <div *ngIf="submitted && f.shipArrivalDate.errors" class="invalid-feedback ml-lg-5 row">
                                            <div style="margin-left: -12%;" *ngIf="f.shipArrivalDate.errors.required">Champs requis</div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <label>Date de départ du navire</label>
                                        <input type="text"
                                               class="form-control"
                                               #dp="bsDatepicker"
                                               bsDatepicker
                                               formControlName="shipDepartureDate">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 border-left">
                            <div class="row">
                                <div class="col-4">Navire</div>
                                <div class="col-8">
                                    <p *ngIf="ship then okShip; else noShip"></p>
                                    <ng-template #okShip> <h5 style="display: inline-block;"><code>{{ ship.name }}</code></h5> <button type="button" class="btn btn-sm btn-twitter" (click)="toggleSelectShip()">Cliquer pour choisir</button></ng-template>
                                    <ng-template #noShip> <code>Vous devez definir un navire <button type="button" class="btn btn-sm btn-twitter" (click)="toggleSelectShip()">Cliquer pour choisir</button></code> </ng-template>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-4">Client</div>
                                <div class="col-8">
                                    <p *ngIf="customer then okClient; else noClient"></p>
                                    <ng-template #okClient> <h5 style="display: inline-block;"><code>{{ customer.name }}</code></h5> <button type="button" class="btn btn-sm btn-flickr" (click)="toggleSelectCustomer()">Cliquer pour choisir</button></ng-template>
                                    <ng-template #noClient> <code>Vous devez definir un client <button type="button" class="btn btn-sm btn-flickr" (click)="toggleSelectCustomer()">Cliquer pour choisir</button></code> </ng-template>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-9 row" style="margin-top: 10px;">
                                    <label class="col-4">Référence client</label>
                                    <input class="form-control col-8" type="text"  required formControlName="customerRef" [ngClass]="{ 'is-invalid': submitted && f.customerRef.errors }" >
                                    <div *ngIf="submitted && f.customerRef.errors" class="invalid-feedback ml-lg-5 row">
                                        <div style="margin-left: 26.5%;" *ngIf="f.customerRef.errors.required">Champs requis</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="card-body border-top" style="background-color: rgba(176,199,221,0.16);">
<!--                <button class="btn btn-sm \btn-pill btn-primary" type="button"  (click)="addMission()">-->
<!--                    <i class="fa fa-plus-circle"></i>&nbsp;Ajouter des missions-->
<!--                </button>-->
                <div class="btn-group" dropdown>
                    <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
                        &nbsp;<i class="fa fa-plus-circle"></i> Ajouter des missions <span class="caret"></span>
                    </button>
                    <ul *dropdownMenu class="dropdown-menu" role="menu">
                        <li role="menuitem" *ngFor="let mission_type of mission_types">
                            <a class="dropdown-item" href="javascript:void(0)" (click)="genTemplateFor(mission_type)">{{ mission_type.name }}</a>
                        </li>
<!--                        <li class="divider dropdown-divider"></li>-->
                    </ul>
                </div>

                <div formArrayName="missions">
                    <div *ngFor="let mitem of missions.controls; let i=index;" [formGroupName]="i" class="row" style="padding: 20px;">
                        <div class="col-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title"  [ngStyle]="{'background': color}">
                                    <h6><b>Mission : </b>&nbsp;
                                        <input type="text" class="form-control" style="display: inline-block; width: auto;;margin-top: -15px;" size="50" formControlName="name">
                                    </h6>
                                    <div class="ibox-tools" style="float: right;">
                                        <button class="btn btn-sm btn-pill btn-facebook" style="margin-left: 20px;margin-top: -15px;" type="button"  (click)="addMissionItem(i, mitem)">
                                            <i class="fa fa-plus-circle"></i>&nbsp;Ajouter une opération
                                        </button>
                                        <a class="text-danger m-r-10" style="font-size: 1.2rem;" data-toggle="tooltip" title="" (click)="removeMission(mitem)" data-original-title="Supprimer la mission" >
                                            <i class="fa fa-trash-alt"></i>
                                        </a>
                                        <a class="collapse-link" id="collapse-link{{i}}" style="margin-left: 20px;font-size: 1.2rem;">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <div class="row">
                                        <table class="col-12 table table-bordered">
                                            <thead>
                                                <tr class="text-center">
                                                    <th width="40%">Nom</th>
                                                    <th width="10%">Qtté</th>
                                                    <th width="25%">Description</th>
                                                    <th width="25%">Attachés</th>
                                                </tr>
                                            </thead>
                                            <tbody formArrayName="items">
                                                <tr *ngFor="let item of getMissionItems(mitem).controls; let j=index" [formGroupName]="j">
                                                    <td>
                                                        <div class="row ">
                                                             <span class="col-2" style="font-weight: bold;">
                                                                <a class="btn btn-outline-danger m-r-10" title="Supprimer l'opération" style="padding: 3px 7px 3px 7px; border: none!important;" (click)="removeMissionItem(mitem, item)"><i class="fa fa-trash-alt"></i></a>
                                                                     {{j + 1}}.
                                                            </span>
                                                            <input class="form-control col-9" formControlName="name" type="text" id="dynamicServices{{i}}{{j}}"
                                                                   autocomplete="true" (keyup)="getServices($event, i, j)" />
                                                        </div>
                                                    </td>
                                                    <td><input class="form-control" type="number" min="1" formControlName="qty"></td>
                                                    <td><textarea class="form-control" formControlName="description"    ></textarea></td>
                                                    <td>
                                                        <input type="file" ng2FileSelect autoUpload="autoUpload" [uploader]="uploaders[i][j]" (change)="onFileSelected(i, j)" multiple  /><br/>

                                                        <table class="table-borderless" style="width: 100%;;margin-top: 10px">
                                                            <tr *ngFor="let item of uploaders[i][j].queue" style="padding:0;">
                                                                <td style="padding:0;padding-bottom: 1px;"><span style="font-weight: bold; font-style: italic;">{{ item?.file?.name }}</span></td>
                                                                <td style="padding:0;padding-bottom: 1px;" nowrap>
                                                                    <button type="button" class="btn btn-danger" style="padding: 3px 7px 3px 7px; border: none!important;margin: 0;"
                                                                            (click)="deleteFile(i, j, item)">
                                                                        <span class="fa fa-trash"></span>
                                                                    </button>
                                                                    <a type="button" class="btn btn-info" style="padding: 3px 7px 3px 7px; border: none!important;margin: 0;margin-left: 3px;"
                                                                       target="_blank" href="{{genItemFileUrl(item)}}">
                                                                        <span class="fa fa-eye"></span>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
            <div class="card-footer">
                <div class="pull-right">
                    <img *ngIf="loading" class="pl-2" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    <button [disabled]="loading" type="submit" class="btn btn-success px-4">Enregistrer</button>
                </div>
            </div>
        </div>
    </form>
</div>


<app-create-ship-modal
    [show]='showCreateShipModal'
    [closeCallback]="toggleCreateShip"
    [ngStyle]="{display: showCreateShipModal ? 'block' : 'none'}"
    (onCreate)="setShip($event)"
>
</app-create-ship-modal>
<app-create-customer-modal
    [show]='showCreateCustomerModal'
    [closeCallback]="toggleCreateCustomer"
    [ngStyle]="{display: showCreateCustomerModal ? 'block' : 'none'}"
    (onCreate)="setCustomer($event)"
>
</app-create-customer-modal>

<app-select-ship-modal
    [show]='showSelectShipModal'
    [closeCallback]="toggleSelectShip"
    [ngStyle]="{display: showSelectShipModal ? 'block' : 'none'}"
    (onSelect)="setShip($event)"
>
    <button type="button" class="btn btn-secondary" (click)="toggleCreateShip()">Créer</button>
</app-select-ship-modal>
<app-select-customer-modal
    [show]='showSelectCustomerModal'
    [closeCallback]="toggleSelectCustomer"
    [ngStyle]="{display: showSelectCustomerModal ? 'block' : 'none'}"
    (onSelect)="setCustomer($event)"
>
    <button type="button" class="btn btn-secondary" (click)="toggleCreateCustomer()">Créer</button>
</app-select-customer-modal>


<toaster-container [toasterconfig]="toasterconfig"></toaster-container>

