/*!
    *
    * Wijmo Library 5.20191.615
    * http://wijmo.com/
    *
    * Copyright(c) GrapeCity, Inc.  All rights reserved.
    *
    * Licensed under the GrapeCity Commercial License.
    * sales@wijmo.com
    * wijmo.com/products/wijmo-5/license/
    *
    */

////////////////////////////////////////////////////////////////
// material theme
//

@import "../misc/constants";
@import "../misc/mixins";

////////////////////////////////////////////////////////////////
// set variables
//

// Primary, accent, grey colors
$mdl-primary: $mdl-indigo !default;
$mdl-accent: $mdl-pink !default;
$mdl-grey: $grey-200 !default;

// Lighten/Darken color functions
$mdl-primary-dark: safedarken($mdl-primary, 15%) !default;
$mdl-primary-light: safelighten($mdl-primary, 15%) !default;
$mdl-accent-light: safelighten($mdl-accent, 15%) !default;

// Text colors
$mdl-text-dark: $grey-900 !default;
$mdl-text-light: #fff !default;

// set wijmo variables
$wj-hdr-txt: #000 !default;
$wj-sel-bkg: $mdl-primary !default;
$wj-msel-bkg: $mdl-primary-light !default;
$wj-accent-bkg: $mdl-accent !default;
$wj-item-pdg: 6px 10px !default;
$wj-bdr-rad: 0 !default;
$wj-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !default;
$wj-btn-grp-bdr: none !default;

////////////////////////////////////////////////////////////////
// apply variables
//
@import "../wijmo.scss";

// Theme settings
.wj-control {
    * {
        font-size: 16px;
    }

    &.wj-content {
        &.wj-dropdown,
        &.wj-inputnumber,
        &.wj-inputmask {
            border-top: none;
            border-left: none;
            border-right: none;
        }
    }

    &.wj-gauge.wj-state-focused circle.wj-pointer {
        fill: $mdl-accent;
        transition: fill .2s; /* delay used in MDL */
    }

    &.wj-calendar.wj-dropdown-panel {
        width: 27em; // TFS 349156
    }

    a {
        font-size: 13px;
    }

    a.wj-btn,
    button.wj-btn:not(.wj-btn-default) { // not for buttons in input controls
        font-weight: 500;
        font-size: 13px;
        text-transform: uppercase;
    }
}
