/*!
    *
    * Wijmo Library 5.20191.615
    * http://wijmo.com/
    *
    * Copyright(c) GrapeCity, Inc.  All rights reserved.
    *
    * Licensed under the GrapeCity Commercial License.
    * sales@wijmo.com
    * wijmo.com/products/wijmo-5/license/
    *
    */

////////////////////////////////////////////////////////////////
// minimal theme
//

////////////////////////////////////////////////////////////////
// set variables
//
$wj-bkg: #fff;
$wj-txt: #666666;
$wj-bdr-rad: 0;

$wj-hdr-bkg: #dddddd;
$wj-hdr-txt: #666666;

$wj-sel-bkg: #a2bdeb;
$wj-sel-txt: #fff;
$wj-msel-bkg: #a0b0ca;
$wj-msel-txt: #fff;
$wj-cell-grp-bkg: #e8e8e8;
$wj-cell-grp-txt: #999999;
$wj-cell-alt: #f2f2f2;
$wj-cell-frz: #e4ecf2;
$wj-cell-frz-alt: #d3e0ea;
$wj-cell-bdr: none;

$wj-btn-bkg: #a2bdeb;
$wj-btn-hvr: #7da2e2;
$wj-btn-txt: #fff;

$wj-tooltip: #fafafa;
$wj-tooltip-txt: #888888;

////////////////////////////////////////////////////////////////
// apply variables
//
@import "../wijmo.scss";
