<div class="animated fadeIn">
    <form [formGroup]="form" (submit)="onSubmit()">
        <div class="card" *ngIf="folder">
            <div class="card-header">
                <h5>Ouvrir le dossier  <b><i>#{{ folder.number }}</i></b>&nbsp;&nbsp;&nbsp;<code *ngIf="folder.isFenced">[ Le dossier a été cloturé ]</code>
                    <span class="text-warning ml-5">Créer par {{ folder.user.lastName +  ' ' + folder.user.firstName }}</span>
                </h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-6">
                                    <label >Numéro du dossier</label>
                                    <input class="form-control" disabled type="text" value="BMA-{{ folder.number }}/{{folder.created_at| date:'yyyy'}}">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-6">
                                    <label>Date de création</label>
                                    <input class="form-control" disabled type="text" value="{{ folder.created_at ? (folder.created_at|date:'dd/MM/yyyy') : '' }}">
                                </div>
                                <div class="col-6">
                                    <label>Date de clôture</label>
                                    <input class="form-control" disabled type="text" value="{{ folder.closedAt ? (folder.closedAt|date:'dd/MM/yyyy') : '' }}">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-6">
                                    <label>Date d'arrivée du navire</label>
                                    <input type="text"
                                           class="form-control"
                                           #dp="bsDatepicker"
                                           bsDatepicker
                                           value="{{ folder.shipArrivalDate | date:'dd-MM-yyyy' }}"
                                           formControlName="shipArrivalDate">
                                </div>
                                <div class="col-6">
                                    <label>Date de départ du navire</label>
                                    <input type="text"
                                           class="form-control"
                                           #dp="bsDatepicker"
                                           bsDatepicker
                                           value="{{ folder.shipDepartureDate | date:'dd-MM-yyyy' }}"
                                           formControlName="shipDepartureDate">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 border-left">
                        <div class="row">
                            <div class="col-4">Navire</div>
                            <div class="col-8">
                                <h5><code>{{ folder.ship.name }}</code></h5>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-4">Client</div>
                            <div class="col-8">
                                <h5><code>{{ folder.customer.name }}</code></h5>
                            </div>
                        </div>
                        <div class="row" >
                            <div class="col-9 row" style="margin-top: 10px;">
                                <label class="col-4">Référence client</label>
                                <input class="form-control col-8" type="text"  required formControlName="customerRef" [ngClass]="{ 'is-invalid': submitted && f.customerRef.errors }" value="{{ folder.customerRef }}">
                                <div *ngIf="submitted && f.customerRef.errors" class="invalid-feedback ml-lg-5 row">
                                    <div style="margin-left: 26.5%;" *ngIf="f.customerRef.errors.required">Champs requis</div>
                                </div>
                            </div>
                            <div class="col-9 row" style="margin-top: 10px;" *ngIf="accounting">
                                <label class="col-4">Currency</label>
                                <div class="col-8" style="padding-right: 0;padding-left: 0;">
                                    <ng-select class="form-con bootstrap" placeholder="Choisir une devise" [items]="curs"
                                               formControlName="currency" [clearable]="false"
                                               bindValue="name" bindLabel="name"  [ngClass]="{ 'is-invalid': submitted && f.currency.errors }">
                                    </ng-select>
                                    <div *ngIf="submitted && f.currency.errors" class="invalid-feedback  ">
                                        <div *ngIf="f.currency.errors.required">Champs requis</div>
                                    </div>
                                </div>
                                <!--<input class="form-control col-8" type="text"  required formControlName="cur" value="{{ folder.cur }}" [ngClass]="{ 'is-invalid': submitted && f.cur.errors }">-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body border-top" style="background-color: rgba(176,199,221,0.16);">
                <div class="btn-group" dropdown>
                    <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
                        &nbsp;<i class="fa fa-plus-circle"></i> Ajouter des missions <span class="caret"></span>
                    </button>
                    <ul *dropdownMenu class="dropdown-menu" role="menu">
                        <li role="menuitem" *ngFor="let mission_type of mission_types">
                            <a class="dropdown-item" href="javascript:void(0)" (click)="genTemplateFor(mission_type)">{{ mission_type.name }}</a>
                        </li>
                        <!--                        <li class="divider dropdown-divider"></li>-->
                    </ul>
                </div>
                <div formArrayName="missions">
                    <div *ngFor="let mitem of missions.controls; let i=index;" [formGroupName]="i" class="row" [ngClass]="{ 'disabled':  mitem.controls.isArchived.value }" style="padding: 20px;">
                        <div class="col-12" >
                            <div class="ibox float-e-margins">
                                <div class="ibox-title"  [ngStyle]="{'background': color}">
                                    <h6><b>Mission : </b>&nbsp;
                                        <input type="text" class="form-control" style="display: inline-block; width: auto;;margin-top: -15px;" size="30" formControlName="name"
                                               id="dynamicMissions{{i}}"
                                               autocomplete="true" (keyup)="getMissions($event, i)">
                                        &nbsp;&nbsp; <i class="text-warning" *ngIf="mitem.controls.user && mitem.controls.user.value">
                                                        Ajouté par {{ mitem.controls.user.value.lastName + ' ' + mitem.controls.user.value.firstName }}
                                                    </i>
                                    </h6>
                                    <div class="ibox-tools" style="float: right;">
                                        <button class="btn btn-sm btn-pill btn-outline-danger" style="margin-left: 20px;margin-top: -15px;padding: 0.375rem 0.75rem;"
                                                type="button" title="Archiver" (click)="archiveMission(mitem)" *ngIf="!mitem.controls.isArchived.value" >
                                            <i class="fa fa-archive"></i>&nbsp;Archiver cette mission
                                        </button>
                                        <button class="btn btn-sm btn-pill btn-outline-danger" style="margin-left: 20px;margin-top: -15px;padding: 0.375rem 0.75rem;"
                                                type="button" *ngIf="mitem.controls.isArchived.value" >
                                            <i class="fa fa-archive"></i>&nbsp;Cette mission a été archivée
                                        </button>
                                        <button class="btn btn-sm btn-pill btn-facebook" style="margin-left: 20px;margin-top: -15px;" type="button"  (click)="addMissionItem(mitem, i)">
                                            <i class="fa fa-plus-circle"></i>&nbsp;Ajouter une opération
                                        </button>
                                        <a class="text-danger m-r-10" style="font-size: 1.2rem;" data-toggle="tooltip" title="" (click)="removeMission(mitem)" data-original-title="Supprimer la mission" >
                                            <i class="fa fa-trash-alt"></i>
                                        </a>
                                        <a class="collapse-link" id="collapse-link{{i}}" style="margin-left: 20px;font-size: 1.2rem;">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <div class="row">
                                        <table class="col-12 table table-bordered">
                                            <thead>
                                            <tr class="text-center">
                                                <th width="40%">Nom</th>
                                                <th width="10%">Qtté</th>
                                                <th width="10%" *ngIf="accounting">Bas</th>
                                                <th width="25%">Description</th>
                                                <th width="25%">Attachés</th>
                                            </tr>
                                            </thead>
                                            <tbody formArrayName="items">
                                            <tr *ngFor="let item of getMissionItems(mitem).controls; let j=index" [formGroupName]="j">
                                                <td>
                                                    <div class="row ">
                                                         <span class="col-2" style="font-weight: bold;">
                                                                <a class="btn btn-outline-danger m-r-10" title="Supprimer l'opération" style="padding: 3px 7px 3px 7px; border: none!important;" (click)="removeMissionItem(mitem, item)"><i class="fa fa-trash-alt"></i></a>
                                                             {{j + 1}}.
                                                        </span>
                                                        <input class="form-control col-9" formControlName="name" type="text" id="dynamicServices{{i}}{{j}}"
                                                               autocomplete="true" (keyup)="getServices($event, i, j)" />
                                                    </div>
                                                    <div class="row" style="padding-left: 15px;color: brown;">
                                                        <small style="font-weight: bold; color: teal;" *ngIf="item.controls.created_at"> Créé le {{ item.controls.created_at.value|date:'d, MMM, y' }}</small>
                                                    </div>
                                                </td>
                                                <td><input class="form-control" type="number" min="1" formControlName="qty"></td>
                                                <td *ngIf="accounting">
                                                    <input class="form-control" type="number" min="1.0" [ngClass]="{ 'is-invalid': hasError(i, j) }" required formControlName="bas">
                                                    <div *ngIf="hasError(i, j)" class="invalid-feedback">
                                                        <div *ngIf="getError(i, j).required">Champs requis</div>
                                                    </div>
                                                </td>
                                                <td><textarea class="form-control" formControlName="description" ></textarea></td>
                                                <td>
                                                    <input type="file" ng2FileSelect autoUpload="autoUpload" [uploader]="uploaders[i][j]" (change)="onFileSelected(i, j)" multiple  /><br/>

                                                    <table class="table-borderless table-striped" style="width: 100%;margin-top: 10px">
                                                        <tr *ngFor="let file of item.controls.files.value" style="padding:0;" class="downloaded">
                                                            <ng-container  *ngIf="!isANotToShowFile[file.id]">
                                                                <td style="padding:0;padding-bottom: 1px;"><span style="font-weight: bold; font-style: italic;">{{ file?.name }}</span></td>
                                                                <td style="padding:0;padding-bottom: 1px;" nowrap>
                                                                    <button type="button" class="btn btn-danger" style="padding: 3px 7px 3px 7px; border: none!important;margin: 0;"
                                                                            (click)="deleteDownloadedFile(i, j, file)">
                                                                        <span class="fa fa-trash"></span>
                                                                    </button>
                                                                    <a type="button" class="btn btn-info" style="padding: 3px 7px 3px 7px; border: none!important;margin: 0;margin-left: 3px;"
                                                                       target="_blank" href="{{genFileUrl(file)}}">
                                                                        <span class="fa fa-eye"></span>
                                                                    </a>
                                                                </td>
                                                            </ng-container>
                                                        </tr>
                                                        <tr *ngFor="let fileItem of uploaders[i][j].queue" style="padding:0;">
                                                            <td style="padding: 0 0 1px;"><span style="font-weight: bold; font-style: italic;">{{ fileItem?.file?.name }}</span></td>
                                                            <td style="padding:0;padding-bottom: 1px;" nowrap>
                                                                <button type="button" class="btn btn-danger" style="padding: 3px 7px 3px 7px; border: none!important;margin: 0;"
                                                                        (click)="deleteUploadedFile(i, j, fileItem)">
                                                                    <span class="fa fa-trash"></span>
                                                                </button>
                                                                <a type="button" class="btn btn-info" style="padding: 3px 7px 3px 7px; border: none!important;margin: 0;margin-left: 3px;"
                                                                   target="_blank" href="{{genItemFileUrl(fileItem)}}">
                                                                    <span class="fa fa-eye"></span>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="pull-left">
                    <button type="button" class="btn btn-flickr px-4" *ngIf="!accounting && !folder.isFenced && isFolderCloser" (click)="fenceFolder()">Cloturer</button>
                    <button type="button" class="btn btn-flickr px-4" *ngIf="accounting && folder.isFenced" (click)="reopenFolder()">Réouvrir</button>
                    <button type="button" class="btn btn-flickr px-4" *ngIf="accounting && folder.customerRef && isInvoiceValidator" (click)="generateInvoice()"><i class="fa fa-cogs"></i>&nbsp;Generer la facture</button>
                </div>
                <div class="pull-right">
                    <img *ngIf="loading" class="pl-2" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    <button [disabled]="loading" type="submit" class="btn btn-success px-4">Enregistrer</button>
                </div>
            </div>
        </div>
    </form>
    </div>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
