<div style="z-index: 99999999999;" bsModal [ngClass]="customClass || ''" class="modal " [ngStyle]="{display: show ? 'block' : 'none'}" tabindex="1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-primary" role="document">
        <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"> <i class="fa fa-ship"></i> Ajouter un navire </h4>
                    <button type="button" class="close" (click)="closeCallback()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="shipForm" (ngSubmit)="onSubmit()" style="width: 100%;">
                        <div *ngIf="error" class="alert alert-danger">{{error}}</div>
                        <div class="border-bottom">
                            <div class="row">
                                <div class="col-6">
                                    <div class="input-group mb-3" style="width: 100%;">
                                        <label style="width: 100%;">
                                            <input type="text" class="form-control" placeholder="Nom" autocomplete="username"
                                                   formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" required>
                                            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                                <div *ngIf="f.name.errors.required">Nom requis</div>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="input-group mb-3" style="width: 100%;">
                                        <label style="width: 100%;">
                                            <input type="text" class="form-control" placeholder="Loa"
                                                   formControlName="loa" [ngClass]="{ 'is-invalid': submitted && f.loa.errors }">
                                            <div *ngIf="submitted && f.loa.errors" class="invalid-feedback">
                                                <div *ngIf="f.loa.errors.required">Champs requis</div>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="input-group mb-3" style="width: 100%;">
                                        <label style="width: 100%;">
                                            <input type="text" class="form-control" placeholder="Beam"
                                                   formControlName="beam" [ngClass]="{ 'is-invalid': submitted && f.beam.errors }">
                                            <div *ngIf="submitted && f.beam.errors" class="invalid-feedback">
                                                <div *ngIf="f.beam.errors.required">Champs requis</div>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-6"><div class="input-group mb-3" style="width: 100%;">
                                    <label style="width: 100%;">
                                        <input type="email" class="form-control" placeholder="Email"
                                               formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                            <div *ngIf="f.email.errors.required">Champs requis</div>
                                        </div>
                                    </label>
                                </div></div>
                            </div>
                            <div class="row">
                                <div class="col-6"><div class="input-group mb-3" style="width: 100%;">
                                    <label style="width: 100%;">
                                        <input type="text" class="form-control" placeholder="Immarsat"
                                               formControlName="immarsat" [ngClass]="{ 'is-invalid': submitted && f.immarsat.errors }">
                                        <div *ngIf="submitted && f.immarsat.errors" class="invalid-feedback">
                                            <div *ngIf="f.immarsat.errors.required">Champs requis</div>
                                        </div>
                                    </label>
                                </div></div>
                                <div class="col-6"><div class="input-group mb-3" style="width: 100%;">
                                    <label style="width: 100%;">
                                        <input type="text" class="form-control" placeholder="Local Agent"
                                               formControlName="local_agent" [ngClass]="{ 'is-invalid': submitted && f.local_agent.errors }">
                                        <div *ngIf="submitted && f.local_agent.errors" class="invalid-feedback">
                                            <div *ngIf="f.local_agent.errors.required">Champs requis</div>
                                        </div>
                                    </label>
                                </div></div>
                            </div>
                            <div class="row">
                                <div class="col-6"><div class="input-group mb-3" style="width: 100%;">
                                    <label style="width: 100%;">
                                        <input type="text" class="form-control" placeholder="Dwt"
                                               formControlName="dwt" [ngClass]="{ 'is-invalid': submitted && f.dwt.errors }">
                                        <div *ngIf="submitted && f.dwt.errors" class="invalid-feedback">
                                            <div *ngIf="f.dwt.errors.required">Champs requis</div>
                                        </div>
                                    </label>
                                </div></div>
                                <div class="col-6"><div class="input-group mb-3" style="width: 100%;">
                                    <label style="width: 100%;">
                                        <input type="text" class="form-control" placeholder="Nbt"
                                               formControlName="nbt" [ngClass]="{ 'is-invalid': submitted && f.nbt.errors }">
                                        <div *ngIf="submitted && f.nbt.errors" class="invalid-feedback">
                                            <div *ngIf="f.nbt.errors.required">Champs requis</div>
                                        </div>
                                    </label>
                                </div></div>
                            </div>
                            <div class="row">
                                <div class="col-6"><div class="input-group mb-3" style="width: 100%;">
                                    <label style="width: 100%;">
                                        <input type="text" class="form-control" placeholder="Breath"
                                               formControlName="breath" [ngClass]="{ 'is-invalid': submitted && f.breath.errors }">
                                        <div *ngIf="submitted && f.breath.errors" class="invalid-feedback">
                                            <div *ngIf="f.breath.errors.required">Champs requis</div>
                                        </div>
                                    </label>
                                </div></div>
                                <div class="col-6"> <div class="input-group mb-3" style="width: 100%;">
                                    <label style="width: 100%;">
                                        <input type="text" class="form-control" placeholder="Depth"
                                               formControlName="depth" [ngClass]="{ 'is-invalid': submitted && f.depth.errors }">
                                        <div *ngIf="submitted && f.depth.errors" class="invalid-feedback">
                                            <div *ngIf="f.depth.errors.required">Champs requis</div>
                                        </div>
                                    </label>
                                </div></div>
                            </div>
                            <div class="row">
                                <div class="col-6"><div class="input-group mb-3" style="width: 100%;">
                                    <label style="width: 100%;">
                                        <input type="text" class="form-control" placeholder="Flag"
                                               formControlName="flag" [ngClass]="{ 'is-invalid': submitted && f.flag.errors }">
                                        <div *ngIf="submitted && f.flag.errors" class="invalid-feedback">
                                            <div *ngIf="f.flag.errors.required">Champs requis</div>
                                        </div>
                                    </label>
                                </div></div>
                                <div class="col-6"><div class="input-group mb-3" style="width: 100%;">
                                    <label style="width: 100%;">
                                        <input type="text" class="form-control" placeholder="Call Sign"
                                               formControlName="call_sign" [ngClass]="{ 'is-invalid': submitted && f.call_sign.errors }">
                                        <div *ngIf="submitted && f.call_sign.errors" class="invalid-feedback">
                                            <div *ngIf="f.call_sign.errors.required">Champs requis</div>
                                        </div>
                                    </label>
                                </div></div>
                            </div>
<!--                            <div class="input-group mb-3" style="width: 100%;">-->
<!--                                <label style="width: 100%;">-->
<!--                                    <textarea placeholder="Description" class="form-control"  autocomplete="description"-->
<!--                                              formControlName="description" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" required>-->
<!--                                    </textarea>-->
<!--                                    <div *ngIf="submitted && f.description.errors" class="invalid-feedback">-->
<!--                                        <div *ngIf="f.description.errors.required">Description requise</div>-->
<!--                                    </div>-->
<!--                                </label>-->
<!--                            </div>-->
                        </div>
                        <div class="input-group mt-4">
                            <!--    <button type="button" class="btn btn-secondary" (click)="hide(shipModal)">Annuler</button>-->
                            <button type="submit" class="btn btn-primary btn-ladda" data-style="expand-right" [ladda]='loading' >Enregistrer</button>
                        </div>
                    </form>
                </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
