<div style="z-index: 99999999999;margin-top: 5%;" bsModal [ngClass]="customClass || ''"
     class="modal " [ngStyle]="{display: show ? 'block' : 'none'}"
     tabindex="1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form [formGroup]="crewForm" (ngSubmit)="onSubmit()" style="width: 100%;">
            <div class="modal-header">
                <h4 class="modal-title"> <i class="fa fa-user-circle"></i> Ajouter un crew </h4>
                <button type="button" class="close" (click)="closeCallback()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div *ngIf="error" class="alert alert-danger">{{error}}</div>
                <div class="row">
                    <div class="col-6 input-group mb-3">
                        <label style="width: 100%;">
                            Rank du crew
                        </label>
                        <ng-select style="width: 100%;" class="form-co bootstrap" [ngClass]="{ 'is-invalid': submitted && f.rank.errors }"  placeholder="Choisir le rank du crew" [items]="crewRanks"
                                   formControlName="rank" [clearable]="true"
                                   bindValue="id" bindLabel="name">
                        </ng-select>
                        <div *ngIf="submitted && f.rank.errors" class="invalid-feedback">
                            <div *ngIf="f.rank.errors.required">Choisir le rank du crew</div>
                        </div>
                    </div>
                    <div class="col-6 input-group mb-3">
                        <label style="width: 100%;">
                            Nationalité
                        </label>
                        <input type="text" id="nationality" class="form-control nationality-country" autocomplete=""
                               formControlName="nationality" [ngClass]="{ 'is-invalid': submitted && f.nationality.errors }" required>
                        <div *ngIf="submitted && f.nationality.errors" class="invalid-feedback">
                            <div *ngIf="f.nationality.errors.required">Choisir une nationalité</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 input-group mb-3" style="width: 100%;">
                        <label style="width: 100%;">
                            Nom complet
                        </label>
                        <input type="text" class="form-control" placeholder="Entrer le nom complet" autocomplete="username"
                               formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" required>
                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                            <div *ngIf="f.name.errors.required">Nom requis</div>
                        </div>
                    </div>
                    <div class="col-6 input-group mb-3" style="width: 100%;">
                        <label style="width: 100%;">Date d'arrivée</label>
                        <input type="text"
                               class="form-control"
                               #dp="bsDatepicker"
                               bsDatepicker
                               placeholder="Seletionner la Date d'arrivée"
                               formControlName="arrivalDate"  [ngClass]="{ 'is-invalid': submitted && f.arrivalDate.errors }">
                         <div *ngIf="submitted && f.arrivalDate.errors" class="invalid-feedback">
                            <div *ngIf="f.arrivalDate.errors.required">Date d'arrivée requis</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 input-group mb-3" style="width: 100%;">
                        <label style="width: 100%;">Date de départ prévue</label>
                        <input type="text"
                               class="form-control"
                               #dp="bsDatepicker"
                               bsDatepicker
                               placeholder="Seletionner la date de départ prévue"
                               formControlName="scheduledDepartureDate"  [ngClass]="{ 'is-invalid': submitted && f.scheduledDepartureDate.errors }">
                        <div *ngIf="submitted && f.scheduledDepartureDate.errors" class="invalid-feedback">
                            <div *ngIf="f.scheduledDepartureDate.errors.required">Date d'arrivée requis</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 input-group mb-3" style="width: 100%;">
                        <div class="form-group col-form-label">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" formControlName="visa" id="checkbox4" checked aria-checked="true">
                                <label class="form-check-label" for="checkbox4">
                                    Visa ?
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 input-group mb-3" style="width: 100%;">
                        <div class="form-group col-form-label">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" formControlName="oktb" id="checkbox5" checked aria-checked="true">
                                <label class="form-check-label" for="checkbox5">
                                    OKTB visé ?
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 input-group mb-3" style="width: 100%;">
                        <div class="form-group col-form-label">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" formControlName="onSigner" id="checkbox3" checked aria-checked="true">
                                <label class="form-check-label" for="checkbox3">
                                    On-Signers ?
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-6 input-group">
                            <button type="submit" class="btn btn-primary btn-ladda" data-style="expand-right" [ladda]='loading' >Enregistrer</button>
                        </div>
                    </div>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
