<div style="z-index: 99999999999;" bsModal [ngClass]="customClass || ''" class="modal " [ngStyle]="{display: show ? 'block' : 'none'}" tabindex="1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-primary" role="document">
        <div class="modal-content">
            <form [formGroup]="shipForm" (ngSubmit)="onSubmit()">
                <div class="modal-header">
                    <h4 class="modal-title"> <i class="fa fa-ship"></i> Choisir un navire </h4>
                    <button type="button" class="close" (click)="closeCallback()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="input-group mb-3">
                                <ng-select style="width: 100%;" class="form-co bootstrap" [ngClass]="{ 'is-invalid': submitted && f.ship.errors }"  placeholder="Choisir un navire" [items]="ships"
                                    formControlName="ship" [clearable]="true"
                                    bindValue="id" bindLabel="name">
                                </ng-select>
                                <div *ngIf="submitted && f.ship.errors" class="invalid-feedback">
                                    <div *ngIf="f.ship.errors.required">Choisir un navire</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <ng-content></ng-content>
                    <button type="submit" class="btn btn-primary btn-ladda" data-style="expand-right" [ladda]='loading'>Suivant</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
