<div class="row">
    <div class="col-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title"  [ngStyle]="{'background': color}">
                <h6><b>Opérations de GARBAGE REMOVAL</b>&nbsp;</h6>
                <div class="ibox-tools" style="float: right;">
                    <a *ngIf="!isAccounter && !isFolderFenced" class="text-danger m-r-10" style="font-size: 1.2rem;" (click)="removeGarbageRemoval()"
                       data-toggle="tooltip" title=""  data-original-title="Supprimer la mission" >
                        <i class="fa fa-trash-alt"></i>
                    </a>
                    <a class="collapse-link" id="collapse-link{{boxId}}" style="margin-left: 20px;font-size: 1.2rem;">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content" [ngStyle]="{'background': color+'15'}">
                <div class="row">
                    <div class="table">
                        <table class="table table-responsive-sm table-sm table-stripped">
                            <tr>
                                <td class="font-weight-bold">Removal of {{garbage?.product?.name}}</td>
                                <td>avec la vedette: <span class="font-weight-bolder text-info">{{garbage?.boat?.name}}</span></td>
                                <td>le {{garbage?.created_at|date : 'dd/MM/yyyy' }}</td>
                                <td><a class="text-danger font-weight-bold">Détail</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
