<div *ngIf="folder" class="card">
    <div class="card-header">
        <h5 style="display:inline-block;">Consignation du nouveau navire</h5>
        <a style="display:inline-block;" *ngIf="canUpdateConsignation"  (click)="editFolder()" class="btn-link text-danger pull-right"><strong>Editer</strong></a>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <div class="col-12 row" style="margin-top: 10px;">
                                <label>Client</label>
                                <input class="form-control" type="text"  disabled required value="{{ folder.customer.name }}">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="col-12 row" style="margin-top: 10px;">
                                <label>Référence client</label>
                                <input class="form-control" type="text"  disabled required value="{{folder.customerRef}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group" style="margin-top: 10px;">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-check">
                                <input class="form-check-input" disabled type="checkbox" [checked]="folder.consignation.isNominationReceived" id="checkbox1" checked aria-checked="false">
                                <label class="form-check-label" for="checkbox1">
                                    Nomination reçu ?
                                </label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-check">
                                <input class="form-check-input" disabled type="checkbox"  [checked]="folder.consignation.isPortInfoSent" id="checkbox2"  aria-checked="false">
                                <label class="form-check-label" for="checkbox2">
                                    Port Info envoyé ?
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-check">
                                <input class="form-check-input" disabled type="checkbox" [checked]="folder.consignation.isNavyClearance" id="checkboxIsNv"  aria-checked="false">
                                <label class="form-check-label" for="checkboxIsNv">
                                    NavyClearance ?
                                </label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-check">
                                <input class="form-check-input" disabled type="checkbox" [checked]="folder.consignation.isHusbandry" id="checkboxIsHus"  aria-checked="false">
                                <label class="form-check-label" for="checkboxIsHus">
                                    Husbandry ?
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 border-left">
                <div class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <label>Navire </label>
                            <input class="form-control" type="text"  disabled required value="{{folder.ship.name}}">
                        </div>
                        <div class="col-6">
                            <label>Type de consignation</label>
                            <input class="form-control" type="text"  disabled required value="{{folder.consignation.consignation_type.name}}">
                        </div>
                    </div>
                </div>
                <div class="form-group" style="margin-top: 30px;">
                    <div class="row">
                        <div class="col-6">
                            <label>Date d'arrivée du navire </label>
                            <input class="form-control" type="text"  disabled required value="{{folder.shipArrivalDate|date:'dd/MM/yyyy' }}">
                        </div>
                        <div class="col-6">
                            <label>Date de départ du navire</label>
                            <input class="form-control" type="text"  disabled required value="{{folder.shipDepartureDate|date:'dd/MM/yyyy' }}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 border-left">
                <div class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <label >Numéro du dossier</label>
                            <input class="form-control" disabled type="text" value="{{folder.numberString}}">
                        </div>
                    </div>
                </div>
                <div class="form-group" style="margin-top: 30px;">
                    <div class="row">
                        <div class="col-6">
                            <label>Date de création</label>
                            <input class="form-control" disabled type="text" value="{{ folder.created_at|date:'dd/MM/yyyy' }}">
                        </div>
                        <div class="col-6">
                            <label>Date de clôture</label>
                            <input class="form-control" disabled type="text" value="Non défini">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
