<div class="animated fadeIn">
    <div class="card">
        <div class="card-header">
            <h3>Dossiers
                <button *ngIf="!isAccounter" (click)="goToAddFolder()" type="button" class="btn btn-brand btn-github mr-1 pull-right" style="margin-bottom: 4px">
                    <i class="fa fa-plus-circle"></i>
                    <span>Créer</span>
                </button>
            </h3>
        </div>
        <div class="card-body">
            <div class="row mb-3">
                <div class="col-md-4 offset-md-8">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-search"></i></span>
                        </div>
                        <input [(ngModel)]="filterQuery" class="form-control" placeholder="Rechercher par le libellé, client, date" type="text"/>
                    </div>
                </div>
            </div>
            <div class="mat-elevation-z8">
                <table class="table table-striped table-hover table-responsive-lg"
                       [mfData]="folders | dataFilter2 : filterQuery" [mfRowsOnPage]="10" #mf="mfDataTable">
                    <thead>
                    <tr>
                        <th>
                            <mfDefaultSorter by="number">Numéro</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="ship">Navire</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="customer">Client</mfDefaultSorter>
                        </th>
                        <th style="width: 20%">
                            Action
                        </th>
                    </tr>
                    </thead>
                    <tbody *ngIf="folders && folders.length; else no_content">
                    <tr *ngIf="loading">
                        <td colspan="3" style="text-align: center;background-color: white;"><img style="height: 70px;" src="assets/loading.gif" alt=""></td>
                    </tr>
                    <tr *ngFor="let folder of mf.data">
                        <td>{{folder.number}} <span  class="badge badge-danger ml-2" *ngIf="folder.isFenced">Cloturé</span></td>
                        <td>{{folder.ship.name}}</td>
                        <td>{{folder.customer.name}}</td>
                        <td>
                            <div class="btn-group">
                                <button (click)="editFolder(folder)" type="button" class="btn btn-brand btn-twitter mr-1" style="margin-bottom: 4px">
                                    <i class="fa fa-folder-open"></i>
                                </button>
<!--                                <button *ngIf="!folder.pda" (click)="addPDA(folder)" type="button" class="btn btn-brand btn-success mr-1" style="margin-bottom: 4px">-->
<!--                                    <i class="fa fa-file-powerpoint-o"></i>-->
<!--                                </button>-->
                                <button *ngIf="isFolderDeleter" (click)="confirmDeleteFolder(folder)" type="button" class="btn btn-brand btn-danger mr-1" style="margin-bottom: 4px">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                    <ng-template #no_content>
                        <tbody>
                        <tr *ngIf="loading">
                            <td colspan="3" style="text-align: center;background-color: white;"><img style="height: 70px;" src="assets/loading.gif" alt=""></td>
                        </tr>
                        <tr *ngIf="!loading">
                            <td>Aucune donnée.</td>
                        </tr>
                        </tbody>
                    </ng-template>
                    <tfoot>
                    <tr>
                        <td colspan="7">
                            <mfBootstrapPaginator [rowsOnPageSet]="[1,10,15]"></mfBootstrapPaginator>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<swal
    #deleteSwal
    [showCancelButton]="true">
</swal>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
