<div class="row">
    <div class="col-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title"  [ngStyle]="{'background': color}">
                <h6><b>Opérations de CREW CHANGE</b>&nbsp; crée le {{crewChange?.created_at|date : 'dd/MM/yyyy'}}</h6>
                <div class="ibox-tools" style="float: right;">
                    <a *ngIf="!isAccounter && !isFolderFenced" class="text-danger m-r-10" style="font-size: 1.2rem;" (click)="removeCrewChange()"
                       data-toggle="tooltip" title=""  data-original-title="Supprimer la mission" >
                        <i class="fa fa-trash-alt"></i>
                    </a>
                    <a class="collapse-link" id="collapse-link{{boxId}}" style="margin-left: 20px;font-size: 1.2rem;">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content" [ngStyle]="{'background': color+'15'}">
                <div class="row border-bottom">
                    <div class="row col-12 align-items-center" style="padding-bottom: 10px;">
                        <div class="mr-3 mb-xl-0">
                            <button class="btn btn-pill  btn-secondary active" type="button" aria-pressed="true"  (click)="toggleAddCrew()"> <i class="fa fa-plus-circle"></i>  Ajouter un CREW</button>
                        </div>

                        <div class="mr-3 mb-xl-0">
                            <button class="btn btn-pill  btn-secondary active" type="button" aria-pressed="true"  (click)="toggleAddVessel()"> <i class="fa fa-plus-circle"></i>  Ajouter un VESSEL</button>
                        </div>

                        <div class="mr-3 mb-xl-0">
                            <button class="btn btn-pill  btn-secondary active" type="button" aria-pressed="true"  (click)="toggleAddHotel()"> <i class="fa fa-plus-circle"></i>  Ajouter un HOTEL</button>
                        </div>

                        <div class="mr-3 mb-xl-0">
                            <button class="btn btn-pill  btn-secondary active" type="button" aria-pressed="true" (click)="toggleOktbOpsModal()"> <i class="fa fa-plus-circle"></i>  Ajouter un OKTB</button>
                        </div>

                        <div class="btn-group" dropdown>
                            <button dropdownToggle class="btn btn-pill dropdown-toggle" id="dropdownMenu3" type="button"
                                    style="padding: .375rem .75rem;user-select: none;font-size: 12px;font-weight: 900!important;color: #4f5d73;background-color: #ced2d8;">
                                <i class="fa fa-list"></i>  Opérations diverses
                            </button>
                            <ul *dropdownMenu role="menu" class="dropdown-menu" style="margin: 0px;">
                                <h6 class="dropdown-header">Opérations principales</h6>

                                <li role="menuitem">
                                    <a class="dropdown-item"  (click)="toggleVisaOpsModal()">Visa</a>
                                </li>
                                <li role="menuitem">
                                    <a class="dropdown-item"  (click)="toggleTransportOpsModal()">Transport</a>
                                </li>
                                <li role="menuitem">
                                    <a class="dropdown-item"  (click)="toggleBoardingOpsModal()">Boarding</a>
                                </li>
                                <li role="menuitem">
                                    <a class="dropdown-item"  (click)="toggleDisembarkOpsModal()">Disembark.</a>
                                </li>
                                <li role="menuitem">
                                    <a class="dropdown-item"  (click)="toggleTransfertOpsModal()">Transfert</a>
                                </li>

                            </ul>
                        </div>
<!--                        <div class="btn-group" dropdown>-->
<!--                            <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">-->
<!--                                &nbsp;<i class="fa fa-plus-circle"></i> Ajouter des missions <span class="caret"></span>-->
<!--                            </button>-->
<!--                            <ul *dropdownMenu class="dropdown-menu" role="menu">-->
<!--                                <li role="menuitem" *ngFor="let mission_type of mission_types">-->
<!--                                    <a class="dropdown-item" href="javascript:void(0)" (click)="genTemplateFor(mission_type)">{{ mission_type.name }}</a>-->
<!--                                </li>-->
<!--                                &lt;!&ndash;                        <li class="divider dropdown-divider"></li>&ndash;&gt;-->
<!--                            </ul>-->
<!--                        </div>-->

                    </div>
                </div>
                <div class="row">
                    <div class="table">
                        <table class="table table-responsive-sm table-sm table-stripped">
                            <tr *ngFor="let operation of crewChange?.operations">

                                <ng-template [ngIf]="operation.label == 'OKTB'">
                                    <td class="font-weight-bold">{{operation.label}}</td>
                                    <td>pour <span class="font-weight-bolder text-info">{{operation.crew.name}}</span></td>
                                    <td>Nationalité: <span class="font-weight-bolder text-info">{{operation.crew.nationality}}</span></td>
                                    <td>le {{operation.created_at|date : 'dd/MM/yyyy' }}</td>
                                    <td><a (click)="goToDetail()" class="text-danger font-weight-bold">Détail</a></td>
                                </ng-template>
                                <ng-template [ngIf]="operation.label == 'TRANSPORT'">
                                    <td class="font-weight-bold">{{operation.label}}</td>
                                    <td>de {{operation.crews.length }} CREW</td>
                                    <td>{{operation.type.name}} : {{operation?.hotel?.name}} {{operation?.clinic?.name}} convoyé par {{operation?.carrier?.name}} </td>
                                    <td>le {{operation.created_at|date : 'dd/MM/yyyy' }}</td>
                                    <td><a (click)="goToDetail()" class="text-danger font-weight-bold">Détail</a></td>
                                </ng-template>
                                <ng-template [ngIf]="operation.label == 'TRANSFERT'">
                                    <td class="font-weight-bold">{{operation.label}}</td>
                                    <td>de {{operation.crews.length }} CREW</td>
                                    <td>de : {{operation?.fromShip?.name}} à  {{operation?.departure_ship_distance}} NM | sur : {{operation?.toShip?.name}} à  {{operation?.destination_ship_distance}} NM | Boat arrangé {{operation?.boat?.name}}  </td>
                                    <td>le {{operation.created_at|date : 'dd/MM/yyyy' }}</td>
                                    <td><a (click)="goToDetail()" class="text-danger font-weight-bold">Détail</a></td>
                                </ng-template>
                                <ng-template [ngIf]="operation.label == 'EMBARKATION'">
                                    <td class="font-weight-bold">{{operation.label}}</td>
                                    <td>de {{operation.crews.length }} CREW</td>
                                    <td>sur : {{operation?.toShip?.name}} à  {{operation?.distance}} NM | Boat arrangé {{operation?.boat?.name}}  </td>
                                    <td>le {{operation.created_at|date : 'dd/MM/yyyy' }}</td>
                                    <td><a (click)="goToDetail()" class="text-danger font-weight-bold">Détail</a></td>
                                </ng-template>
                                <ng-template [ngIf]="operation.label == 'DISEMBARKATION'">
                                    <td class="font-weight-bold">{{operation.label}}</td>
                                    <td>de {{operation.crews.length }} CREW</td>
                                    <td>sur : {{operation?.fromShip?.name}} à  {{operation?.distance}} NM | Boat arrangé {{operation?.boat?.name}}  </td>
                                    <td>le {{operation.created_at|date : 'dd/MM/yyyy' }}</td>
                                    <td><a (click)="goToDetail()" class="text-danger font-weight-bold">Détail</a></td>
                                </ng-template>

                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



<app-add-vessel
    [folderId]="folderId"
    [show]='showAddVesselModal'
    [closeCallback]="toggleAddVessel"
    [ngStyle]="{display: showAddVesselModal ? 'block' : 'none'}"
></app-add-vessel>
<app-add-crew
    [folderId]="folderId"
    [show]='showAddCrewModal'
    [closeCallback]="toggleAddCrew"
    [ngStyle]="{display: showAddCrewModal ? 'block' : 'none'}"
    (onCreate)="addCrew($event)"
></app-add-crew>
<app-add-hotel-modal
    [show]='showAddHotelModal'
    [closeCallback]="toggleAddHotel"
    [ngStyle]="{display: showAddHotelModal ? 'block' : 'none'}"
></app-add-hotel-modal>

<app-oktb-operation
    [folderId]="folderId"
    [crewChangeId]="crewChangeId"
    [show]='showOktbOpsModal'
    [closeCallback]="toggleOktbOpsModal"
    [ngStyle]="{display: showOktbOpsModal ? 'block' : 'none'}"
></app-oktb-operation>
<app-visa-operation
    [folderId]="folderId"
    [crewChangeId]="crewChangeId"
    [show]='showVisaOpsModal'
    [closeCallback]="toggleVisaOpsModal"
    [ngStyle]="{display: showVisaOpsModal ? 'block' : 'none'}"
></app-visa-operation>
<app-transport-operation
    [folderId]="folderId"
    [crewChangeId]="crewChangeId"
    [show]='showTransportOpsModal'
    [closeCallback]="toggleTransportOpsModal"
    [ngStyle]="{display: showTransportOpsModal ? 'block' : 'none'}"
    (onCreate)="addTransport($event)"
></app-transport-operation>
<app-transfert-operation
    [folderId]="folderId"
    [crewChangeId]="crewChangeId"
    [show]='showTransfertOpsModal'
    [closeCallback]="toggleTransfertOpsModal"
    [ngStyle]="{display: showTransfertOpsModal ? 'block' : 'none'}"
    (onCreate)="addTransport($event)"
></app-transfert-operation>
<app-boarding-operation
    [folderId]="folderId"
    [crewChangeId]="crewChangeId"
    [show]='showBoardingOpsModal'
    [closeCallback]="toggleBoardingOpsModal"
    [ngStyle]="{display: showBoardingOpsModal ? 'block' : 'none'}"
    (onCreate)="addTransport($event)"
></app-boarding-operation>
<app-disembark-operation
    [folderId]="folderId"
    [crewChangeId]="crewChangeId"
    [show]='showDisembarkOpsModal'
    [closeCallback]="toggleDisembarkOpsModal"
    [ngStyle]="{display: showDisembarkOpsModal ? 'block' : 'none'}"
    (onCreate)="addTransport($event)"
></app-disembark-operation>
