.ibox-title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #acdeda;
    border-color: #e7eaec;
    -o-border-image: none;
    border-image: none;
    border-style: solid solid solid;
    border-width: 3px 0 0;
    color: inherit;
    margin-bottom: 0;
    padding: 14px 15px 7px;
    min-height: 48px;
}

.btn-secondary {
    font-size: 12px!important;
    color: white!important;
    font-weight: 400!important;
}

.dropdown-header {
    padding: .5rem 1.25rem;
    margin-bottom: 0;
    font-size: .765625rem;
    white-space: nowrap;
    color: #8a93a2;
    background: white;
    font-weight: 900!important;
    line-height: 1.2;
}
