<!--suppress ALL -->
<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-header">
                <h6 style="display: inline-block;"><b>Opérations de CREW CHANGE</b>&nbsp; crée le {{crewChange?.created_at|date : 'dd/MM/yyyy'}}</h6>
                <a *ngIf="!isAccounter && !isFolderFenced" class="text-danger pull-right" style="display: inline-block;font-size: 1.2rem;" (click)="removeCrewChange()"
                   data-toggle="tooltip" title=""  data-original-title="Supprimer la mission" >
                    <i class="fa fa-trash-alt"></i>
                </a>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div  *ngFor="let operation of crewChange?.operations; let i = index" class="ibox float-e-margins">
                            <ng-template [ngIf]="operation.label == 'OKTB'">
                                <div class="ibox-title"  [ngStyle]="{'background': color}">
                                    {{operation.label}}
                                    <div class="ibox-tools" style="float: right;">
                                        <a *ngIf="!isAccounter && !isFolderFenced" class="text-danger m-r-10" style="font-size: 1.2rem;" (click)="removeCrewChange()"
                                           data-toggle="tooltip" title=""  data-original-title="Supprimer la mission" >
                                            <i class="fa fa-trash-alt"></i>
                                        </a>
                                        <a class="collapse-link" id="collapse-link{{i}}" style="margin-left: 20px;font-size: 1.2rem;">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content" [ngStyle]="{'background': color+ (15+i).toString()}">
                                    <div class="row">
                                        <div class="table">
                                            <table class="table table-responsive-sm table-sm table-stripped">
                                                <td class="font-weight-bold">{{operation.label}}</td>
                                                <td>pour <span class="font-weight-bolder text-info">{{operation.crew?.name}}</span></td>
                                                <td>Nationalité: <span class="font-weight-bolder text-info">{{operation.crew?.nationality}}</span></td>
                                                <td>le {{operation.created_at|date : 'dd/MM/yyyy' }}</td>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template [ngIf]="operation.label == 'VISA'">
                                <div class="ibox-title"  [ngStyle]="{'background': color}">
                                    {{operation.label}}
                                    <div class="ibox-tools" style="float: right;">
                                        <a *ngIf="!isAccounter && !isFolderFenced" class="text-danger m-r-10" style="font-size: 1.2rem;" (click)="removeCrewChange()"
                                           data-toggle="tooltip" title=""  data-original-title="Supprimer la mission" >
                                            <i class="fa fa-trash-alt"></i>
                                        </a>
                                        <a class="collapse-link" id="collapse-link{{i}}" style="margin-left: 20px;font-size: 1.2rem;">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content" [ngStyle]="{'background': color+ (15+i).toString()}">
                                    <div class="row">
                                        <div class="table">
                                            <table class="table table-responsive-sm table-sm table-stripped">
                                                <td class="font-weight-bold">{{operation.label}}</td>
                                                <td>de {{operation.crews.length }} CREW</td>
                                                <td>{{operation.type.name}} : {{operation?.hotel?.name}} {{operation?.clinic?.name}} convoyé par {{operation?.carrier?.name}} </td>
                                                <td>le {{operation.created_at|date : 'dd/MM/yyyy' }}</td>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template [ngIf]="operation.label == 'TRANSPORT'">
                                <div class="ibox-title"  [ngStyle]="{'background': color}">
                                    {{operation.label}}
                                    <div class="ibox-tools" style="float: right;">
                                        <a *ngIf="!isAccounter && !isFolderFenced" class="text-danger m-r-10" style="font-size: 1.2rem;" (click)="removeCrewChange()"
                                           data-toggle="tooltip" title=""  data-original-title="Supprimer la mission" >
                                            <i class="fa fa-trash-alt"></i>
                                        </a>
                                        <a class="collapse-link" id="collapse-link{{i}}" style="margin-left: 20px;font-size: 1.2rem;">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content" [ngStyle]="{'background': color+ (15+i).toString()}">
                                    <div class="row">
                                        <div class="table">
                                            <table class="table table-responsive-sm table-sm table-stripped">
                                                <td class="font-weight-bold">{{operation.label}}</td>
                                                <td>de {{operation.crews.length }} CREW</td>
                                                <td>{{operation.type.name}} : {{operation?.hotel?.name}} {{operation?.clinic?.name}} convoyé par {{operation?.carrier?.name}} </td>
                                                <td>le {{operation.created_at|date : 'dd/MM/yyyy' }}</td>
                                                <td><a (click)="goToDetail()" class="text-danger font-weight-bold">Détail</a></td>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template [ngIf]="operation.label == 'EMBARKATION'">
                                <div class="ibox-title"  [ngStyle]="{'background': color}">
                                    <span class="font-weight-bold">{{operation.label}} crée le  {{operation.created_at|date : 'dd/MM/yyyy' }}</span>
                                    <div class="ibox-tools" style="float: right;">
                                        <a *ngIf="!isAccounter && !isFolderFenced" class="text-danger m-r-10" style="font-size: 1.2rem;" (click)="removeCrewChange()"
                                           data-toggle="tooltip" title=""  data-original-title="Supprimer la mission" >
                                            <i class="fa fa-trash-alt"></i>
                                        </a>
                                        <a class="collapse-link" id="collapse-link{{i}}" style="margin-left: 20px;font-size: 1.2rem;">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content" [ngStyle]="{'background': color+ (15+i).toString()}">
                                    <div class="row">
                                        <div class="table">

                                            <table class="table table-responsive-sm table-sm table-stripped">
                                                <tr>
                                                    <th  class="font-weight-bold">To Ship: </th>
                                                    <td> {{operation?.toShip?.name}} </td>
                                                </tr>
                                                <tr>
                                                    <th  class="font-weight-bold">Distance: </th>
                                                    <td>{{operation?.distance}} </td>
                                                </tr>
                                                <tr>
                                                    <th  class="font-weight-bold">Description: </th>
                                                    <td>{{operation?.description}} </td>
                                                </tr>
                                                <tr>
                                                    <th  class="font-weight-bold">Boat arrangé: </th>
                                                    <td>{{operation?.boat?.name}} </td>
                                                </tr>
                                                <tr>
                                                    <th  class="font-weight-bold">Boat Note: </th>
                                                    <td><a *ngIf="operation.boat_note" target="_blank" href="{{ uploadPath }}/{{operation.boat_note.name}}">{{operation.boat_note.name}}</a> </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template [ngIf]="operation.label == 'DISEMBARKATION'">
                                <div class="ibox-title"  [ngStyle]="{'background': color}">
                                    {{operation.label}}
                                    <div class="ibox-tools" style="float: right;">
                                        <a *ngIf="!isAccounter && !isFolderFenced" class="text-danger m-r-10" style="font-size: 1.2rem;" (click)="removeCrewChange()"
                                           data-toggle="tooltip" title=""  data-original-title="Supprimer la mission" >
                                            <i class="fa fa-trash-alt"></i>
                                        </a>
                                        <a class="collapse-link" id="collapse-link{{i}}" style="margin-left: 20px;font-size: 1.2rem;">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content" [ngStyle]="{'background': color+ (15+i).toString()}">
                                    <div class="row">
                                        <div class="table">
                                            <table class="table table-responsive-sm table-sm table-stripped">
                                                <td class="font-weight-bold">{{operation.label}}</td>
                                                <td>de {{operation.crews.length }} CREW</td>
                                                <td>sur : {{operation?.fromShip?.name}} à  {{operation?.distance}} NM | Boat arrangé {{operation?.boat?.name}}  </td>
                                                <td>le {{operation.created_at|date : 'dd/MM/yyyy' }}</td>
                                                <td><a (click)="goToDetail()" class="text-danger font-weight-bold">Détail</a></td>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template [ngIf]="operation.label == 'TRANSFERT'">
                                <div class="ibox-title"  [ngStyle]="{'background': color}">
                                    {{operation.label}}
                                    <div class="ibox-tools" style="float: right;">
                                        <a *ngIf="!isAccounter && !isFolderFenced" class="text-danger m-r-10" style="font-size: 1.2rem;" (click)="removeCrewChange()"
                                           data-toggle="tooltip" title=""  data-original-title="Supprimer la mission" >
                                            <i class="fa fa-trash-alt"></i>
                                        </a>
                                        <a class="collapse-link" id="collapse-link{{i}}" style="margin-left: 20px;font-size: 1.2rem;">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content" [ngStyle]="{'background': color+ (15+i).toString()}">
                                    <div class="row">
                                        <div class="table">
                                            <table class="table table-responsive-sm table-sm table-stripped">
                                                <td class="font-weight-bold">{{operation.label}}</td>
                                                <td>de {{operation.crews.length }} CREW</td>
                                                <td>de : {{operation?.fromShip?.name}} à  {{operation?.departure_ship_distance}} NM | sur : {{operation?.toShip?.name}} à  {{operation?.destination_ship_distance}} NM | Boat arrangé {{operation?.boat?.name}}  </td>
                                                <td>le {{operation.created_at|date : 'dd/MM/yyyy' }}</td>
                                                <td><a (click)="goToDetail()" class="text-danger font-weight-bold">Détail</a></td>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                <h6><b>Crew list</b></h6>
            </div>
            <div class="card-body" style="padding:0;">
                <style>
                    table.table th, table.table td {
                        padding-top: 0.2rem;
                        padding-bottom: 0.2rem;
                    }
                </style>
                <table *ngIf="folder" class="table table-responsive-sm table-bordered table-dark">
                    <tr *ngFor="let crew of this.folder.crews">
                        <td><small>{{ crew.name }}</small></td>
                        <td><small>{{ crew.nationality }}</small></td>
                        <!--                    <td>{{ crew.scheduledDepartureDate }}</td>-->
                        <td><small>{{ crew.onSigner ? 'ON' : 'OFF' }}</small></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>




<app-add-vessel
    [folderId]="folderId"
    [show]='showAddVesselModal'
    [closeCallback]="toggleAddVessel"
    [ngStyle]="{display: showAddVesselModal ? 'block' : 'none'}"
></app-add-vessel>
<app-add-crew
    [folderId]="folderId"
    [show]='showAddCrewModal'
    [closeCallback]="toggleAddCrew"
    [ngStyle]="{display: showAddCrewModal ? 'block' : 'none'}"
    (onCreate)="addCrew($event)"
></app-add-crew>
<app-add-hotel-modal
    [show]='showAddHotelModal'
    [closeCallback]="toggleAddHotel"
    [ngStyle]="{display: showAddHotelModal ? 'block' : 'none'}"
></app-add-hotel-modal>

<app-oktb-operation
    [folderId]="folderId"
    [crewChangeId]="crewChangeId"
    [show]='showOktbOpsModal'
    [closeCallback]="toggleOktbOpsModal"
    [ngStyle]="{display: showOktbOpsModal ? 'block' : 'none'}"
></app-oktb-operation>
<app-visa-operation
    [folderId]="folderId"
    [crewChangeId]="crewChangeId"
    [show]='showVisaOpsModal'
    [closeCallback]="toggleVisaOpsModal"
    [ngStyle]="{display: showVisaOpsModal ? 'block' : 'none'}"
></app-visa-operation>
<app-transport-operation
    [folderId]="folderId"
    [crewChangeId]="crewChangeId"
    [show]='showTransportOpsModal'
    [closeCallback]="toggleTransportOpsModal"
    [ngStyle]="{display: showTransportOpsModal ? 'block' : 'none'}"
    (onCreate)="addTransport($event)"
></app-transport-operation>
