#printable {
    background-color: white!important;
    color: #000;
    padding-top: 30px;
    padding-bottom: 30px;
    -webkit-print-color-adjust:exact;
    color-adjust:exact
}
.start>.row>.cbold>.underlined, .row>.start>.cbold>.underlined {
    text-align: left!important;
}
.end>.cbold>.underlined {
    text-align: right!important;
}
.cbold {
    font-weight: 600;
    font-size: 1rem;
    margin: 10px 0 0 10px;
}
.underlined {
    text-decoration: underline!important;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}
.crow {
    margin-bottom: 20px!important;
}
.check {
    padding: 5px 8px!important;
}
.box {
    border: 1px outset black;
    font-weight: 500;
    font-style: italic;
    font-size: 1.3em;
    padding: 2px 2px 2px 10px;
}
.text {
    margin-top: 0;
    font-weight: 100;
    font-style: italic;
    color: blue;
}
.dotted {
    text-decoration: dotted;
    border-bottom: black 2px dotted;
    padding-top: 10px;
    font-weight: bold;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
}

.pgray { background-color: #5c6873; }


@media print {
    body{ font-size: 2rem!important;background-color:#FFFFFF; background-image:none; color:#000000; -webkit-print-color-adjust:exact; color-adjust:exact }
    #printable {
        background-color: #fff967;
        color: #000;
    }
    .start>.row>.cbold>.underlined, .row>.start>.cbold>.underlined {
        text-align: left!important;
    }
    .end>.cbold>.underlined {
        text-align: right!important;
    }
    .cbold {
        font-weight: 600;
        font-size: 1rem;
        margin: 10px 0 0 10px;
    }
    .underlined {
        text-decoration: underline!important;
        font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    }
    .crow {
        margin-bottom: 20px!important;
    }
    .box {
        border: 1px outset black;
        padding: 2px;
    }
    .dotted {
        text-decoration: dotted;
        border-bottom: black 2px dotted;
        padding-top: 10px;
        font-weight: bold;
    }
    .pgray { background-color: #5c6873; }
}

