<div class="animated fadeIn">
    <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <button printTitle="Facture" printSectionId="printable"
                                class="btn btn-floating" [printStyle]="{ 'body': { 'background-color': 'white!important' }, '.pgray': { 'background-color': '#5c6873' }  }"
                                [useExistingCss]="true" ngxPrint><i class="fa fa-print"></i>&nbsp;Imprimer</button>
                    </div>
                    <div class="card-body mat-elevation-z8">
                        <div id="printable" class="row bg-white" >
                            <div class="col-md-12 bg-white">
                                <div class="row bg-white">
                                    <h3 class="col-md-12 text-center bg-white" style="font-weight: bold; margin-bottom: 30px; margin-top: 30px"> FICHE INTERNE DE FINANCEMENT </h3>
                                </div>
                                <div class="row crow">
                                    <div class="col-md-6 start">
                                        <div class="row">
                                            <span class="col-md-2 cbold">De:&nbsp;&nbsp;</span>
                                            <span class="col-md-9 dotted" *ngIf="sheet"> {{ sheet.from }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 end">
                                        <div class="row">
                                            <span class="col-md-3 cbold">Date:</span>
                                            <span class="col-md-8 dotted" *ngIf="sheet">{{ sheet.date|date:'dd/LL/yyyy' }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row crow">
                                    <div class="col-md-6 start">
                                        <div class="row">
                                            <span class="col-md-2 cbold">A:&nbsp;&nbsp;</span>
                                            <span class="col-md-9 dotted" *ngIf="sheet"> {{ sheet.to }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 end">
                                        <div class="row">
                                            <span class="col-md-5 cbold start">Exploitation:&nbsp;&nbsp;
                                                 <span class="check box"  style="padding: 0px 5px !important;" *ngIf="sheet && sheet.investment_type && sheet.investment_type.label == 'Exploitation'">
                                                    <i class="fa fa-check"></i>
                                                </span>
                                            </span>
                                            <span class="col-md-6 cbold">Administration:&nbsp;&nbsp;
                                                <span class="check box" style="padding: 0px 5px !important;" *ngIf="sheet && sheet.investment_type && sheet.investment_type.label == 'Administration'">
                                                    <i class="fa fa-check"></i>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row crow">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <span class="col-md-4 cbold start">Veuillez émettre le chèque à l'ordre:&nbsp;&nbsp;</span>
                                            <span class="col-md-7 dotted end" *ngIf="sheet"> {{ sheet.checkOrder }}</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row crow">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th style="font-weight: bold;">N°</th>
                                            <th style="font-weight: bold;">REPERTOIRE DOSSIER</th>
                                            <th style="font-weight: bold;">MONTANT DEMANDE</th>
                                            <th style="font-weight: bold;">DESCRIPTION</th>
                                            <th style="font-weight: bold;">MONTANT ACCORDE</th>
                                            <th style="font-weight: bold;">OBSERVATION</th>
                                        </tr>
                                        </thead>
                                        <tbody *ngIf="sheet">
                                        <tr *ngFor="let item of sheet.items; let i = index">
                                            <td>{{ i +1 }}</td>
                                            <td>{{ item.folder }}</td>
                                            <td>{{ item.amountRequested | number:'.2' }}</td>
                                            <td>{{ item.description }}</td>
                                            <td>{{ item.amountAwarded | number:'.2' }}</td>
                                            <td>{{ item.observations }}</td>
                                        </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="2" class="pgray bg-dark" style="padding: 0;"><p class="pgray bg-dark" style="margin:0; width: 100%;height: 54px;">&nbsp;</p></td>
                                                <td>{{ totalReq | number:'.2' }}</td>
                                                <td style="font-weight: bold;">MONTANT TOTAL</td>
                                                <td>{{ totalAwarded | number:'.2' }}</td>
                                                <td class="pgray bg-dark"  style="padding: 0;"><p class="pgray bg-dark"  style="margin:0; width: 100%;height: 54px;">&nbsp;</p></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <div class="row crow">
                                    <span class="col-md-2 cbold">Montant en lettre: </span>
                                    <span class="col-md-9 dotted cbold text" *ngIf="sheet">
                                        {{ toLetter(totalAwarded) }}
                                    </span>
                                </div>
                                <div class="row"  style="margin-bottom: 50px;">
                                    <div class="col-md-12 row">
                                        <div class="col-md-4">
                                            <p class="col-12 text-center cbold">DG</p>
                                            <p class="col-12 text-center"></p>
                                        </div>
                                        <div class="col-md-4">
                                            <p class="col-12 text-center cbold">FINANCE</p>
                                            <p></p>
                                        </div>
                                        <div class="col-md-4">
                                            <p class="col-12 text-center cbold">COMPTABILITE</p>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
