<div class="animated fadeIn">
    <div class="row">

        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="left btn-group" style="display: inline-block;" dropdown>
                        <button type="button" class="btn btn-primary" (click)="backToList()">
                            &nbsp;<i class="fa fa-arrow-left"></i>
                        </button>
                    </div>
                     <h5 style="display: inline-block;margin-left: 5px;">Détail de l'opération</h5>
                </div>
                <div class="card-body">
                    <div class="row" #operationsZone></div>
                </div>
                <div class="card-footer">
                    <ng-content></ng-content>
                    <!--        <button type="submit" class="btn btn-primary btn-ladda pull-right" data-style="expand-right" [ladda]='loading'>Suivant</button>-->
                </div>
            </div>
        </div>

    </div>
</div>
