<div class="card">
    <div class="card-header">
        <h5 style="display: inline-block;">Liste des opérations</h5>
        <div *ngIf="!folder.isFenced" class="pull-right btn-group" style="display: inline-block;" dropdown>
            <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
                &nbsp;<i class="fa fa-plus-circle"></i> Ajouter des missions <span class="caret"></span>
            </button>
            <ul *dropdownMenu class="dropdown-menu" role="menu">
                <li role="menuitem" *ngFor="let mission_type of mission_types">
                    <a class="dropdown-item" *ngIf="!folder.isFenced" href="javascript:void(0)" (click)="addNewComponent(mission_type)">{{ mission_type.title }}</a>
                </li>
                <!--                        <li class="divider dropdown-divider"></li>-->
            </ul>
        </div>
    </div>
    <div class="card-body">
        <div class="row" #operationsZone></div>
    </div>
    <div class="card-footer">
        <ng-content></ng-content>
<!--        <button type="submit" class="btn btn-primary btn-ladda pull-right" data-style="expand-right" [ladda]='loading'>Suivant</button>-->
    </div>
</div>

<app-garbage-operation-modal
    [folderId]="folderId"
    [show]='showAddGarbageModal'
    [closeCallback]="toggleAddGarbage"
    [ngStyle]="{display: showAddGarbageModal ? 'block' : 'none'}"
    (onCreate)="addGarbageRemoval($event)"
></app-garbage-operation-modal>
<app-ctm-operation-modal
    [folderId]="folderId"
    [show]='showAddCtm'
    [closeCallback]="toggleAddCtm"
    [ngStyle]="{display: showAddCtm ? 'block' : 'none'}"
    (onCreate)="addCashToMaster($event)"
></app-ctm-operation-modal>
<app-delivery-operation-modal
    [folderId]="folderId"
    [show]='showAddDelivery'
    [closeCallback]="toggleAddDelivery"
    [ngStyle]="{display: showAddDelivery ? 'block' : 'none'}"
    (onCreate)="addDelivery($event)"
></app-delivery-operation-modal>
<app-landing-operation-modal
    [folderId]="folderId"
    [show]='showAddLanding'
    [closeCallback]="toggleAddLanding"
    [ngStyle]="{display: showAddLanding ? 'block' : 'none'}"
    (onCreate)="addLanding($event)"
></app-landing-operation-modal>
<app-medical-attendance-modal
    [folderId]="folderId"
    [show]='showAddMedicalAttendance'
    [closeCallback]="toggleAddMedicalAttendance"
    [ngStyle]="{display: showAddMedicalAttendance ? 'block' : 'none'}"
    (onCreate)="addMedicalAttendance($event)"
></app-medical-attendance-modal>
<app-certificate-renewal-operation-modal
    [folderId]="folderId"
    [show]='showAddCertificateRenewal'
    [closeCallback]="toggleAddCertificateRenewal"
    [ngStyle]="{display: showAddCertificateRenewal ? 'block' : 'none'}"
    (onCreate)="addCertificateRenewal($event)"
></app-certificate-renewal-operation-modal>

