<div class="row">
    <div class="col-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title"  [ngStyle]="{'background': color}">
                <h6><b>Opérations de MEDICAL ATTENDANCE</b>&nbsp;</h6>
                <div class="ibox-tools" style="float: right;">
                    <a class="text-danger m-r-10" style="font-size: 1.2rem;" data-toggle="tooltip" title=""  data-original-title="Supprimer la mission" >
                        <i class="fa fa-trash-alt"></i>
                    </a>
                    <a class="collapse-link" id="collapse-link{{boxId}}" style="margin-left: 20px;font-size: 1.2rem;">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
                <div class="ibox-content" [ngStyle]="{'background': color+'15'}">
                <div class="row border-bottom">
                    <div class="row col-12 align-items-center" style="padding-bottom: 10px;">
                        <div class="mr-3 mb-xl-0">
                            <button class="btn btn-pill  btn-secondary active" type="button" aria-pressed="true"  (click)="toggleAddCrew()"> <i class="fa fa-plus-circle"></i>  Ajouter un CREW</button>
                        </div>

                        <div class="mr-3 mb-xl-0">
                            <button class="btn btn-pill  btn-secondary active" type="button" aria-pressed="true"  (click)="toggleAddVessel()"> <i class="fa fa-plus-circle"></i>  Ajouter un VESSEL</button>
                        </div>

                        <div class="mr-3 mb-xl-0">
                            <button class="btn btn-pill  btn-secondary active" type="button" aria-pressed="true"  (click)="toggleAddHotel()"> <i class="fa fa-plus-circle"></i>  Ajouter un Hotel</button>
                        </div>

                        <div class="mr-3 mb-xl-0">
                            <button class="btn btn-pill  btn-secondary active" type="button" aria-pressed="true"  (click)="toggleTransportOpsModal()"> <i class="fa fa-plus-circle"></i>  Transport</button>
                        </div>

<!--                        <div class="btn-group" dropdown>-->
<!--                            <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">-->
<!--                                &nbsp;<i class="fa fa-plus-circle"></i> Ajouter des missions <span class="caret"></span>-->
<!--                            </button>-->
<!--                            <ul *dropdownMenu class="dropdown-menu" role="menu">-->
<!--                                <li role="menuitem" *ngFor="let mission_type of mission_types">-->
<!--                                    <a class="dropdown-item" href="javascript:void(0)" (click)="genTemplateFor(mission_type)">{{ mission_type.name }}</a>-->
<!--                                </li>-->
<!--                                &lt;!&ndash;                        <li class="divider dropdown-divider"></li>&ndash;&gt;-->
<!--                            </ul>-->
<!--                        </div>-->

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



<app-add-vessel
    [show]='showAddVesselModal'
    [closeCallback]="toggleAddVessel"
    [ngStyle]="{display: showAddVesselModal ? 'block' : 'none'}"
></app-add-vessel>
<app-add-crew
    [show]='showAddCrewModal'
    [closeCallback]="toggleAddCrew"
    [ngStyle]="{display: showAddCrewModal ? 'block' : 'none'}"
    (onCreate)="addCrew($event)"
></app-add-crew>
<app-add-hotel-modal
    [show]='showAddHotelModal'
    [closeCallback]="toggleAddHotel"
    [ngStyle]="{display: showAddHotelModal ? 'block' : 'none'}"
></app-add-hotel-modal>

<app-oktb-operation
    [show]='showOktbOpsModal'
    [closeCallback]="toggleOktbOpsModal"
    [ngStyle]="{display: showOktbOpsModal ? 'block' : 'none'}"
></app-oktb-operation>
<app-visa-operation
    [show]='showVisaOpsModal'
    [closeCallback]="toggleVisaOpsModal"
    [ngStyle]="{display: showVisaOpsModal ? 'block' : 'none'}"
></app-visa-operation>
<app-transport-operation
    [show]='showTransportOpsModal'
    [closeCallback]="toggleTransportOpsModal"
    [ngStyle]="{display: showTransportOpsModal ? 'block' : 'none'}"
></app-transport-operation>
