<div class="animated fadeIn">
    <div class="card">
        <div class="card-header">
            <h3>Planificateur
            </h3>
        </div>
        <div class="card-body">
            <app-calendar-header
                [(view)]="view"
                [(viewDate)]="viewDate"
                (viewDateChange)="fetchEvents()"
                (viewChange)="fetchEvents()"
            >
            </app-calendar-header>

            <ng-template #loading>
                <div class="text-center">
                    <i class="fas fa-spin fa-spinner fa-5x text-primary"></i> <br />
                    Chargement...
                </div>
            </ng-template>

            <div *ngIf="events.length != 0 ; else loading;">
                <div [ngSwitch]="view">
                    <mwl-calendar-month-view
                        *ngSwitchCase="'month'"
                        [viewDate]="viewDate"
                        [events]="events"
                        [locale]="locale"
                        [weekStartsOn]="weekStartsOn"
                        [activeDayIsOpen]="activeDayIsOpen"
                        [refresh]="refresh"
                        (dayClicked)="dayClicked($event.day)"
                        (eventClicked)="handleEvent('Clicked', $event.event)"
                        (eventTimesChanged)="eventTimesChanged($event)"
                    >
                    </mwl-calendar-month-view>
                    <mwl-calendar-week-view
                        *ngSwitchCase="'week'"
                        [viewDate]="viewDate"
                        [locale]="locale"
                        [events]="events"
                        [weekStartsOn]="weekStartsOn"
                        [refresh]="refresh"
                        (eventClicked)="handleEvent('Clicked', $event.event)"
                        (eventTimesChanged)="eventTimesChanged($event)"
                    >
                    </mwl-calendar-week-view>
                    <mwl-calendar-day-view
                        *ngSwitchCase="'day'"
                        [viewDate]="viewDate"
                        [locale]="locale"
                        [events]="events"
                        [refresh]="refresh"
                        (eventClicked)="handleEvent('Clicked', $event.event)"
                        (eventTimesChanged)="eventTimesChanged($event)"
                    >
                    </mwl-calendar-day-view>
                </div>
            </div>

        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h3>
                Liste des évènements
                <button class="btn btn-primary float-right" (click)="showAddEventModal=true">
                    Ajouter
                </button>
            </h3>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Primary color</th>
                        <th>Secondary color</th>
                        <th>Commence le</th>
                        <th>Fini le </th>
                        <th>Supprimer</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr *ngFor="let event of events">
                        <td>
                            <input
                                type="text"
                                class="form-control"
                                [(ngModel)]="event.title"
                                (keyup)="refresh.next()"
                            />
                        </td>
                        <td>
                            <input
                                type="color"
                                [(ngModel)]="event.color.primary"
                                (change)="refresh.next()"
                            />
                        </td>
                        <td>
                            <input
                                type="color"
                                [(ngModel)]="event.color.secondary"
                                (change)="refresh.next()"
                            />
                        </td>
                        <td>
                            <input type="text"
                                   class="form-control"
                                   #dp="bsDatepicker"
                                   bsDatepicker
                                [(ngModel)]="event.start"
                                (ngModelChange)="refresh.next()"
                                placeholder="Not set"
                            />
                        </td>
                        <td>
                            <input type="text"
                                   class="form-control"
                                   #dp="bsDatepicker"
                                   bsDatepicker
                                   [(ngModel)]="event.end"
                                   (ngModelChange)="refresh.next()"
                                   placeholder="Not set"
                            />
                        </td>
                        <td>
                            <button class="btn btn-danger" (click)="deleteEvent(event)">
                                Delete
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>


        </div>
    </div>
</div>

<swal
    #deleteSwal
    [showCancelButton]="true">
</swal>


<app-event-form-modal
    [show]='showAddEventModal'
    [closeCallback]="toggleAddEvent"
    [ngStyle]="{display: showAddEventModal ? 'block' : 'none'}"
    (onCreate)="addEvent($event)"
></app-event-form-modal>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
