<div class="animated fadeIn">
    <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <button printTitle="Facture" printSectionId="printable"
                                class="btn btn-floating" [printStyle]="{ 'body': { 'background-color': 'white!important' }, '.pgray': { 'background-color': '#5c6873' }  }"
                                [useExistingCss]="true" ngxPrint><i class="fa fa-print"></i>&nbsp;Imprimer</button>
                    </div>
                    <div class="card-body mat-elevation-z8 bg-white">
                        <div class="container  bg-white ">
                            <div id="printable" class="row printable  bg-white" >
                                <div class="col-md-12  bg-white">
                                    <div class="row">
                                        <h3 class="col-md-12 text-center" style="font-weight: bold; margin-bottom: 30px"> FICHE DE CAISSE </h3>
                                    </div>
                                    <div class="row crow">
                                        <div class="col-md-6 start">
                                            <div class="row">
                                                <span class="col-md-4 cbold"><span class="underlined">Date</span>:&nbsp;&nbsp;</span>
                                                <span class="col-md-4 box" *ngIf="sheet">{{ sheet.date|date:'dd/LL/yyyy' }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row crow">
                                        <div class="col-md-6 start">
                                            <div class="row">
                                                <span class="col-md-4 cbold"><span class="underlined">N° Rep</span>:&nbsp;&nbsp;</span>
                                                <span class="col-md-4 box" *ngIf="sheet && sheet.folder"> {{ sheet.folder.numberString }} </span>
                                            </div>
                                        </div>
                                        <div class="col-md-6 end">
                                            <div class="row">
                                                <span class="col-md-4 cbold"><span class="underlined">MONTANT</span>:&nbsp;&nbsp;</span>
                                                <span class="col-md-4 box" *ngIf="sheet"> {{ sheet.amount }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row crow">
                                        <div class="col-md-6 start">
                                            <div class="row">
                                                <span class="col-md-4 cbold"><span class="underlined">Nom du navire</span>:&nbsp;&nbsp;</span>
                                                <span class="col-md-4 box" *ngIf="sheet && sheet.ship"> {{ sheet.ship.name }} </span>
                                            </div>
                                        </div>
                                        <div class="col-md-6 end">
                                            <div class="row">
                                                <span class="col-md-4 cbold"><span class="underlined">Pièce N°</span>:&nbsp;&nbsp;</span>
                                                <span class="col-md-4 box" *ngIf="sheet"> {{ sheet.pieceNumber }} </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row crow">
                                        <div class="col-md-6 start">
                                            <div class="row">
                                                <span class="col-md-5 cbold"><span class="underlined">Type</span> : <span class="underlined">Exploitation</span>:&nbsp;&nbsp;</span>
                                                <span class="check box"  style="padding: 0px 5px !important;" *ngIf="sheet && sheet.investment_type && sheet.investment_type.label == 'Exploitation'">
                                                    <i class="fa fa-check"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-6 end">
                                            <div class="row">
                                                <span class="col-md-4 cbold"><span class="underlined">Administration</span>:&nbsp;&nbsp;</span>
                                                <span class="check box"  style="padding: 0px 5px !important;" *ngIf="sheet && sheet.investment_type && sheet.investment_type.label == 'Administration'">
                                                    <i class="fa fa-check"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row crow">
                                        <div class="col-md-2"><span class="underlined cbold">Motif</span>  : </div>
                                        <div class="col-md-10">
                                            <p class="underlined cbold text" *ngIf="sheet">
                                            {{ sheet.purpose }}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row crow">
                                        <div class="col-md-2"><span class="underlined cbold">Montant en lettre</span>  : </div>
                                        <div class="col-md-10">
                                            <p class="underlined cbold text" *ngIf="sheet">
                                            {{ toLetter(sheet.amount) }}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <p class="col-md-12 underlined cbold text-center">Nom et signature</p>
                                        <div class="col-md-12 row">
                                            <div class="col-md-4">
                                                <p class="col-12 text-center cbold">Le Bénéficiaire</p>
                                                <p class="col-12 text-center" *ngIf="sheet">{{ sheet.user.lastName + ' ' + sheet.user.firstName }}</p>
                                            </div>
                                            <div class="col-md-4">
                                                <p class="col-12 text-center cbold">Le Caissier</p>
                                                <p></p>
                                            </div>
                                            <div class="col-md-4">
                                                <p class="col-12 text-center cbold">Le DG</p>
                                                <p></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
