<div style="z-index: 99999999999;margin-top: 5%;" bsModal [ngClass]="customClass || ''" class="modal " [ngStyle]="{display: show ? 'block' : 'none'}" tabindex="1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> <i class="fa fa-ship"></i> Ajouter un boat a l'opération </h4>

                <button type="button" class="close" (click)="closeCallback()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="newVesselForm" (ngSubmit)="onSubmit()" style="width: 100%;">
                    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
                    <div class="row">
                        <div class="col-6 input-group mb-3">
                            <label style="width: 100%;">
                                Type de boat
                            </label>
                            <ng-select style="width: 100%;" class="form-co bootstrap" [ngClass]="{ 'is-invalid': submitted && f.type.errors }"  placeholder="Choisir le boat" [items]="vesselTypes"
                                       formControlName="type" [clearable]="true"
                                       bindValue="id" bindLabel="name">
                            </ng-select>
                            <div *ngIf="submitted && f.type.errors" class="invalid-feedback">
                                <div *ngIf="f.type.errors.required">Choisir le type boat</div>
                            </div>
                        </div>
                        <div class="col-6 input-group mb-3" style="width: 100%;">
                            <label style="width: 100%;">
                                Nom du boat
                            </label>
                            <input type="text" class="form-control" placeholder="Entrer le nom du boat" autocomplete="username"
                                   formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" required>
                            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                <div *ngIf="f.name.errors.required">Nom requis</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 input-group mb-3" style="width: 100%;">
                            <label style="width: 100%;">
                                Nombre de crews
                            </label>
                            <input type="text" class="form-control" placeholder="Entrer le Nombre de crews" autocomplete=""
                                   formControlName="crewsCapacity" [ngClass]="{ 'is-invalid': submitted && f.crewsCapacity.errors }" required>
                            <div *ngIf="submitted && f.crewsCapacity.errors" class="invalid-feedback">
                                <div *ngIf="f.crewsCapacity.errors.required"> Nombre de crews requis</div>
                            </div>
                        </div>
                        <div class="col-6 input-group mb-3" style="width: 100%;">
                            <label style="width: 100%;">
                                Capacité
                            </label>
                            <input type="text" class="form-control" placeholder="Entrer la capacité du boat (tonnes)" autocomplete=""
                                   formControlName="contentCapacity" [ngClass]="{ 'is-invalid': submitted && f.contentCapacity.errors }" required>
                            <div *ngIf="submitted && f.contentCapacity.errors" class="invalid-feedback">
                                <div *ngIf="f.contentCapacity.errors.required">Capacité requis</div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6 input-group mb-3" style="width: 100%;">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" formControlName="isBoatRentByBma" id="checkbox_isparallal" checked aria-checked="true">
                                <label class="form-check-label" for="checkbox_isparallal">
                                    Ce boat est directement loué par BMA ?
                                </label>
                            </div>
                        </div>
                        <div class="col-6 input-group mb-3" style="width: 100%;">
                            <label style="width: 100%;">
                                Description
                            </label>
                            <textarea type="text" class="form-control" placeholder="Quelque détail sur le boat ou sur l'agence en responsabilité." autocomplete=""
                                      formControlName="details" [ngClass]="{ 'is-invalid': submitted && f.details.errors }" ></textarea>
                            <div *ngIf="submitted && f.details.errors" class="invalid-feedback">
                                <div *ngIf="f.details.errors.required">Capacité requis</div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6 input-group mt-4">
                            <button type="submit" class="btn btn-sm btn-primary btn-ladda" data-style="expand-right" [ladda]='loading' >Enregistrer</button>
                        </div>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
