<div class="card">
    <div class="card-header">
        <div class="pull-right btn-group" style="display: inline-block;" dropdown>
            <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
                &nbsp;<i class="fa fa-arrow-circle-left"></i>
            </button>
        </div>
        <h5 style="display: inline-block;">Détail sur l'opération</h5>
        <div class="pull-right btn-group" style="display: inline-block;" dropdown>
            <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
                &nbsp;<i class="fa fa-plus-circle"></i> Ajouter des missions <span class="caret"></span>
            </button>

        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="table">
                <table class="table table-responsive-sm table-sm table-stripped">
                    <tr>
                        <td class="font-weight-bold">Removal of {{operation?.product?.name}}</td>
                        <td>avec la vedette: <span class="font-weight-bolder text-info">{{operation?.boat?.name}}</span></td>
                        <td>le {{operation?.created_at|date : 'dd/MM/yyyy' }}</td>
                        <td><a class="text-danger font-weight-bold">Détail</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <ng-content></ng-content>
<!--        <button type="submit" class="btn btn-primary btn-ladda pull-right" data-style="expand-right" [ladda]='loading'>Suivant</button>-->
    </div>
</div>
