<div class="animated fadeIn">
    <app-consignation-detail
        [folder]="folder"
    >
    </app-consignation-detail>

    <div class="row">
        <div class="col-9">
            <ng-container *ngIf="folder && folder.id">
                <app-operation-list
                    [folderId]="folder.id"
                ></app-operation-list>
            </ng-container>
        </div>

        <div class="col-3">
            <div class="card" *ngIf="isFolderCloser || isFolderValidator">
                <div class="card-body">
                    <div class="row">
                        <button type="button" class="btn btn-flickr px-4" *ngIf="!accounting && !folder?.isFenced" (click)="fenceFolder()">Cloturer</button>
                        <button type="button" class="btn btn-flickr px-4" *ngIf="!accounting && folder?.isFenced && isFolderCloser" (click)="reopenFolder()">Réouvrir</button>
                    </div>
                </div>

            </div>

            <div class="card">
                <div class="card-header">
                    <h5>Liste des boats utilisés dans le dossier</h5>
                </div>
                <div class="card-body">
                    <div class="row">

                    </div>
                </div>

            </div>

            <div class="card">
                <div class="card-header">
                    <h5>Liste des fichiers attachés du dossier</h5>
                </div>
                <div class="card-body">
                    <div class="row">

                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>

