<div class="animated fadeIn">
    <div class="card">
        <div class="card-header">
            <h3>Facture
                <button (click)="goToAddInvoice()" type="button" class="btn btn-brand btn-github mr-1 pull-right" style="margin-bottom: 4px">
                    <i class="fa fa-plus-circle"></i>
                    <span>Ajouter une nouvelle</span>
                </button>
            </h3>
        </div>
        <div class="card-body">
            <div class="row mb-3">
                <div class="col-md-4 offset-md-8">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-search"></i></span>
                        </div>
                        <input [(ngModel)]="filterQuery" class="form-control" placeholder="Rechercher par le nom du client, date, numéro facture" type="text"/>
                    </div>
                </div>
            </div>
            <div class="mat-elevation-z8">
                <table class="table table-striped table-hover table-responsive-lg"
                       [mfData]="invoices | dataFilter2 : filterQuery" [mfRowsOnPage]="10" #mf="mfDataTable">
                    <thead>
                    <tr>
                        <th style="width: 20%">
                            #
                        </th>
                        <th>
                            <mfDefaultSorter by="date">Date</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="number">Number</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="customer">Client</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="ship">Navire</mfDefaultSorter>
                        </th>
                        <th style="width: 20%">
                            Action
                        </th>
                    </tr>
                    </thead>
                    <tbody *ngIf="invoices && invoices.length; else no_content">
                        <tr *ngIf="loading">
                            <td colspan="6" style="text-align: center;background-color: white;"><img style="height: 70px;" src="assets/loading.gif" alt=""></td>
                        </tr>
                        <tr *ngFor="let invoice of mf.data; let i = index;">
                            <td>{{ i + 1 }}</td>
                            <td>{{invoice.date  }}</td>
                            <td>{{invoice.number }}</td>
                            <td>{{invoice.customer}}</td>
                            <td>{{ invoice.ship ? invoice.ship.name : '' }}</td>
                            <td>
                                <div class="btn-group">
                                    <button (click)="showInvoice(invoice)" type="button" class="btn btn-brand btn-sm btn-twitter mr-1" style="margin-bottom: 4px">
                                        <i class="fa fa-eye"></i>
                                    </button>
                                    <button *ngIf="!invoice.sent"  (click)="submitInvoice(invoice)" type="button" class="btn btn-brand btn-sm btn-success mr-1" style="margin-bottom: 4px">
                                        <i class="fa fa-send"></i>
                                    </button>
                                    <button *ngIf="invoice.validations.length==0" (click)="confirmDeleteInvoice(invoice)" type="button" class="btn btn-brand btn-sm btn-danger mr-1" style="margin-bottom: 4px">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <ng-template #no_content>
                        <tbody>
                            <tr *ngIf="loading; else no_content2">
                                <td colspan="6" style="text-align: center;background-color: white;"><img style="height: 70px;" src="assets/loading.gif" alt=""></td>
                            </tr>
                           <ng-template #no_content2>
                               <tr>
                                   <td>Aucune donnée.</td>
                               </tr>
                           </ng-template>
                        </tbody>
                    </ng-template>
                    <tfoot>
                    <tr>
                        <td colspan="7">
                            <mfBootstrapPaginator [rowsOnPageSet]="[1,10,15]"></mfBootstrapPaginator>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<swal
    #deleteSwal
    [showCancelButton]="true">
</swal>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
