<div style="z-index: 99999999999;margin-top: 3%;" bsModal [ngClass]="customClass || ''"
     class="modal " [ngStyle]="{display: show ? 'block' : 'none'}"
     tabindex="1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <form [formGroup]="garbageOperationForm" (ngSubmit)="onSubmit()" style="width: 100%;">
             <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> <i class="fa fa-trash"></i>   Ajouter une operation de garbage </h4>
                <button type="button" class="close" (click)="closeCallback()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
                    <div class="row">
                        <div class="col-6 input-group mb-3">
                            <label style="width: 100%;">
                                Vedette
                            </label>
                            <ng-select style="width: 100%;" class="form-co bootstrap" [ngClass]="{ 'is-invalid': submitted && f.vessel.errors }"  placeholder="Choisir la vedette" [items]="vessels"
                                       formControlName="vessel" [clearable]="true" bindValue="id"
                                       bindLabel="name">
                            </ng-select>
                            <div *ngIf="submitted && f.vessel.errors" class="invalid-feedback">
                                <div *ngIf="f.vessel.errors.required">Choisir une vedette</div>
                            </div>
                        </div>
                        <div class="col-6 input-group mb-3">
                            <label style="width: 100%;">
                                Distance
                            </label>
                            <input type="text" class="form-control" placeholder="Entrer la distance" autocomplete=""
                                   formControlName="distance" [ngClass]="{ 'is-invalid': submitted && f.distance.errors }" required>
                            <div *ngIf="submitted && f.distance.errors" class="invalid-feedback">
                                <div *ngIf="f.distance.errors.required">Distance requis</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 input-group mb-3" style="width: 100%;">
                            <label style="width: 100%;">
                                Product
                            </label>
                            <ng-select style="width: 100%;" class="form-co bootstrap" [ngClass]="{ 'is-invalid': submitted && f.product.errors }"  placeholder="Choisir le produit" [items]="removalProducts"
                                       formControlName="product" [clearable]="true"
                                       bindValue="id" bindLabel="name">
                            </ng-select>
                            <div *ngIf="submitted && f.product.errors" class="invalid-feedback">
                                <div *ngIf="f.product.errors.required">Choisir le produit</div>
                            </div>
                        </div>
                        <div class="col-6 input-group mb-3" style="width: 100%;">
                            <label style="width: 100%;">
                                Quantité
                            </label>
                            <input type="text" class="form-control" placeholder="Entrer la quantité" autocomplete=""
                                   formControlName="qty" [ngClass]="{ 'is-invalid': submitted && f.qty.errors }" required>
                            <div *ngIf="submitted && f.qty.errors" class="invalid-feedback">
                                <div *ngIf="f.qty.errors.required">Quantité requise</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 input-group mb-3" style="width: 100%;">
                            <label style="width: 100%;">
                                Certificate
                            </label>
                            <input type="file"  class="form-co"  ng2FileSelect autoUpload="autoUpload" [uploader]="uploader1" />
                            <div *ngIf="submitted && f.certificate.errors" class="invalid-feedback">
                                <div *ngIf="f.certificate.errors.required">Nom requis</div>
                            </div>
                        </div>
                        <div class="col-6 input-group mb-3" style="width: 100%;">
                            <label style="width: 100%;">
                                Certificate des
                            </label>
                            <input type="file"  class="form-co"  ng2FileSelect autoUpload="autoUpload" [uploader]="uploader2"  />
                           <!--  <div *ngIf="submitted && f.clinic.errors" class="invalid-feedback">
                                <div *ngIf="f.certificate_des.errors.required">Clinic requis</div>
                            </div> -->
                        </div>
                    </div>
                  <!--   <div class="row">
                        <div class="col-6 input-group mb-3" style="width: 100%;">
                            <label style="width: 100%;">
                                Expiry
                            </label>
                            <input type="text" class="form-control" placeholder="Expiry" autocomplete=""  #dp="bsDatepicker"
                                   bsDatepicker
                                   formControlName="expiry" [ngClass]="{ 'is-invalid': submitted && f.expiry.errors }" > -->
                           <!--  <div *ngIf="submitted && f.expiry.errors" class="invalid-feedback">
                                <div *ngIf="f.expiry.errors.required">Date expiration requis</div>
                            </div>
                        </div>
                    </div> -->

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary btn-ladda" data-style="expand-right" [ladda]='loading' >Enregistrer</button>
            </div>
        </div><!-- /.modal-content -->
        </form>
    </div><!-- /.modal-dialog -->
</div>

<app-add-vessel
    [folderId]="folderId"
    [show]='showAddVesselModal'
    [closeCallback]="toggleAddVessel"
    [ngStyle]="{display: showAddVesselModal ? 'block' : 'none'}"
    (onCreate)="addVessel($event)"
></app-add-vessel>
