/*!
    *
    * Wijmo Library 5.20191.615
    * http://wijmo.com/
    *
    * Copyright(c) GrapeCity, Inc.  All rights reserved.
    *
    * Licensed under the GrapeCity Commercial License.
    * sales@wijmo.com
    * wijmo.com/products/wijmo-5/license/
    *
    */

// wijmo.grid.grouppanel
.wj-grouppanel {
    display: block;
    background: $wj-cell-grp-bkg;
    padding: 15px;

    .wj-groupmarker {
        margin-right: 10px;
        padding: 6px 16px;
        border: $wj-cell-bdr;
        cursor: pointer;

        &:hover {
            background: $wj-hdr-hvr;
        }

        .wj-glyph-drag {
            margin: 0 10px 0 0;
        }

        .wj-filter {
            margin: 0 0 0 10px;
            cursor: pointer;
            opacity: .5;

            &:hover, &.wj-filter-on {
                opacity: 1;
            }
        }

        .wj-remove {
            cursor: pointer;
            opacity: .5;
            padding: 12px 0 12px 12px;

            &:hover {
                opacity: 1;
            }
        }

        span {
            opacity: .5;

            &:hover {
                opacity: 1;
            }
        }
    }

    &.wj-rtl {
        .wj-groupmarker {
            .wj-glyph-drag {
                margin: 0 0 0 10px;
            }

            .wj-filter {
                margin: 0 10px 0 0;
            }

            .wj-remove {
                padding: 12px 12px 12px 0;
            }
        }
    }
}

