
<div class="animated fadeIn">
    <div class="card mat-elevation-z8 col-md-10" style="margin: 0 auto;">
        <div class="card-header" style="margin-left: -15px; margin-right: -15px;">
            <h3>Ajouter un utilisateur</h3>
        </div>
        <div class="card-body">
            <form [formGroup]="userForm" (ngSubmit)="onSubmit()" >
                <p class="text-muted">Saisissez les informations du nouvel utilisateur</p>
                <div *ngIf="error" class="alert alert-danger">{{error}}</div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Nom" autocomplete="lastName"
                           formControlName="lastName" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" required>
                    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                        <div *ngIf="f.lastName.errors.required">Nom requis</div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Prénoms" autocomplete="firstName"
                           formControlName="firstName" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" required>
                    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                        <div *ngIf="f.firstName.errors.required">Prénoms requis</div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Nom d'utilisateur" autocomplete="username"
                           formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" required>
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">Nom d'utilisateur requis</div>
                    </div>
                </div>
<!--                <div class="input-group mb-3">-->
<!--                    <div class="input-group-prepend">-->
<!--                        <span class="input-group-text"><i class="icon-user"></i></span>-->
<!--                    </div>-->
<!--                    <input type="text" class="form-control" placeholder="Nom d'utilisateur" autocomplete="username"-->
<!--                           formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" required>-->
<!--                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">-->
<!--                        <div *ngIf="f.username.errors.required">Nom d'utilisateur requis</div>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" class="form-control" placeholder="Mot de passe" autocomplete="current-password"
                           formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" required>
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Mot de passe requis</div>
                    </div>
                </div>
                <div class="input-group mb-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" class="form-control" placeholder="Confirmer le mot de passe" autocomplete="current-password"
                           formControlName="confirmation" [ngClass]="{ 'is-invalid': submitted && f.confirmation.errors }" required>
                    <div *ngIf="submitted && f.confirmation.errors" class="invalid-feedback">
                        <div *ngIf="f.confirmation.errors.required">Mot de passe requis.</div>
                        <div *ngIf="f.confirmation.hasError('NoPassswordMatch')">Les mots de passe ne correspondent pas.</div>
                    </div>
                </div>
                <div class="input-group mb-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-badge"></i></span>
                    </div>
                    <ng-select
                        class="form-control bootstrap"
                        placeholder="Choisir un rôle"
                        [items]="roles"
                        formControlName="roles"
                        [multiple]="true"
                        [clearable]="true" [ngClass]="{ 'is-invalid': submitted && f.roles.errors }"
                        bindValue="id" bindLabel="label" required
                    ></ng-select>
                    <!--<ng-select class="form-control bootstrap" placeholder="Choisir un rôle" [items]="roles"-->
                               <!--formControlName="role" [clearable]="true" [ngClass]="{ 'is-invalid': submitted && f.role.errors }"-->
                               <!--bindValue="id" bindLabel="label" required>-->
                    <!--</ng-select>-->
                    <div *ngIf="submitted && f.roles.errors" class="invalid-feedback">
                        <div *ngIf="f.roles.errors.required">Vous devez choisir un rôle</div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-9 col-form-label">
                        <div class="form-check form-check-inline mr-1" id="inline-radios">
                            <input class="form-check-input" type="radio" id="inlineRadio1" value="M" formControlName="sex">
                            <label class="form-check-label" for="inlineRadio1">Masculin</label>
                        </div>
                        <div class="form-check form-check-inline mr-1">
                            <input class="form-check-input" type="radio" id="inlineRadio2" value="F" formControlName="sex">
                            <label class="form-check-label" for="inlineRadio2">Feminin</label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-9 col-form-label">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" formControlName="is_active" id="checkbox1" checked aria-checked="true">
                            <label class="form-check-label" for="checkbox1">
                                Activer le compte
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <button [disabled]="loading" type="submit" class="btn btn-primary px-4">Enregistrer</button>
                        <img *ngIf="loading" class="pl-2" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
