<div class="animated fadeIn">
    <div class="row">
        <div  class="col-12">
            <p *ngIf="loading">
                <img style="height: 70px;" src="assets/loading.gif" alt="">
            </p>
        </div>
        <div *ngIf="!loading && selectedMissions" class="row">
            <div class="pull-right">
                <button printTitle="Facture" printSectionId="invoices" class="btn btn-floating" [printStyle]="{ '.pgray': { 'background-color': '#DDD9C4' } }" [useExistingCss]="true" ngxPrint><i class="fa fa-print"></i>&nbsp;Imprimer</button>
            </div>
        </div>
        <div *ngIf="!loading && selectedMissions"  class="container" id="invoices" style="height: 100%;">
            <div class="invoice" width="1000px" *ngFor="let invoice of invoices; let k=index;">
                <div class="card" style="margin-bottom: 0; height: 100%;">
                                <div class="card-header" style="height: 20%!important;" style="padding: 0;">
                                    <div class="row" style="margin: 0;">
                                        <img class="col-xs-12" style="width: 100%;" src="assets/img/invoice/header.png" />
                                    </div>
                                   <div class="card-body bg-white">
                                       <div class="invoice_header" *ngIf="folder">
                                           <div class="row">
                                               <div class="col-4">
                                                   <p *ngIf="folder && folder.customer">
                                                       <span class="bold underline">TO </span>: {{ folder.ship.name }} <br>
<!--                                                       {{ folder.customer.name }} <br>-->
                                                       {{ folder.customer.address }} <br>
                                                       {{ folder.customer.tel }} <br>
                                                   </p>
                                               </div>
                                               <div class="col-4"></div>
                                               <div class="col-4">
                                                   <p class="bold" style="text-align: end; padding-right: 15px;">{{ config ? (config.date|date:'dd/MM/y') : '' }}</p>
                                                   <p class="bold text-center pgray">REP {{ genFolNo(folder) }}</p>
                                                   <p class="bold text-center pgray" *ngIf="folder">YOUR REF {{ folder.customerRef }}</p>
                                               </div>
                                           </div>
                                           <div class="text-center">
                                               <h3 class="bold underline">INVOICE {{  config ? config.newNo: '' }} {{ getNextInvoiceLetter(k) }}</h3>
                                               <h5 class="bold"><span class="underline">Conc:</span> {{ invoice.name }}</h5>
                                           </div>
                                       </div>
                                   </div>
                                </div>
                                <div class="card-body" style="height: 50%!important;">
                                    <div id="item_list " >
                                        <div *ngFor="let mission of invoice.missions; let i=index;">
                                            <div id="table" class="table-editable">
                                                <table class="table table-bordered table-responsive-md text-center">
                                                    <thead>
                                                        <tr class="pgray">
                                                            <th class="bold text-center" colspan="6" width="80%"><p class="pgray" style="margin-top: 0;margin-bottom: 0;">DESIGNATION</p></th>
                                                            <th class="bold text-center" width="20%"><p class="pgray" style="margin-top: 0;margin-bottom: 0;">AMOUNT ({{ folder.currency }})</p></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td class="pgray2 bold text-left" colspan="6" width="80%"><p class="pgray2" style="margin-top: 0;margin-bottom: 0;">MISSION {{ getNextInvoiceMissionLetter(k, i) }} : {{ mission.name }}</p></td>
                                                        <td class="pgray2 bold text-left" width="20%"><p class="pgray2" style="margin-top: 0;margin-bottom: 0;">&nbsp;&nbsp;</p></td>
                                                    </tr>
<!--                                                    <tr *ngIf="isCrew[i] then crew; else notCrew;"></tr>-->
<!--                                                    <ng-template #crew>-->
                                                        <tr class="">
                                                            <td width="47%" colspan="3" class=" bold text-center">Detail & Description</td>
                                                            <td class=" bold text-center">Bas</td>
                                                            <td class=" bold text-center">Qty</td>
                                                            <td class=" bold text-center">Number & Ref</td>
                                                            <td ></td>
                                                        </tr>
                                                        <tr *ngFor="let item of mission.items; let  j=index;">
                                                            <td  colspan="3" class="text-left">
                                                                <span contenteditable="true">{{ j + 1 }}- {{item.name}}</span>
                                                            </td>
                                                            <td class="text-left">
                                                                <span contenteditable="true">{{item.bas}}</span>
                                                            </td>
                                                            <td class="text-left">
                                                                <span contenteditable="true">{{item.qty ? item.qty : ''}}</span>
                                                            </td>
                                                            <td class="text-left">
                                                                <span contenteditable="true">{{item.number_ref}}</span>
                                                            </td>
                                                            <td>
                                                                <span contenteditable="true" >{{ computeItemTotal(item) }} </span>
                                                            </td>
                                                        </tr>
<!--                                                    </ng-template>-->
<!--                                                    <ng-template #notCrew>-->
<!--                                                        <tr *ngFor="let item of mission.operations; let  j=index;">-->
<!--                                                            <td colspan="6" class="text-left">-->
<!--                                                                <span contenteditable="true">{{ j + 1 }}- {{item.name}}</span>-->
<!--                                                            </td>-->
<!--                                                            <td>-->
<!--                                                                <span contenteditable="true" >{{ totals[i][j] }} </span>-->
<!--                                                            </td>-->
<!--                                                        </tr>-->

<!--                                                    </ng-template>-->
                                                    </tbody>
                                                    <tfoot>
                                                        <tr class="bgyellow">
                                                            <td colspan="6" class="bold text-center"><p class="bgyellow" style="margin-top: 0;margin-bottom: 0;">TOTAL</p></td>
                                                            <td class="font-italic bold"><p class="bgyellow" style="margin-top: 0;margin-bottom: 0;">{{ mission.total }}</p></td>
                                                        </tr>
                                                    <tfoot>
                                                </table>

                                            </div>
                                        </div>
                                        <table class="table table-bordered table-responsive-md text-center">
                                            <tr>
<!--                                                {{ concatLetters() }}-->
<!--                                                {{ getTotal() }}-->
                                                <td class="bold text-center" colspan="6" width="80%"><p class="bgyellow2" style="margin-top: 0;margin-bottom: 0;"><i>TOTAL {{ concatLettersForInvoice(k) }}</i></p></td>
                                                <td class="bold text-center"><p class="bgyellow2" style="margin-top: 0;margin-bottom: 0;"><i>{{ computeInvoiceTotal(invoice) }}</i></p></td>
                                            </tr>
                                        </table>
                                    </div>

                                    <div id="invoice_footer" >
                                        <div class="row">
                                            <div class="col-12 " style="background-color: rgba(255, 0, 51, 0.45);">
                                                <p style=" margin-bottom: 0;"> kindly remit, latest on the {{ config ? format(config.dueDate) : '' }}, the total
                                                    amount of <span style="font-weight: bold;text-transform: capitalize;" *ngIf="invoice.total">
                                                        {{ toLetter((invoice.total), folder.currency) }} ({{ folder.currency }}, {{invoice.total }}),
                                                    </span>
                                                    free of bank charges by swift transfer to,
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer " style="height: auto;padding: 0;margin-bottom: 0;">
                                    <div class="row footer">
                                        <div class="col-11" style="font-size: 15px!important;">
                                            <p class="bold underline">BANK DETAILS</p>
                                            <p class="bold"><span class="underline">Bank name :</span> ORABANK</p>
                                            <p class="bold row">
                                                <span class="col-5"><span class="underline">Account number :</span> 065847900101</span>
                                                <span class="col-3"><span style="margin-left: 10px" class="underline">RIB :</span> 81</span>
                                            </p>
                                            <p class="bold row">
                                                <span class="col-5"><span class="underline">Bank code :</span> TG116</span>
                                                <span class="col-3"><span style="margin-left: 10px" class="underline">Code Guichet :</span> 01002</span>
                                            </p>
                                            <p class="bold"><span class="underline">Code Bic/CODE SWIFT :</span> ORBKTGTG</p>
                                            <p class="bold"><span class="underline">IBAN :</span> TG53TG1160100206584790010181</p>
                                            <p class="bold"><span class="">Domiciliation :</span>
                                                LOME BRIGHTNESS MARITIME AGENCY SARL
                                                11BP 198 LOME GOLFE
                                            </p>
                                            <p class="row bold">
                                                <span class="col-9"></span>
                                                <span>
                                                    AGENCY DIRECTOR <br> <br><br>
                                                    AVUSSU AYELE ELOM <br> <br><br><br><br>
                                                </span>
                                            </p>
                                        </div>
                                        <p class="address" style="background: white;">Angle Rue de l’Entente 215, Rue Katoré Antonio-nétimé   01 BP. 675 Lomé - TOGO    Tél. (+228) 97 18 89 89</p>
                                    </div>
                                </div>
                            </div>
            </div>
        </div>
<!--        <div *ngIf="!loading && !selectedMissions"  class="container" >-->
<!--            <div class="card">-->
<!--                <div class="card-body">-->
<!--                    <h5>Nous avons remarqué que certaine(s) mission(s) du dossier ont été déjà imprimé(s)&hellip;</h5>-->
<!--                    <p>-->
<!--                        <button type="button" class="btn btn-info mr-1" data-toggle="modal" (click)="openModal()">-->
<!--                            Cliquer ici pour choisir-->
<!--                        </button>-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </div>
</div>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>

<button type="button" [hidden]="true" id="openModal" class="btn btn-info mr-1" data-toggle="modal" (click)="myModal.show()"></button>

<div #myModal="bs-modal" bsModal class="modal " [ngStyle]="{display: showModal ? 'block' : 'none'}" tabindex="1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Choix des composants la facture</h4>
<!--                <button type="button" class="close" (click)="closeModal()" aria-label="Fermer">-->
<!--                    <span aria-hidden="true">&times;</span>-->
<!--                </button>-->
            </div>
            <div class="modal-body">
                <code>
                    <p>Nous avons remarqué que certaine(s) mission(s) du dossier ont été déjà imprimé(s)&hellip;</p>
                    <p>Ainsi seul les missions cochées ci-dessous feront parties de la facture.</p>
                </code>
                <table class="table table-striped" *ngIf="folder">
                    <thead>
                    <tr>
                        <th style="font-weight: bold;">Action</th>
                        <th style="font-weight: bold;">Nom mission</th>
                        <th style="font-weight: bold;">Crée le</th>
                        <th style="font-weight: bold;">Archivé le</th>
                    </tr>
                    </thead>
                    <tr *ngFor="let am of folder.missions" [ngClass]="{'active': !am.isArchived}" >
                        <td style="font-weight: 400;"><input (change)="handleCheck($event, am)" type="checkbox" id="check{{am.id}}" [checked]="am.isArchived ? null : 'checked'" class="form-check form-check-inline mr-2 ml-2"></td>
                        <td style="font-weight: 400;"><label for="check{{am.id}}">{{ am.name }}</label></td>
                        <td style="font-weight: 400;"><label for="check{{am.id}}">{{ am.created_at|date }}</label></td>
                        <td style="font-weight: 400;"><label for="check{{am.id}}">{{ am.archivedAt|date }}</label></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
<!--                <button type="button" class="btn btn-secondary" (click)="closeModal()">Fermer</button>-->
                <button type="button" class="btn btn-primary" (click)="continue()">Continuer</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
