<div class="animated fadeIn">
    <form [formGroup]="form" (submit)="onSubmit()">
        <div class="row">
            <div class="col-mat-12" style="width: 100%;">
                <div class="card">
                    <div class="card-header">
                        <strong>Créer une nouvelle facture</strong>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12" style="width: 100%;" fxLayoutAlign="center center">
                                <div style="width: 90%;">
                                    <form [formGroup]="form"  novalidate>

                                        <div fxLayout="column">
                                            <div fxLayout="row" fxLayoutAlign="center center" class="heading">
                                                <h1>INVOICE</h1>
                                            </div>

                                            <div fxLayout="row">
                                                <div fxFlex="50"  >
                                                    <mat-form-field style="width:80%;">
                                                        <span matPrefix class="bold">TO:&nbsp;&nbsp;</span>
                                                        <textarea matInput formControlName="invoiceCustomer" cols="40" rows="1" >&nbsp;&nbsp;</textarea>
                                                    </mat-form-field>

                                                </div>
                                                <div fxFlex="50">
                                                    <mat-form-field>
                                                        <span matPrefix class="bold">INVOICE BMA -&nbsp;</span>
                                                        <input matInput formControlName="invoiceName" />
                                                    </mat-form-field>
                                                    <mat-form-field style="margin-left: 2rem;">
                                                        <span matPrefix class="bold">DATE:&nbsp;&nbsp;</span>
                                                        <input matInput formControlName="date" />
                                                    </mat-form-field>
                                                </div>
                                            </div>

                                            <div fxLayout="row">
                                                <div fxFlex="50">
                                                    <mat-form-field>
                                                        <span matPrefix class="bold">REP:&nbsp;&nbsp;</span>
                                                        <input matInput  formControlName="invoiceRep" />
                                                    </mat-form-field>
                                                    <mat-form-field style="margin-left: 2rem;">
                                                        <span matPrefix class="bold">REF:&nbsp;&nbsp;</span>
                                                        <input matInput formControlName="invoiceCustomerRef" />
                                                    </mat-form-field>
                                                </div>
                                                <div fxFlex="50"  >
                                                    <mat-form-field style="width:80%;">
                                                        <span matPrefix class="bold">CONC:&nbsp;&nbsp;</span>
                                                        <input matInput formControlName="invoiceConc" />
                                                    </mat-form-field>

                                                    <mat-form-field style="width:80%;">
                                                        <mat-label>Choisir un navire</mat-label>
                                                        <mat-select formControlName="ship">
                                                            <mat-option *ngFor="let s of ships" [value]="s.id">
                                                                {{s.name}}
                                                            </mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                    <button type="button" class="btn btn-sm btn-primary mr-1 pull-right mat-small"
                                                            data-toggle="modal" (click)="shipModal.show()" >+</button>
                                                </div>
                                            </div>

                                        </div>

                                        <div fxLayout="row">
                                            <div fxFlex="50">
                                                <mat-form-field>
                                                    <span matPrefix class="bold">DUE DATE:&nbsp;&nbsp;</span>
                                                    <input matInput formControlName="dueDate" />
                                                </mat-form-field>
                                                <mat-form-field style="margin-left: 2rem;">
                                                    <span matPrefix class="bold">CURENCY:&nbsp;&nbsp;</span>
                                                    <input matInput formControlName="currency" />
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <br><br>
                                        <hr>

                                        <div fxLayout.xs="column" style="font-weight: bolder">
                                            <div fxFlex="40">Detail & Description</div>
                                            <div fxFlex="10">Bas</div>
                                            <div fxFlex="10">Qty</div>
                                            <div fxFlex="20">Number and Ref</div>
                                            <div fxFlex="20" style="text-align: right">AMOUNT ({{form.value.currency}})</div>
                                        </div>

                                        <div formArrayName="invoiceItems" style="font-weight: bolder; text-align: center">
                                            <div fxLayout.xs="column"
                                                 *ngFor="let item of invoiceItems.controls; let i=index; let odd=odd;" [formGroupName]="i"
                                                 [ngClass]="{odd_row: odd}">
                                                <div fxFlex="40" style="padding-top: 1.1rem;">
                                                    <span matPrefix><button  mat-icon-button (click)="removeItem(item)">
                                                            <mat-icon class="mat-24" aria-label="remove">clear</mat-icon>
                                                          </button> {{i + 1}}. &nbsp;</span>
                                                    <div class="ng-autocomplete" style="width:available;width:-moz-available;margin-top: 1.15rem;">
<!--                                                    <input matInput type="text" id="staticServices{{i}}" formControlName="description"  />-->
                                                        <input matInput  formControlName="description" type="text" id="dynamicServices{{i}}"  autocomplete="true" (keyup)="getServices($event, i)" />
                                                    </div>

                                                    <!-- <input class="form-control" matInput formControlName="name">-->
<!--                                                    <div class="ng-autocomplete" style="width:available;width:-moz-available;">-->
<!--                                                        <ng-autocomplete-->
<!--                                                            [data]="data"-->
<!--                                                            [searchKeyword]="keyword"-->
<!--                                                            (selected)='selectEvent($event, i)'-->
<!--                                                            (inputChanged)='onChangeSearch($event)'-->
<!--                                                            (inputFocused)='onFocused($event)'-->
<!--                                                            [itemTemplate]="itemTemplate"-->
<!--                                                            [notFoundTemplate]="notFoundTemplate">-->
<!--                                                            formControlName="description"-->
<!--                                                        </ng-autocomplete>-->
<!--                                                        <ng-template #itemTemplate let-item>-->
<!--                                                            <a [innerHTML]="item"></a>-->
<!--                                                        </ng-template>-->
<!--                                                        <ng-template #notFoundTemplate let-notFound>-->
<!--                                                            <div [innerHTML]="notFound"></div>-->
<!--                                                        </ng-template>-->
<!--                                                    </div>-->
                                                </div>

                                                <mat-form-field fxFlex="10">
                                                    <input class="form-control" matInput formControlName="bas">
                                                </mat-form-field>
                                                <mat-form-field matInput fxFlex="10">
                                                    <input class="form-control" matInput type="number" formControlName="qty">
                                                </mat-form-field>
                                                <mat-form-field fxFlex="20">
                                                    <input class="form-control" matInput type="text" formControlName="number_and_ref">
                                                </mat-form-field>
                                                <mat-form-field fxFlex="20">
                                                    <input class="form-control right_placeholder" matInput  disabled value="{{ item.value.total | currency: ' ' + form.value.currency :'symbol':'.2-2':'fr'  }}">
                                                </mat-form-field>

                                            </div>
                                        </div>
                                        <div fxLayout="row">
                                            <button mat-mini-fab (click)="addItem()" class="mat-small">+</button>
                                        </div>

                                        <div fxLayout="row" >
                                            <div fxFlex="50">
                                            </div>
                                            <div fxFlex="30">
                                                <label>Total</label>
                                            </div>
                                            <div fxFlex="20">
                                                <input class="form-control right_placeholder" matInput disabled value="{{ form.value.subTotal | currency:' ' + form.value.currency:'symbol':'.2-2':'fr'  }}">
                                            </div>
                                        </div>

<!--                                        <div fxLayout="row">-->
<!--                                            <div fxFlex></div>-->
<!--                                            <mat-form-field fxFlex="20" style="position: initial;">-->
<!--                                                <input style="direction: rtl;"  matInput type="number" formControlName="taxPercent" placeholder="% tax">-->
<!--                                                <span matSuffix>&nbsp; %</span>-->
<!--                                            </mat-form-field>-->
<!--                                            <mat-form-field fxFlex="30">-->
<!--                                                <input class="form-control right_placeholder" matInput disabled value="{{ form.value.tax | currency  }}">-->
<!--                                            </mat-form-field>-->
<!--                                        </div>-->

<!--                                        <div fxLayout="row" >-->
<!--                                            <div fxFlex="50">-->
<!--                                            </div>-->
<!--                                            <div fxFlex="20">-->
<!--                                                <label>Grant total</label>-->
<!--                                            </div>-->
<!--                                            <div fxFlex="30"  >-->
<!--                                                <input class="form-control right_placeholder" matInput disabled value="{{ form.value.grantTotal | currency  }}">-->
<!--                                            </div>-->
<!--                                        </div>-->
                                    </form>
                                </div>
                            </div>
                        </div>
                   </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="pull-right col-6">
                                <button [disabled]="loading" type="submit" class="btn btn-primary px-4">Enregistrer</button>
                                <img *ngIf="loading" class="pl-2" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


<div bsModal #shipModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-primary" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> <i class="fa fa-ship"></i> Ajouter un nouveau navire</h4>
                <button type="button" class="close" (click)="shipModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup]="shipForm" (ngSubmit)="onModalSubmit()">
                <div class="modal-body">

                    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Nom" autocomplete="username"
                               formControlName="name" [ngClass]="{ 'is-invalid': modalSubmitted && h.name.errors }" required>
                        <div *ngIf="modalSubmitted && h.name.errors" class="invalid-feedback">
                            <div *ngIf="h.name.errors.required">Nom requis</div>
                        </div>
                    </div>
                    <div class="input-group mb-4">
                        <textarea placeholder="Description" class="form-control"  autocomplete="description"
                                  formControlName="description" [ngClass]="{ 'is-invalid': submitted && h.description.errors }" required>
                        </textarea>
                        <div *ngIf="modalSubmitted && h.description.errors" class="invalid-feedback">
                            <div *ngIf="h.description.errors.required">Description requise</div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="hide(shipModal)">Annuler</button>
                    <button type="submit" class="btn btn-primary btn-ladda" data-style="expand-right" [ladda]='loading' (click)="hide(shipModal)">Enregistrer</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>

