body{
    -webkit-print-color-adjust:exact;
    color-adjust:exact
}
.invoice { page-break-after: always; }
.invoice:last-child { page-break-after: avoid };

#invoices {
    width: 100%;
    height: 100%!important;
    //background-color: white;
}
.invoice {
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
    background-color: white!important;
}

@media print {

    body{ background-color:#FFFFFF; background-image:none; color:#000000; -webkit-print-color-adjust:exact; color-adjust:exact }
    #invoices {
        background-color: white;
    }
    .container {
        width: 100%;
        height: 100%!important;
        margin-bottom: 0;
    }
    .invoice {
        width: 100%;
        height: 100%!important;
        min-height: 100%!important;
        margin-bottom: 0;
    }
    #ad{ display:none;}
    #leftbar{ display:none;}
    #contentarea{ width:100%;}

    @page { margin: 0; }
    body { margin: 1.6cm; }

    .bgdark {
        background-color: #919394d6!important;
    }
    p {
        padding-left: 5px;
    }

    .pgray, thead.pgray, tr.pgray, td.pgray, th.pgray {
        background-color: #DDD9C4!important;
        -webkit-print-color-adjust:exact; color-adjust:exact;
    }
    .pgray2, thead.pgray2, tr.pgray2, td.pgray2, th.pgray2 {
        background-color: #C4BD97!important;
        -webkit-print-color-adjust:exact; color-adjust:exact;
    }
    .bgyellow, tfoot.bgyellow, tr.bgyellow, td.bgyellow, th.bgyellow {
        background-color: #EEFD5F;
        -webkit-print-color-adjust:exact; color-adjust:exact;
    }
    .bgyellow2, tfoot.bgyellow2, tr.bgyellow2, td.bgyellow2, th.bgyellow2 {
        background-color: #FFC000;
        -webkit-print-color-adjust:exact; color-adjust:exact
    }
}

.ui-autocomplete {
    list-style: none;
    background-color: white;
    padding-left: 10px;
    width: 160px;;
    height: auto;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    box-sizing: border-box;
}
 .ui-menu-item-wraper {
    list-style: none;
    margin: 0;
    cursor: pointer;
    padding: 14px 15px;
    display: block;
    text-decoration: none;
    color: rgba(0,0,0,.87);
    font-size: 15px;
    font-weight: 800;
}

.ui-helper-hidden-accessible { display:none; }

.right_placeholder{
    text-align:right;
}

.heading {
    background-color: #357EBD;
    color: #FFF;
    margin-bottom: 3em;
    text-align: center;
    line-height: 1.2em;
}

.form-control:focus {
    color: initial!important;
    background-color: inherit!important;
    border-color: initial!important;
    outline: none!important;
    box-shadow: none!important;
}

.form-control:disabled, .form-control[readonly] {
    background-color: inherit!important;
    opacity: 1;
}

.container input:hover, .container textarea:hover,
.table-striped > tbody > tr:nth-child(2n+1) > td input:hover,
.container input:focus, .container textarea:focus,
.table-striped > tbody > tr:nth-child(2n+1) > td input:focus{
    border: 1px solid #CCC;
}

.table-striped > tbody > tr:nth-child(2n+1) > td input{
    background-color: #F9F9F9;
    border: 1px solid #F9F9F9;
}

 div.ng-autocomplete {
     width: 80%!important;
     display: inline-block!important;
     border-bottom: 1px solid #0808085e;
 }
 .ng-autocomplete > .autocomplete-container > .input-container > input:focus {
     border-bottom: 2px solid #3f51b5!important;;
 }
 .autocomplete-container {
     box-shadow: none!important;
 }

tr.active {
    background-color: rgb(195, 208, 220)!important;
}



 /*

  */

/**
#footer {
    height: 690px;
    margin: 0;
    margin-bottom: 15px;
    background-color: #FFFFFF;
    background-image: url('/assets/img/invoice/footer.jpg');
    background-repeat:no-repeat;
    background-position: center 85%;
    background-size: 100%;
    bottom: 0;
    position: relative;
}
**/
.footer {
    /* height: 690px; */
    margin-left: 0!important;
    margin-right: 0!important;
    //margin-bottom: 25px;
    background-color: #FFFFFF;
    background-image: url(assets/img/invoice/footer.jpg);
    background-repeat: no-repeat;
    background-position: center 130%;
    background-size: 100%;
    bottom: 0;
}
//#invoice {
//    font-size: 1.7rem!important;
//}

html { height: 100%; }
body {
    min-height: 100%;
    //font-size: 20px!important;
}
.address {
    color: #0070C0;
    font-family: Arial, serif;
    text-align: center;
    position: absolute;
    margin-top: 0;
    margin-bottom: -10px;
    bottom: 12px;
    width: 100%;
    font-size: 15px;
}
.bold {
    font-weight: bold;
}
.underline {
    text-decoration: underline;
}
.bgdark {
    background-color: #919394d6!important;
}
p {
    padding-left: 5px;
}
.pgray {
    background-color: #DDD9C4!important;
}
.pgray2 {
    background-color: #C4BD97!important;
}
.bgyellow {
    background-color: #EEFD5F;
}
.bgyellow2 {
    background-color: #FFC000;
}
.pgray, tr.pgray, td.pgray, th.pgray {
    background-color: #DDD9C4!important;
}
.pgray2,  tr.pgray2, td.pgray2, th.pgray2 {
    background-color: #C4BD97!important;
}
.bgyellow, tr.bgyellow, td.bgyellow, th.bgyellow {
    background-color: #EEFD5F;
}
.bgyellow2, tr.bgyellow2, td.bgyellow2, th.bgyellow2 {
    background-color: #FFC000;
}
.heading {
    background-color:#357EBD;
    color:#FFF;
    margin-bottom:1em;
    text-align:center;
    line-height:2.5em;
}
.branding {
    padding-bottom:2em;
    border-bottom:1px solid #ddd;
}
.logo-container {
    text-align:right;
}
.infos .right {
    text-align:right;
}
.infos .right input {
    text-align:right;
}
.infos .input-container {
    padding:3px 0;
}

.header.row {
    font-weight:bold;
    border-bottom:1px solid #ddd;
    border-top:1px solid #ddd;
}

table.table th, table.table td {
    padding-top: 0em;
    padding-bottom: 0em;
    padding-right: 0em;
    padding-left: 0em;
}

