<form [formGroup]="form" (ngSubmit)="onSubmit()" style="width: 100%;">
    <div class="card" *ngIf="folder">
    <div class="card-header">
        <h5 style="display: inline-block;">Modifier la consignation du dossier</h5>
        <span style="display: inline-block;" class="text-warning ml-5 pull-right" *ngIf="folder && folder.consignation">Créer par {{ folder.consignation.user.lastName +  ' ' + folder.consignation.user.firstName }}</span>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-4">

                <div class="row" >
                    <div class="col-4">Client</div>

                    <div class="col-8">
                        <ng-template #okClient>
                            <div class="row">
                                <div class="col-8">
                                    <h5 style="display: inline-block;"><code>{{ customer.name }}</code></h5>
                                </div>
                                <button type="button" class="btn btn-sm btn-flickr"  style="margin-top: -5px;"  (click)="toggleSelectCustomer()">Changer</button>
                            </div>
                        </ng-template>
                        <ng-template #noClient>
                            <div class="row">
                                <div class="col-8">
                                    <small><code> Vous devez definir un client</code> </small>
                                </div>
                                <button type="button" class="btn btn-sm btn-flickr"  style="margin-top: -5px;"  (click)="toggleSelectCustomer()">Choisir</button>
                            </div>
                        </ng-template>
                        <p *ngIf="customer then okClient; else noClient"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 row" style="margin-top: 10px;">
                        <label class="col-6">Référence client</label>
                        <input class="form-control col-6" type="text"  required formControlName="customerRef" [ngClass]="{ 'is-invalid': submitted && f.customerRef.errors }" >
                        <div *ngIf="submitted && f.customerRef.errors" class="invalid-feedback ml-lg-5 row">
                            <div style="margin-left: 26.5%;" *ngIf="f.customerRef.errors.required">Champs requis</div>
                        </div>
                    </div>
                </div>
                <div class="form-group" style="margin-top: 10px;">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" formControlName="isNominationReceived" id="checkbox1" checked aria-checked="false">
                                <label class="form-check-label" for="checkbox1">
                                    Nomination reçu ?
                                </label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" formControlName="isPortInfoSent" id="checkbox2" checked aria-checked="false">
                                <label class="form-check-label" for="checkbox2">
                                    Port Info envoyé ?
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" formControlName="isNavyClearance" id="checkboxIsNv" checked aria-checked="false">
                                <label class="form-check-label" for="checkboxIsNv">
                                    NavyClearance ?
                                </label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" formControlName="isHusbandry" id="checkboxIsHus" checked aria-checked="false">
                                <label class="form-check-label" for="checkboxIsHus">
                                    Husbandry ?
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 border-left">
                <div class="row">
                    <div class="col-4">Navire</div>
                    <div class="col-8">
                        <ng-template #okShip>
                            <div class="row">
                                <div class="col-8">
                                    <h5 style="display: inline-block;"><code>{{ ship.name }}</code></h5>
                                </div>
                                <button type="button" class="btn btn-sm btn-twitter"  style="margin-top: -5px;"  (click)="toggleSelectShip()">Changer</button>
                            </div>
                        </ng-template>
                        <ng-template #noShip>
                            <div class="row">
                                <div class="col-8">
                                    <small><code> Vous devez definir un navire</code> </small>
                                </div>
                                <button type="button" class="btn btn-sm btn-twitter btn-rounded" style="margin-top: -5px;"  (click)="toggleSelectShip()">Choisir</button>
                            </div>
                        </ng-template>
                        <p *ngIf="ship then okShip; else noShip"></p>
                    </div>
                </div>
                <div class=" row" style="margin-top: 10px;">
                    <label class="col-6">Type de consignation</label>
                    <div class="col-6 input-group">
                        <ng-select style="width: 100%;" class="form-com bootstrap"  [items]="consignation_types"
                                   formControlName="consignationType"
                                   bindValue="id" bindLabel="name"
                                   [ngClass]="{ 'error': submitted && f.consignationType.errors && f.consignationType.errors.required}"
                        >
                        </ng-select>
                    </div>
                </div>
                <div class="form-group" style="margin-top: 30px;">
                    <div class="row">
                        <div class="col-6">
                            <label>Date d'arrivée du navire</label>
                            <input type="text"
                                   class="form-control"
                                   #dp="bsDatepicker"
                                   bsDatepicker
                                   value="{{ folder.shipArrivalDate | date:'dd-MM-yyyy' }}"
                                   formControlName="shipArrivalDate" [ngClass]="{ 'is-invalid': submitted && f.shipArrivalDate.errors }" >
                            <div *ngIf="submitted && f.shipArrivalDate.errors" class="invalid-feedback ml-lg-5 row">
                                <div style="margin-left: -12%;" *ngIf="f.shipArrivalDate.errors.required">Champs requis</div>
                            </div>
                        </div>
                        <div class="col-6">
                            <label>Date de départ du navire</label>
                            <input type="text"
                                   class="form-control"
                                   #dp="bsDatepicker"
                                   bsDatepicker
                                   value="{{ folder.shipDepartureDate | date:'dd-MM-yyyy' }}"
                                   formControlName="shipDepartureDate">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 border-left">
                <div class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <label >Numéro du dossier</label>
                            <input class="form-control" disabled type="text" value="BMA-{{ folder.number }}/{{folder.created_at| date:'yyyy'}}">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <label>Date de création</label>
                            <input class="form-control" disabled type="text" value="{{ folder.created_at ? (folder.created_at|date:'dd/MM/yyyy') : '' }}">
                        </div>
                        <div class="col-6">
                            <label>Date de clôture</label>
                            <input class="form-control" disabled type="text" value="{{ folder.closedAt ? (folder.closedAt|date:'dd/MM/yyyy') : 'Non défini' }}">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="card-footer">
        <ng-content></ng-content>
        <button type="submit" class="btn btn-primary btn-ladda pull-right" data-style="expand-right" [ladda]='loading'>Suivant</button>
    </div>
</div>
</form>


<app-create-ship-modal
    [show]='showCreateShipModal'
    [closeCallback]="toggleCreateShip"
    [ngStyle]="{display: showCreateShipModal ? 'block' : 'none'}"
    (onCreate)="setShip($event)"
>
</app-create-ship-modal>
<app-create-customer-modal
    [show]='showCreateCustomerModal'
    [closeCallback]="toggleCreateCustomer"
    [ngStyle]="{display: showCreateCustomerModal ? 'block' : 'none'}"
    (onCreate)="setCustomer($event)"
>
</app-create-customer-modal>

<app-select-ship-modal
    [show]='showSelectShipModal'
    [closeCallback]="toggleSelectShip"
    [ngStyle]="{display: showSelectShipModal ? 'block' : 'none'}"
    (onSelect)="setShip($event)"
>
    <button type="button" class="btn btn-secondary" (click)="toggleCreateShip()">Créer</button>
</app-select-ship-modal>
<app-select-customer-modal
    [show]='showSelectCustomerModal'
    [closeCallback]="toggleSelectCustomer"
    [ngStyle]="{display: showSelectCustomerModal ? 'block' : 'none'}"
    (onSelect)="setCustomer($event)"
>
    <button type="button" class="btn btn-secondary" (click)="toggleCreateCustomer()">Créer</button>
</app-select-customer-modal>


<toaster-container [toasterconfig]="toasterconfig"></toaster-container>


