<div style="z-index: 99999999999;margin-top: 2%;" bsModal [ngClass]="customClass || ''"
     class="modal " [ngStyle]="{display: show ? 'block' : 'none'}"
     tabindex="1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <form [formGroup]="transportOperationForm" (ngSubmit)="onSubmit()" style="width: 100%;">
             <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> <i class="fa fa-car"></i>  -  <i class="fa fa-ship"></i>  - <i class="fa fa-hotel"></i>  -  <i class="fa fa-hospital-o"></i>   Ajouter une operation de transport </h4>
                <button type="button" class="close" (click)="closeCallback()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
                    <div class="row">
                        <div class="col-6 input-group mb-3">
                            <label style="width: 100%;">
                                Transport
                            </label>
                            <ng-select style="width: 100%;" class="form-co bootstrap" [ngClass]="{ 'is-invalid': submitted && f.transport.errors }"  placeholder="Choisir le type de transport" [items]="transportTypes"
                                       formControlName="transport" [clearable]="true"
                                       (change)="transportTypeChanged()"
                                       bindLabel="name">
                            </ng-select>
                            <div *ngIf="submitted && f.transport.errors" class="invalid-feedback">
                                <div *ngIf="f.transport.errors.required">Choisir le type de transport</div>
                            </div>
                        </div>
                        <div *ngIf="!showShips" class="col-6 input-group mb-3">
                            <label style="width: 100%;">
                                Carrier
                            </label>
                            <ng-select style="width: 100%;" class="form-co bootstrap" [ngClass]="{ 'is-invalid': submitted && f.carrier.errors }"  placeholder="Carrier du transport" [items]="carriers"
                                       formControlName="carrier" [clearable]="true"
                                       bindValue="id" bindLabel="name">
                            </ng-select>
                            <div *ngIf="submitted && f.carrier.errors" class="invalid-feedback">
                                <div *ngIf="f.carrier.errors.required">Choisir le transporteur en charge</div>
                            </div>
                        </div>
                        <div *ngIf="showShips" class="col-6 input-group mb-3">
                            <label style="width: 100%;">
                                Boat arrangé
                            </label>
                            <ng-select style="width: 100%;" class="form-co bootstrap" [ngClass]="{ 'is-invalid': submitted && f.arrangedBoatId.errors }"  placeholder="Choisir un boat" [items]="vessels"
                                       formControlName="arrangedBoatId" [clearable]="true"
                                       bindValue="id" bindLabel="name">
                            </ng-select>
                            <div *ngIf="submitted && f.arrangedBoatId.errors" class="invalid-feedback">
                                <div *ngIf="f.arrangedBoatId.errors.required">Choisir le boat en charge</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 input-group mb-3" style="width: 100%;">
                            <label style="width: 100%;">
                                Crews
                            </label>
                            <ng-select style="width: 100%;" class="form-co bootstrap" [ngClass]="{ 'is-invalid': submitted && f.crews.errors }"  placeholder="Choisir les crew" [items]="availableCrews"
                                       formControlName="crews" [clearable]="true" [multiple]="true"
                                       bindValue="id" bindLabel="name">
                            </ng-select>
                            <div *ngIf="submitted && f.crews.errors" class="invalid-feedback">
                                <div *ngIf="f.crews.errors.required">Choisir le(s) crew</div>
                            </div>
                        </div>
                        <div class="col-6 input-group mb-3" style="width: 100%;"  *ngIf="!showShips">
                            <label style="width: 100%;">
                                Drivers
                            </label>
                            <ng-select style="width: 100%;" class="form-co bootstrap" [ngClass]="{ 'is-invalid': submitted && f.drivers.errors }"  placeholder="Choisir le/les convoyeurs" [items]="availableDrivers"
                                       formControlName="drivers" [clearable]="true" [multiple]="true"
                                       bindValue="id" bindLabel="username">
                            </ng-select>
                            <div *ngIf="submitted && f.drivers.errors" class="invalid-feedback">
                                <div *ngIf="f.drivers.errors.required">Convoyeur requis</div>
                            </div>
                        </div>
                        <div class="col-6 input-group mb-3" style="width: 100%;"  *ngIf="showShips">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" formControlName="isBoatSpecial" id="checkbox_isparallal" checked aria-checked="true">
                                <label class="form-check-label" for="checkbox_isparallal">
                                    Le boat a t'il été spécialement été loué pour cette opération ?
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 input-group mb-3" *ngIf="showHotels" style="width: 100%;">
                            <label style="width: 100%;">
                                Hotel
                            </label>
                            <ng-select style="width: 100%;" class="form-co bootstrap" [ngClass]="{ 'is-invalid': submitted && f.hotel.errors }"  placeholder="Choisir l'hotel" [items]="availableHotels"
                                       formControlName="hotel" [clearable]="true"
                                       bindValue="id" bindLabel="name">
                            </ng-select>
                            <div *ngIf="submitted && f.hotel.errors" class="invalid-feedback">
                                <div *ngIf="f.hotel.errors.required">Nom requis</div>
                            </div>
                        </div>
                        <div class="col-6 input-group mb-3" *ngIf="showClinics" style="width: 100%;">
                            <label style="width: 100%;">
                                Hospital
                            </label>
                            <ng-select style="width: 100%;" class="form-co bootstrap" [ngClass]="{ 'is-invalid': submitted && f.clinic.errors }"  placeholder="Choisir l'hopital" [items]="availableClinics"
                                       formControlName="clinic" [clearable]="true"
                                       bindValue="id" bindLabel="name">
                            </ng-select>
                            <div *ngIf="submitted && f.clinic.errors" class="invalid-feedback">
                                <div *ngIf="f.clinic.errors.required">Clinic requis</div>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="showShips">
                        <div class="col-6 input-group mb-3" style="width: 100%;">
                            <label style="width: 100%;">
                                From
                            </label>
                            <input type="text" class="form-control"
                                   [ngClass]="{ 'is-invalid': submitted && f.fromShip.errors }"
                                   placeholder="Saisir le navir de départ" formControlName="fromShip" />
                            <div *ngIf="submitted && f.fromShip.errors" class="invalid-feedback">
                                <div *ngIf="f.fromShip.errors.required">Champ requis</div>
                            </div>
                        </div>
                        <div class="col-6 input-group mb-3" style="width: 100%;">
                            <label style="width: 100%;">
                                To
                            </label>
                            <input type="text" class="form-control"
                                   [ngClass]="{ 'is-invalid': submitted && f.toShip.errors }"
                                   placeholder="Saisir le navir de départ" formControlName="toShip" />
                            <div *ngIf="submitted && f.toShip.errors" class="invalid-feedback">
                                <div *ngIf="f.toShip.errors.required">Champ requis</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 input-group mb-3" style="width: 100%;">
                            <label style="width: 100%;">
                                Description
                            </label>
                            <input type="text" class="form-control" placeholder="Entrer le lieu" autocomplete=""
                                   formControlName="description" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" required>
                            <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                                <div *ngIf="f.description.errors.required">Nom requis</div>
                            </div>
                        </div>
                    </div>

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary btn-ladda" data-style="expand-right" [ladda]='loading' >Enregistrer</button>
            </div>
        </div><!-- /.modal-content -->
        </form>
    </div><!-- /.modal-dialog -->
</div>


