
<div class="animated fadeIn">
    <div class="card mat-elevation-z8 col-md-10" style="margin: 0 auto;">
        <div class="card-header" style="margin-left: -15px; margin-right: -15px;">
            <h3>Modifier un hotel</h3>
        </div>
        <div class="card-body">
        </div>
    </div>
</div>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
