<div class="animated fadeIn">
    <div class="row">
        <div class="col-6 col-lg-3">
            <div class="card">
                <div class="card-body p-0 clearfix">
                    <i class="fa fa-ship bg-danger p-4 font-2xl mr-3 float-left"></i>
                    <div class="h5 text-danger mb-0 pt-3">{{ nbShips}}</div>
                    <div class="text-muted text-uppercase font-weight-bold font-xs">Navires</div>
                </div>
            </div>
        </div>
        <!--/.col-->

        <div class="col-6 col-lg-3">
            <div class="card">
                <div class="card-body p-0 clearfix">
                    <i class="fa fa-briefcase bg-primary p-4 font-2xl mr-3 float-left"></i>
                    <div class="h5 text-primary mb-0 pt-3">{{ nbCheckoutSheet }}</div>
                    <div class="text-muted text-uppercase font-weight-bold font-xs">Fiches de caisse</div>
                </div>
            </div>
        </div>
        <!--/.col-->
        <div class="col-6 col-lg-3">
            <div class="card">
                <div class="card-body p-0 clearfix">
                    <i class="fa fa-clipboard bg-info p-4 font-2xl mr-3 float-left"></i>
                    <div class="h5 text-info mb-0 pt-3">{{ nbInvestmentSheet }}</div>
                    <div class="text-muted text-uppercase font-weight-bold font-xs">Fiches de bon</div>
                </div>
            </div>
        </div>
        <!--/.col-->
        <div class="col-6 col-lg-3">
            <div class="card">
                <div class="card-body p-0 clearfix">
                    <i class="fa fa-folder bg-warning p-4 font-2xl mr-3 float-left"></i>
                    <div class="h5 text-warning mb-0 pt-3">{{ nbFolders }}</div>
                    <div class="text-muted text-uppercase font-weight-bold font-xs">Dossier</div>
                </div>
            </div>
        </div>
        <!--/.col-->
        <div class="col-6 col-lg-3">
            <div class="card">
                <div class="card-body p-0 clearfix">
                    <i class="fa fa-address-book bg-danger p-4 font-2xl mr-3 float-left"></i>
                    <div class="h5 text-danger mb-0 pt-3">{{ nbCustomers }}</div>
                    <div class="text-muted text-uppercase font-weight-bold font-xs">Clients</div>
                </div>
            </div>
        </div>

    </div>
</div>
