<div class="animated fadeIn">
    <div class="row">
        <div  class="col-12">
            <p *ngIf="loading">
                <img style="height: 70px;" src="assets/loading.gif" alt="">
            </p>
        </div>
        <div *ngIf="!loading" class="row">
            <div class="pull-right">
                <button printTitle="PDA" printSectionId="invoices" class="btn btn-floating" [printStyle]="{ '.pgray': { 'background-color': '#DDD9C4' } }" [useExistingCss]="true" ngxPrint><i class="fa fa-print"></i>&nbsp;<span (click)="updatePda()">Imprimer</span></button>
            </div>
        </div>
        <div *ngIf="!loading"  class="container" id="invoices" style="height: 100%;">
            <div class="invoice" width="1000px">
                <div class="card" style="margin-bottom: 0; height: 100%; border: none;">
                    <div class="card-header" style="height: 20%!important;" style="padding: 0;">
                        <div class="row" style="margin: 0;">
                            <img class="col-xs-12" style="width: 100%;" src="assets/img/invoice/header.png" />
                        </div>
                        <div class="card-body bg-white">
                            <div class="invoice_header" *ngIf="pda.folder">
                                <div class="row">
                                    <div class="col-4">
                                        <p *ngIf="pda.folder && pda.folder.customer">
                                            <span class="bold underline">TO </span>: {{ pda.folder.ship.name }} <br>
                                            <!--                                                       {{ pda.folder.customer.name }} <br>-->
                                            {{ pda.folder.customer.address }} <br>
                                            {{ pda.folder.customer.tel }} <br>
                                        </p>
                                    </div>
                                    <div class="col-4"></div>
                                    <div class="col-4">
                                        <p class="bold" style="text-align: end; padding-right: 15px;">{{ config ? (config.date|date:'dd/MM/y') : '' }}</p>
                                        <p class="bold text-center pgray">REP {{ genPdaNo(pda) }}</p>
                                        <p class="bold text-center pgray" *ngIf="pda.folder">YOUR REF {{ pda.folder.customerRef }}</p>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <h3 class="bold underline">PDA N° {{  config ? config.newNo: '' }} {{ getNextPdaLetter(pda) }}</h3>
                                    <h5 class="bold"><span class="underline">Conc:</span> {{ pda.name }}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" style="height: 50%!important;">
                        <div id="item_list " >
                            <div *ngFor="let mission of pda.missions; let i=index;">
                                <div id="table" class="table-editable">
                                    <table class="table table-bordered table-responsive-md text-center">
                                        <thead>
                                        <tr class="pgray">
                                            <th class="bold text-center" colspan="6" width="80%"><p class="pgray" style="margin-top: 0;margin-bottom: 0;">DESIGNATION</p></th>
                                            <th class="bold text-center" width="20%"><p class="pgray" style="margin-top: 0;margin-bottom: 0;">AMOUNT ({{ pda.folder.currency }})</p></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td class="pgray2 bold text-left" colspan="6" width="80%"><p class="pgray2" style="margin-top: 0;margin-bottom: 0;">MISSION {{ getNextPdaMissionLetter(i) }} : {{ mission.name }}</p></td>
                                            <td class="pgray2 bold text-left" width="20%"><p class="pgray2" style="margin-top: 0;margin-bottom: 0;">&nbsp;&nbsp;</p></td>
                                        </tr>
                                        <!--                                                    <tr *ngIf="isCrew[i] then crew; else notCrew;"></tr>-->
                                        <!--                                                    <ng-template #crew>-->
                                        <tr class="">
                                            <td width="47%" colspan="3" class=" bold text-center">Detail & Description</td>
                                            <td class=" bold text-center">Bas</td>
                                            <td class=" bold text-center">Qty</td>
                                            <td class=" bold text-center">Number & Ref</td>
                                            <td ></td>
                                        </tr>
                                        <tr *ngFor="let item of mission.operations; let  j=index;">
                                            <td  colspan="3" style="padding-left:5px;" class="text-left">
                                                <span contenteditable="true">{{ j + 1 }}- {{item.name}}</span>
                                            </td>
                                            <td class="text-left">
                                                <span contenteditable="true">{{item.bas}}</span>
                                            </td>
                                            <td class="text-left">
                                                <span contenteditable="true">{{item.qty ? item.qty : ''}}</span>
                                            </td>
                                            <td class="text-left">
                                                <span contenteditable="true">{{item.number_ref}}</span>
                                            </td>
                                            <td>
                                                <span contenteditable="true" >{{ computeItemTotal(item) }} </span>
                                            </td>
                                        </tr>
                                        </tbody>
                                        <tfoot>
                                        <tr class="bgyellow">
                                            <td colspan="6" class="bold text-center"><p class="bgyellow" style="margin-top: 0;margin-bottom: 0;">TOTAL</p></td>
                                            <td class="font-italic bold"><p class="bgyellow" style="margin-top: 0;margin-bottom: 0;">{{ mission.total }}</p></td>
                                        </tr>
                                        <tfoot>
                                    </table>

                                </div>
                            </div>
                            <table class="table table-bordered table-responsive-md text-center">
                                <tr>
                                    <!--                                                {{ concatLetters() }}-->
                                    <!--                                                {{ getTotal() }}-->
                                    <td class="bold text-center" colspan="6" width="80%"><p class="bgyellow2" style="margin-top: 0;margin-bottom: 0;"><i>TOTAL {{ concatLettersFoPda(i) }}</i></p></td>
                                    <td class="bold text-center"><p class="bgyellow2" style="margin-top: 0;margin-bottom: 0;"><i>{{ pda.total }}</i></p></td>
                                </tr>
                            </table>
                        </div>

                        <div id="invoice_footer" >
                            <div class="row">
                                <div class="col-12 " style="background-color: rgba(255, 0, 51, 0.45);" id="{{computePdaTotal(pda)}}">
                                    <p style=" margin-bottom: 0;"> TOTAL AMOUNT
                                         <span style="font-weight: bold;text-transform: capitalize;" *ngIf="pda.total">
                                                        {{ toLetter((pda.total), pda.folder.currency) }} ({{ pda.folder.currency }}, {{pda.total }}),
                                                    </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer " style="height: auto;padding: 0;margin-bottom: 0;">
                        <div class="row footer">
                            <div class="col-11" style="font-size: 15px!important;">
                                <p class="bold underline">BANK DETAILS</p>
                                <p class="bold"><span class="underline">Bank name :</span> ORABANK</p>
                                <p class="bold row">
                                    <span class="col-5"><span class="underline">Account number :</span> 065847900101</span>
                                    <span class="col-3"><span style="margin-left: 10px" class="underline">RIB :</span> 81</span>
                                </p>
                                <p class="bold row">
                                    <span class="col-5"><span class="underline">Bank code :</span> TG116</span>
                                    <span class="col-3"><span style="margin-left: 10px" class="underline">Code Guichet :</span> 01002</span>
                                </p>
                                <p class="bold"><span class="underline">Code Bic/CODE SWIFT :</span> ORBKTGTG</p>
                                <p class="bold"><span class="underline">IBAN :</span> TG53TG1160100206584790010181</p>
                                <p class="bold"><span class="">Domiciliation :</span>
                                    LOME BRIGHTNESS MARITIME AGENCY SARL
                                    11BP 198 LOME GOLFE
                                </p>
                                <p class="row bold">
                                    <span class="col-9"></span>
                                    <span>
                                        ACCOUNT DEPARTMENT <br> <br><br><br><br>
                                    </span>
                                </p>
                            </div>
                            <p class="address" style="background: white;">Angle Rue de l’Entente 215, Rue Katoré Antonio-nétimé   01 BP. 675 Lomé - TOGO    Tél. (+228) 97 18 89 89</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
