<div style="z-index: 99999999999;" bsModal [ngClass]="customClass || ''" class="modal " [ngStyle]="{display: show ? 'block' : 'none'}" tabindex="1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-primary" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> <i class="fa fa-user-circle"></i> Ajouter un client </h4>
                <button type="button" class="close" (click)="closeCallback()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="customerForm" (ngSubmit)="onSubmit()" style="width: 100%;">
                    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
                    <div class="border-bottom">
                        <div class="input-group mb-3" style="width: 100%;">
                            <label style="width: 100%;">
                                <input type="text" class="form-control" placeholder="Nom" autocomplete="username"
                                       formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" required>
                                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                    <div *ngIf="f.name.errors.required">Nom requis</div>
                                </div>
                            </label>
                        </div>
                        <div class="input-group mb-3" style="width: 100%;">
                            <label style="width: 100%;">
                                <input type="text" class="form-control" placeholder="Téléphone" autocomplete="tel"
                                       formControlName="tel" [ngClass]="{ 'is-invalid': submitted && f.tel.errors }">
                                <div *ngIf="submitted && f.tel.errors" class="invalid-feedback">
                                    <div *ngIf="f.tel.errors.required">Téléphone requis</div>
                                </div>
                            </label>
                        </div>

                        <div class="input-group mb-3" style="width: 100%;">
                            <label style="width: 100%;">
                                <input type="text" class="form-control" placeholder="Due date delay" autocomplete="dueDateDelay"
                                       formControlName="dueDateDelay" [ngClass]="{ 'is-invalid': submitted && f.dueDateDelay.errors }">
                                <div *ngIf="submitted && f.dueDateDelay.errors" class="invalid-feedback">
                                    <div *ngIf="f.dueDateDelay.errors.required">Due date delay</div>
                                </div>
                            </label>
                        </div>
                        <div class="input-group mb-3" style="width: 100%;">
                            <label style="width: 100%;">
                                <input type="text" class="form-control" placeholder="Adresse" autocomplete="ref"
                                       formControlName="address" [ngClass]="{ 'is-invalid': submitted && f.address.errors }">
                                <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                                    <div *ngIf="f.address.errors.required">Adresse requise</div>
                                </div>
                            </label>

                        </div>
                        <div class="input-group mb-3" style="width: 100%;">
                            <label style="width: 100%;">
                                <textarea placeholder="Description" class="form-control"  autocomplete="description"
                                          formControlName="description" [ngClass]="{ 'is-invalid': submitted && f.description.errors }">
                                </textarea>
                                <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                                    <div *ngIf="f.description.errors.required">Description requise</div>
                                </div>
                            </label>
                        </div>
                        <div class="input-group mt-4">
                            <!--    <button type="button" class="btn btn-secondary" (click)="hide(shipModal)">Annuler</button>-->
                            <button type="submit" class="btn btn-primary btn-ladda" data-style="expand-right" [ladda]='loading' >Enregistrer</button>
                        </div>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
