<div style="z-index: 99999999999;margin-top: 2%;" bsModal [ngClass]="customClass || ''"
     class="modal " [ngStyle]="{display: show ? 'block' : 'none'}"
     tabindex="1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <form [formGroup]="transfertOperationForm" (ngSubmit)="onSubmit()" style="width: 100%;">
             <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> <i class="fa fa-car"></i>  -  <i class="fa fa-ship"></i>  - <i class="fa fa-hotel"></i>  -  <i class="fa fa-hospital-o"></i>   Ajouter une operation de transfert </h4>
                <button type="button" class="close" (click)="closeCallback()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
             <div class="modal-body">
                     <div *ngIf="error" class="alert alert-danger">{{error}}</div>
                     <div class="row">
                         <div class="col-6 input-group mb-3">
                             <label style="width: 100%;">
                                 Departure Ship
                             </label>
                             <ng-select style="width: 100%;" class="form-co bootstrap" [ngClass]="{ 'is-invalid': submitted && f.departure_ship.errors }"  placeholder="Choisir le navire de depart" [items]="ships"
                                        formControlName="departure_ship" [clearable]="true"
                                        bindValue="id"
                                        bindLabel="name">
                             </ng-select>
                             <div *ngIf="submitted && f.departure_ship.errors" class="invalid-feedback">
                                 <div *ngIf="f.departure_ship.errors.required">Choisir le navire de destination</div>
                             </div>
                         </div>
                         <div class="col-6 input-group mb-3">
                             <label style="width: 100%;">
                                 Destination Ship
                             </label>
                             <ng-select style="width: 100%;" class="form-co bootstrap" [ngClass]="{ 'is-invalid': submitted && f.destination_ship.errors }"  placeholder="Choisir le navire de destination" [items]="ships"
                                        formControlName="destination_ship" [clearable]="true"
                                        bindValue="id"
                                        bindLabel="name">
                             </ng-select>
                             <div *ngIf="submitted && f.destination_ship.errors" class="invalid-feedback">
                                 <div *ngIf="f.destination_ship.errors.required">Choisir le navire de destination</div>
                             </div>
                         </div>
                     </div>
                     <div class="row">
                         <div class="col-6 input-group mb-3" style="width: 100%;">
                             <label style="width: 100%;">
                                 Crews
                             </label>
                             <ng-select style="width: 100%;" class="form-co bootstrap" [ngClass]="{ 'is-invalid': submitted && f.crews.errors }"  placeholder="Choisir les crew" [items]="availableCrews"
                                        formControlName="crews" [clearable]="true" [multiple]="true"
                                        bindValue="id" bindLabel="name">
                             </ng-select>
                             <div *ngIf="submitted && f.crews.errors" class="invalid-feedback">
                                 <div *ngIf="f.crews.errors.required">Choisir le(s) crew</div>
                             </div>
                         </div>
                         <div class="col-6 input-group mb-3">
                             <label style="width: 100%;">
                                 Boat arrangé
                             </label>
                             <ng-select style="width: 100%;" class="form-co bootstrap" [ngClass]="{ 'is-invalid': submitted && f.arrangedBoatId.errors }"  placeholder="Choisir un boat" [items]="vessels"
                                        formControlName="arrangedBoatId" [clearable]="true"
                                        bindValue="id" bindLabel="name">
                             </ng-select>
                             <div *ngIf="submitted && f.arrangedBoatId.errors" class="invalid-feedback">
                                 <div *ngIf="f.arrangedBoatId.errors.required">Choisir le boat en charge</div>
                             </div>
                         </div>

                     </div>
                     <div class="row">
                         <div class="col-6 input-group mb-3" style="width: 100%;">
                             <label style="width: 100%;">
                                 Distance Departure Ship
                             </label>
                             <input type="text" class="form-control" placeholder="Distance du navire de depart" autocomplete=""
                                    formControlName="departure_ship_distance" [ngClass]="{ 'is-invalid': submitted && f.departure_ship_distance.errors }" required>
                             <div *ngIf="submitted && f.departure_ship_distance.errors" class="invalid-feedback">
                                 <div *ngIf="f.departure_ship_distance.errors.required">Distance requise</div>
                             </div>
                         </div>
                         <div class="col-6 input-group mb-3" style="width: 100%;">
                             <label style="width: 100%;">
                                 Distance Destination Ship
                             </label>
                             <input type="text" class="form-control" placeholder="Distance du navire d'arrivé" autocomplete=""
                                    formControlName="destination_ship_distance" [ngClass]="{ 'is-invalid': submitted && f.destination_ship_distance.errors }" required>
                             <div *ngIf="submitted && f.destination_ship_distance.errors" class="invalid-feedback">
                                 <div *ngIf="f.destination_ship_distance.errors.required">Distance requise</div>
                             </div>
                         </div>

                     </div>
                     <div class="row">
                         <div class="col-6 input-group mb-3" style="width: 100%;">
                             <label style="width: 100%;">
                                 Boat Note
                             </label>
                             <input type="file" required class="form-co"  ng2FileSelect autoUpload="autoUpload" [uploader]="uploader1" />

                         </div>
                         <div class="col-6 input-group mb-3" style="width: 100%;">
                             <label style="width: 100%;">
                                 Boat Note
                             </label>
                             <input type="file" required  class="form-co"  ng2FileSelect autoUpload="autoUpload" [uploader]="uploader2" />

                         </div>
                     </div>
                    <div class="row">
                        <div class="col-6 input-group mb-3" style="width: 100%;">
                            <label style="width: 100%;">
                                Description
                            </label>
                            <input type="text" class="form-control" placeholder="Autres details" autocomplete=""
                                   formControlName="description" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" required>
                            <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                                <div *ngIf="f.description.errors.required">Nom requis</div>
                            </div>
                        </div>
                        <div class="col-6 input-group mb-3 mt-4" style="width: 100%;" >
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" formControlName="isBoatSpecial" id="checkbox_isparallal" checked aria-checked="true">
                                <label class="form-check-label" for="checkbox_isparallal">
                                    Le boat a t'il été spécialement été loué pour cette opération ?
                                </label>
                            </div>
                        </div>
                    </div>
                 </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary btn-ladda" data-style="expand-right" [ladda]='loading' >Enregistrer</button>
            </div>
        </div><!-- /.modal-content -->
        </form>
    </div><!-- /.modal-dialog -->
</div>


