<div class="animated fadeIn">
    <app-consignation-form
        (onCreate)="setFolder($event)"
    >
    </app-consignation-form>



    <div class="row">

    </div>
</div>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>

