<div style="z-index: 99999999999;margin-top: 5%;" bsModal [ngClass]="customClass || ''" class="modal " [ngStyle]="{display: show ? 'block' : 'none'}" tabindex="1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-primary" role="document">
        <form [formGroup]="crewsSelectForm" (ngSubmit)="onSubmit()" style="width: 100%;">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"> <i class="fa fa-check-circle"></i> OKTB </h4>
                    <button type="button" class="close" (click)="closeCallback()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <label style="width: 100%;">
                            Selectionnez les crews concernés (taper le nom)
                            <a class="btn btn-sm btn-link" *ngIf="!selectAll" (click)="toogleSelectAll()" style="text-transform: capitalize;float:right;color: #6610f2!important;font-weight: bold;padding: 0;" type="button">Tout selectionner</a>
                            <a class="btn btn-sm btn-link" *ngIf="selectAll" (click)="toogleSelectAll()" style="text-transform: capitalize;float:right;color: #6610f2!important;font-weight: bold;padding: 0;" type="button">Tout déselectionner</a>
                        </label>
                        <ng-select *ngIf="!selectAll"
                                   style="width: 100%;"
                                   class="form-co bootstrap"
                                   [ngClass]="{ 'is-invalid': submitted && f.selectedCrews.errors }"
                                   placeholder="Choisir les  crew"
                                   [items]="availableCrews"
                                   [multiple]="true"
                                   formControlName="selectedCrews" [clearable]="true"
                                   bindValue="id" bindLabel="name">
                        </ng-select>
                        <div *ngIf="submitted && f.selectedCrews.errors" class="invalid-feedback">
                            <div *ngIf="f.selectedCrews.errors.required">Choisir les crews</div>
                        </div>
                        <div *ngIf="selectAll" class="was-validated small text-warning">
                            Tous les crew ({{ availableCrews.length }}) sont selectionnées
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="row">
                            <div class="col-6 input-group mb-3" style="width: 100%;">
                                <label style="width: 100%;">
                                    Passport
                                </label>
                                <input type="file"  class="form-co"  ng2FileSelect autoUpload="autoUpload" [uploader]="uploader1" />
                                <div *ngIf="submitted && f.passport.errors" class="invalid-feedback">
                                    <div *ngIf="f.certificate.errors.required">Passport requis</div>
                                </div>
                            </div>
                            <div class="col-6 input-group mb-3" style="width: 100%;">
                                <label style="width: 100%;">
                                    Enregistrement
                                </label>
                                <input type="file"  class="form-co"  ng2FileSelect autoUpload="autoUpload" [uploader]="uploader2"  />
                                <div *ngIf="submitted && f.registration.errors" class="invalid-feedback">
                                    <div *ngIf="f.certificate_des.errors.required">Enregistrement requis</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="justify-content: space-between;">
                    <button type="submit" class="btn btn-primary btn-ladda" data-style="expand-right" [ladda]='loading' >Enregistrer</button>
                </div>

            </div><!-- /.modal-content -->
        </form>
    </div><!-- /.modal-dialog -->
</div>

