﻿/*!
    *
    * Wijmo Library 5.20191.615
    * http://wijmo.com/
    *
    * Copyright(c) GrapeCity, Inc.  All rights reserved.
    *
    * Licensed under the GrapeCity Commercial License.
    * sales@wijmo.com
    * wijmo.com/products/wijmo-5/license/
    *
    */
.wj-control,.wj-control input{font-size:16px}.wj-cell{padding:6px}.wj-listbox-item{padding:6px 10px}.wj-dropdown-panel{box-shadow:0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12)}.wj-content,div[wj-part=cells]{background:#fff;color:#212121}.wj-content .wj-input-group .wj-form-control{background:#fff;color:#212121}.wj-header{background:#e8e8e8;color:#000}div[wj-part=root]{background:#fff}.wj-state-selected{background:#ffeb3b;color:#fff}.wj-state-multi-selected{background:#fff388;color:#fff}.wj-input-group .wj-form-control,.wj-grid-editor{background:#fff;color:#212121}.wj-cell{border-right:none;border-bottom:1px solid rgba(0,0,0,.1)}[dir=rtl] .wj-cell{border-left:1px solid rgba(0,0,0,.1)}.wj-cell:not(.wj-header):not(.wj-group):not(.wj-alt):not(.wj-state-selected):not(.wj-state-multi-selected){background:#fff}.wj-alt:not(.wj-header):not(.wj-group):not(.wj-state-selected):not(.wj-state-multi-selected){background:#fff}.wj-flexgrid .wj-group:not(.wj-state-selected):not(.wj-state-multi-selected){background:#eed500;color:#fff}.wj-cell.wj-frozen-row{border-bottom-color:#000;border-width:1px}.wj-cell.wj-frozen-col{border-right-color:#000;border-width:1px}.wj-flexgrid .wj-header.wj-state-multi-selected{background:#d5d5d5}.wj-flexgrid .wj-colheaders .wj-header.wj-state-multi-selected{border-bottom:3px solid #ffeb3b}.wj-flexgrid .wj-rowheaders .wj-header.wj-state-multi-selected{border-right:3px solid #ffeb3b}.wj-flexgrid .wj-marquee{position:absolute;box-sizing:border-box;border:2px solid #ffeb3b}.wj-flexsheet .wj-marquee{border:2px solid #ffeb3b}.wj-flexgrid .wj-marker{background:#00bcd4}.wj-control.wj-content.wj-dropdown,.wj-inputnumber{background-color:transparent;border:0;border-bottom:1px solid rgba(0,0,0,.12)}.wj-control.wj-content .wj-input-group input.wj-form-control{background-color:transparent;padding-bottom:0;padding-top:0}.wj-content .wj-input-group-btn>.wj-btn:hover,.wj-content .wj-btn-group>.wj-btn:hover{background-color:rgba(0,0,0,.1)}.wj-content .wj-input-group-btn>.wj-btn,.wj-content .wj-btn-group>.wj-btn{border-style:none;border-radius:2px;background-color:rgba(0,0,0,.02);color:rgba(0,0,0,.8);min-width:32px}.wj-content,.wj-input-group,.wj-btn-group,.wj-btn-group-vertical,.wj-tooltip{border-radius:0}.wj-tooltip{padding:20px;color:#fff;font-weight:700;background-color:rgba(128,128,128,.85);border:0}.wj-gauge .wj-pointer{fill:#ffeb3b}.wj-gauge.wj-state-focused circle.wj-pointer{fill:#00bcd4;transition:fill .2s}.wj-control.wj-multi-autocomplete{border-radius:0}.wj-multi-autocomplete .wj-token{border-radius:0;border:1px solid #ffeb3b;background:#ffeb3b;color:#fff}.wj-multi-autocomplete .wj-token:hover{border-color:#ffeb3b}.wj-multi-autocomplete .wj-token.wj-token-active{border-color:#ffeb3b}.wj-multi-autocomplete .wj-token .wj-token-close,.wj-multi-autocomplete .wj-token .wj-token-close:hover,.wj-multi-autocomplete .wj-token .wj-token-close:focus{color:#fff}.wj-treeview .wj-node{color:#212121}.wj-treeview .wj-node.wj-state-selected{background:#ffeb3b;color:#fff}