.printable {
    background-color: #fff967;
    color: #000;
    padding-top: 30px;
    padding-bottom: 30px;
}
.start>.row>.cbold>.underlined, .row>.start>.cbold>.underlined {
    text-align: left!important;
}
.end>.cbold>.underlined {
    text-align: right!important;
}
.cbold {
    font-weight: 600;
    font-size: 1rem;
    margin: 10px 0 0 10px;
}
.underlined {
    text-decoration: underline!important;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}
.crow {
    margin-bottom: 20px!important;
}
.check {
    padding: 5px 8px!important;
}
.box {
    border: 1px outset black;
    font-weight: 500;
    font-style: italic;
    font-size: 1.3em;
    padding: 2px 2px 2px 10px;
}
.text {
    margin-top: 0;
    font-weight: 100;
    font-style: italic;
    color: blue;
}
.dotted {
    text-decoration: dotted;
}

@media print {
    #invoice {
        min-height: 100%;
        font-size: 15px;
    }
    .printable {
        background-color: #fff967;
        color: #000;
    }
    .start>.row>.cbold>.underlined, .row>.start>.cbold>.underlined {
        text-align: left!important;
    }
    .end>.cbold>.underlined {
        text-align: right!important;
    }
    .cbold {
        font-weight: 600;
        font-size: 1rem;
        margin: 10px 0 0 10px;
    }
    .underlined {
        text-decoration: underline!important;
        font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    }
    .crow {
        margin-bottom: 20px!important;
    }
    .box {
        border: 1px outset black;
        padding: 2px;
    }
    .dotted {
        text-decoration: dotted;
    }
    :not(.printable) {
        display: none !important;
        visibility: hidden;
    }
}

.right_placeholder{
    text-align:right;
}
.heading {
    background-color: #357EBD;
    color: #FFF;
    margin-bottom: 3em;
    text-align: center;
    line-height: 1.2em;
}
.form-control:focus {
    color: initial!important;
    background-color: inherit!important;
    border-color: initial!important;
    outline: none!important;
    box-shadow: none!important;
}
.form-control:disabled, .form-control[readonly] {
    background-color: inherit!important;
    opacity: 1;
}
.slide-down-enter,
.slide-down-leave
{
    -webkit-transition:200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition:200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition:200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition:200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition:200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    display:block;
    overflow:hidden;
    position:relative;
}

.items-table .row {
    border-bottom:1px solid #ddd;
    line-height:3em;
}
.items-table .row:last-child {
    border-bottom:none;
    line-height:3em;
}
.slide-down-enter.slide-down-enter-active,
.slide-down-leave {
    opacity:1;
    height:46px;
}
.slide-down-leave.slide-down-leave-active,
.slide-down-enter {
    opacity:0;
    height:0px;
}

.invoice-number-container * {
    font-weight:bold;
}
.items-table .row:nth-child(even) {
    background:#f9f9f9;
}
.items-table input {
    line-height:1.5em;
}
.actions {
    padding-top:1em;
}
input:focus {
    outline: 0;
}

.heading {
    background-color:#357EBD;
    color:#FFF;
    margin-bottom:1em;
    text-align:center;
    line-height:2.5em;
}
.branding {
    padding-bottom:2em;
    border-bottom:1px solid #ddd;
}
.logo-container {
    text-align:right;
}
.infos .right {
    text-align:right;
}
.infos .right input {
    text-align:right;
}
.infos .input-container {
    padding:3px 0;
}

.header.row {
    font-weight:bold;
    border-bottom:1px solid #ddd;
    border-top:1px solid #ddd;
}
input, textarea{
    border: 1px solid #FFF;
}
.container input:hover, .container textarea:hover,
.table-striped > tbody > tr:nth-child(2n+1) > td input:hover,
.container input:focus, .container textarea:focus,
.table-striped > tbody > tr:nth-child(2n+1) > td input:focus{
    border: 1px solid #CCC;
}
.table-striped > tbody > tr:nth-child(2n+1) > td input{
    background-color: #F9F9F9;
    border: 1px solid #F9F9F9;
}


#address {
    color: #0070C0;
    font-family: Arial, serif;
    text-align: center;
    position: absolute;
    margin-top: 20px;
    bottom: -20px;
    width: 100%;
    font-size: 20px;
}
.bold {
    font-weight: bold;
}
.underline {
    text-decoration: underline;
}
.bgdark {
    background-color: #919394d6!important;
}
p {
    padding-left: 5px;
}
.pgray {
    background-color: #d2ccb0!important;
}
.bgyellow {
    background-color: #f9f903;
}
.table-bordered th.black, .table-bordered td.black {
    border: 1px solid black;
}
div.ng-autocomplete {
    width: 80%!important;
    display: inline-block!important;
    border-bottom: 1px solid #0808085e;
}
.ng-autocomplete > .autocomplete-container > .input-container > input:focus {
    border-bottom: 2px solid #3f51b5!important;;
}
.autocomplete-container {
    box-shadow: none!important;
}

.copy {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    width: 100%;
    margin: 40px 0 20px 0;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    color: #404040;
    cursor: default;
    line-height: 1.4em;
}
#container {
    width: 100%;
    height: 100%;
}
#footer {
    height: 690px;
    margin: 0;
    background-color: #FFFFFF;
    background-image: url('assets/img/invoice/footer.jpg');
    background-repeat:no-repeat;
    background-position: center 140%;
    background-size: 100%;
    bottom: 0;
    position: relative;
}
#invoice {
    font-size: 1.7rem!important;
}

html { height: 100%; }
body {
    min-height: 100%;
    font-size: 20px!important;
}
