<div class="animated fadeIn" style="height: 100%;">
    <div class="row  col-12" style="height: 100%;">
        <div class="card-header" style="width: 100%;">
            <button (click)="print()">
                <i class="fa fa-print"></i><strong>Imprimer</strong>
            </button>
            <button *ngIf="showValidButton" (click)="validateInvoice(invoice.id)" style="margin-left: 50px;">
                <i class="fa fa-check"></i><strong>Valider</strong>
            </button>
            <button *ngIf="showUnValidButton" (click)="unvalidateInvoice(invoice.id)" style="margin-left: 50px;">
                <i class="fa fa-check"></i><strong>Désaprouver</strong>
            </button>
        </div>
    </div>
    <div class="row"  id="printable" style="min-height: 100%; height: 1670px;">
        <div class="containr" style="width: 100%;min-height: 100%;" id="invoice">
            <div class="card" style="border-top:none;height: 100%;">
                <div class="card-header" style="padding: 0; border-top:none;">
                    <div class="row" style="margin: 0;">
                        <img class="col-xs-12" style="width: 100%; height: 200px;" src="assets/img/invoice/header.png" />
                    </div>
                    <div class="card-body bg-white">
                        <div id="invoice_header" *ngIf="invoice">
                            <div class="row">
                                <div class="col-4">
                                    <p>
                                        <span class="bold underline">TO </span>: Owner {{ invoice.customer }}
                                    </p>
                                </div>
                                <div class="col-4"></div>
                                <div class="col-4">
                                    <p class="bold" style="text-align: end; padding-right: 15px;">{{ invoice.date }}</p>
                                    <p class="bold text-center pgray">{{ invoice.rep }}</p>
                                    <p class="bold text-center pgray">{{ invoice.customerRef }}</p>
                                </div>
                            </div>
                            <div class="text-center">
                                <h3 class="bold underline">INVOICE {{ invoice.number }}</h3>
                                <h5 class="bold"><span class="underline">Conc:</span> {{ invoice.conc }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div id="item_list ">
                        <table class="table table-bordered">
                            <thead>
                            <tr class="pgray">
                                <th class="bold text-center" colspan="5" width="80%">DESIGNATION</th>
                                <th class="bold text-center" width="20%">AMOUNT</th>
                            </tr>
                            </thead>
                            <tbody *ngIf="invoice && invoice.invoice_details" style="font-size: 20px;">
                                <tr class="bold">
                                    <td>details & description</td>
                                    <td>cur</td>
                                    <td>bas</td>
                                    <td>qty</td>
                                    <td>numer and ref</td>
                                    <td></td>
                                </tr>
                                <tr *ngFor="let item of invoice.invoice_details">
                                    <td>{{ item.description }}</td>
                                    <td>{{ invoice.currency }}</td>
                                    <td>  {{ item.bas }}  </td>
                                    <td> {{ item.qty }} </td>
                                    <td>  {{ item.number_and_ref }}  </td>
                                    <td style="text-align: right;">{{ item.qty * item.bas }}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                            <tr class="bgyellow">
                                <td colspan="5" class="bold text-center">TOTAL</td>
                                <td class="font-italic bold" style="text-align: right;">{{ total }}</td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>

                    <div id="invoice_footer">
                        <div class="row bold" style="background-color: #ff000033;">
                            <p style="text-transform: capitalize;margin: 0;font-size: 20px;"> TOTAL AMOUNT : <span style="text-transform: capitalize;">{{ toLetter(total) }}</span> </p>
                        </div>
                    </div>
                </div>
                <div class="card-footer" style="padding: 0;bottom: 0; position: relative;width: 100%;">
                    <div class="row" id="footer" style="position: relative;bottom: 0;">
                        <div class="col-10" style="font-size: 20px;">
                            <p style="margin-top: 10px;"  *ngIf="invoice && invoice.dueDate">
                                <span class="bold underline">Due Date :</span> {{ invoice.dueDate }}
                            </p>
                            <p class="bgdark">
                                <span class="bold underline">NB</span>:
                                <span>
                                        It's utmost importance to track the FDA's fund remittance with our bank. <br>
                                        Please, make sure that you bank indicate the FDA number and the vessel's name.
                                    </span>
                            </p>
                            <p class="bold underline">BANK DETAILS</p>
                            <p class="bold"><span class="underline">Bank name :</span> ORABANK</p>
                            <p class="bold row">
                                <span class="col-4"><span class="underline">Account number :</span> 065847900101</span>
                                <span class="col-3"><span style="margin-left: 10px" class="underline">RIB :</span> 81</span>
                            </p>
                            <p class="bold row">
                                <span class="col-4"><span class="underline">Bank code :</span> TG116</span>
                                <span class="col-3"><span style="margin-left: 10px" class="underline">Code Guichet :</span> 01002</span>
                            </p>
                            <p class="bold"><span class="underline">Code Bic/CODE SWIFT :</span> ORBKTGTG</p>
                            <p class="bold"><span class="underline">IBAN :</span> TG53TG1160100206584790010181</p>
                            <p class="bold"><span class="">Domiciliation :</span>
                                LOME BRIGHTNESS MARITIME AGENCY SARL
                                11BP 198 LOME GOLFE
                            </p>
                            <p class="row bold">
                                <span class="col-9"></span>
                                <span>
                                    AGENCY DIRECTOR <br> <br>
                                    AVUSSU AYELE ELOM
                                </span>
                            </p>
                        </div>
                        <p id="address">Angle Rue de l’Entente 215, Rue Katoré Antonio-nétimé   01 BP. 675 Lomé - TOGO    Tél. (+228) 97 18 89 89</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
