<div class="animated fadeIn">
    <form [formGroup]="sheetForm" (submit)="onFormSubmit()">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong>Créer une nouvelle fiche de caisse</strong>
                    </div>
                    <div class="card-body">
                        <div class="row">
                       <div class="col-md-4">
                          <div class="card">
                              <div class="card-header">
                                  <strong>Choisir un navire</strong>
                                  <button type="button" class="btn btn-sm btn-primary mr-1 pull-right" data-toggle="modal" (click)="toggleCreateShip()">
                                      Ajouter
                                  </button>
                              </div>
                              <div class="card-body">
                                  <div class="input-group mb-4">
                                      <ng-select class="form-co bootstrap" placeholder="Choisir un navire" [items]="ships"
                                                 formControlName="ship" [clearable]="true" (change)="shipSelected($event)"
                                                 bindValue="id" bindLabel="name" >
                                      </ng-select>
                                  </div>
                              </div>
                          </div>
                       </div>
                       <div class="col-md-8">
                           <div class="card">
                               <div class="card-header">
                                   <i class="icon-info"></i> <strong>Entêtes</strong>
                               </div>
                               <div class="card-body">
                                   <div class="row">
                                       <div class="col-xs-4 col-4 col-md-4 form-group">
                                           <label for="currentDate">Date</label>
                                           <div class="input-group">
                                               <span class="input-group-prepend"><span class="input-group-text"><i class="fa fa-calendar"></i></span></span>
                                               <input id="currentDate" type="text"
                                                      class="form-control"
                                                      #dp="bsDatepicker"
                                                      value="{{ g.date.value | date:'dd-MM-yyyy' }}"
                                                      bsDatepicker formControlName="date" [ngClass]="{ 'is-invalid': submitted && g.date.errors }">
                                               <div *ngIf="submitted && g.date.errors" class="invalid-feedback">
                                                   <div *ngIf="g.date.errors.required">Date requise</div>
                                               </div>
                                           </div>
                                       </div>
                                       <div class="col-xs-4 col-4 col-md-4 form-group">
                                           <label for="folderId">N° Rep</label>
                                           <div class="input-group">
                                               <span class="input-group-prepend"><span class="input-group-text"><i class="fa fa-folder"></i></span></span>
                                               <ng-select id="folderId" class="form-co bootstrap" placeholder="Choisir un Répertoire" [items]="folders"
                                                          formControlName="folderId" [clearable]="true" bindValue="id"
                                                          bindLabel="numberString" style="width: 80%;">
                                               </ng-select>
                                           </div>
                                       </div>
                                       <div class="col-xs-4 col-4 col-md-4 form-group">
                                           <label for="pieceNumber">Pièce N°</label>
                                           <div class="input-group">
                                               <span class="input-group-prepend"><span class="input-group-text"><i class="fa fa-asterisk"></i></span></span>
                                               <input id="pieceNumber" class="form-control" formControlName="pieceNumber" [ngClass]="{ 'is-invalid': submitted && g.pieceNumber.errors }">
                                               <div *ngIf="submitted && g.pieceNumber.errors" class="invalid-feedback">
                                                   <div *ngIf="g.pieceNumber.errors.required">Vous devez définir le numéro de la pièce.</div>
                                               </div>
                                           </div>
                                       </div>
                                   </div><!--/.row-->
                                   <div class="row">
                                       <div class="col-md-6 col-sm-6 col-form-label">
                                           <div class="input-group">
                                               <span class="input-group-prepend"><span class="input-group-text"><i class="fa fa-money"></i></span></span>
                                               <input type="text" class="form-control" id="name" formControlName="amount"
                                                      placeholder="Montant" [ngClass]="{ 'is-invalid': submitted && g.amount.errors }">
                                               <div *ngIf="submitted && g.amount.errors" class="invalid-feedback">
                                                   <div *ngIf="g.amount.errors.required">Veuillez specifier le montant</div>
                                               </div>
                                           </div>
                                       </div>
                                       <div class="col-md-6 col-sm-6 col-form-label">
                                          <div class="form-group form-control radio-group" [ngClass]="{ 'is-invalid': submitted && g.type.errors }">
                                              <div *ngFor="let type of investmentTypes" class="form-check form-check-inline mr-1" >
                                                  <input class="form-check-input" type="radio" id="inlineRadio{{type.id}}" value="{{type.id}}" formControlName="type" >
                                                  <label class="form-check-label" for="inlineRadio{{type.id}}">{{type.label}}</label>
                                              </div>
                                              <div *ngIf="submitted && g.type.errors" class="invalid-feedback">
                                                  <div *ngIf="g.type.errors.required">Vous devez choisir une option</div>
                                              </div>
                                          </div>
                                       </div>
                                   </div><!--/.row-->
                               </div>
                               <div class="card-header">
                                   <i class="icon-note"></i> <strong>Détails</strong>
                               </div>
                               <div class="card-body">
                                   <div class="form-group">
                                        <textarea type="text" class="form-control" formControlName="purpose" placeholder="Motif" rows="4"
                                                  [ngClass]="{ 'is-invalid': submitted && g.purpose.errors }">
                                        </textarea>
                                       <div *ngIf="submitted && g.purpose.errors" class="invalid-feedback">
                                           <div *ngIf="g.purpose.errors.required">Vous devez saisir un motif</div>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="pull-right col-6">
                                <button [disabled]="loading" type="submit" class="btn btn-primary px-4">Enregistrer</button>
                                <img *ngIf="loading" class="pl-2" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>

<app-create-ship-modal
    [show]='showCreateShipModal'
    [closeCallback]="toggleCreateShip"
    [ngStyle]="{display: showCreateShipModal ? 'block' : 'none'}"
    (onCreate)="setShip($event)"
>
</app-create-ship-modal>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
