<div style="z-index: 99999999999;margin-top: 5%;" bsModal [ngClass]="customClass || ''" class="modal " [ngStyle]="{display: show ? 'block' : 'none'}" tabindex="1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form [formGroup]="eventForm" (ngSubmit)="onSubmit()" style="width: 100%;">

                <div class="modal-header">
                    <h4 class="modal-title"> <i class="fa fa-clinique"></i> Ajouter un évenement </h4>
                    <button type="button" class="close" (click)="closeCallback()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
                    <div class="row">
                        <div class="col-6 input-group mb-3" style="width: 100%;">
                            <label style="width: 100%;">
                                Titre
                            </label>
                            <input type="text" class="form-control" placeholder="Titre"
                                   formControlName="title" [ngClass]="{ 'is-invalid': submitted && f.title.errors }" required>
                            <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                                <div *ngIf="f.title.errors.required">Titre requis</div>
                            </div>
                        </div>
                        <div class="col-6 input-group mb-3" style="width: 100%;">
                            <label style="width: 100%;">
                                Description
                            </label>
                            <input type="description" class="form-control" placeholder="Une petite description (optionnelle)" autocomplete=""
                                   formControlName="description" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" required>
                            <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                                <div *ngIf="f.description.errors.required">Description requise</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 input-group mb-3" style="width: 100%;">
                            <label style="width: 100%;">
                               Date de début
                            </label>
                            <input type="date"
                                   class="form-control"

                                    placeholder="Date de début"
                                   formControlName="event_start_date" [ngClass]="{ 'is-invalid': submitted && f.event_start_date.errors }" required>
                            <div *ngIf="submitted && f.event_start_date.errors" class="invalid-feedback">
                                <div *ngIf="f.event_start_date.errors.required">Date de debut requise</div>
                            </div>
                        </div>
                        <div class="col-6 input-group mb-3" style="width: 100%;">
                            <label style="width: 100%;">
                                Heure de fin
                            </label>
                            <input type="time" class="form-control" placeholder="Heure de début"
                                   formControlName="event_start_time" [ngClass]="{ 'is-invalid': submitted && f.event_start_time.errors }" required>
                            <div *ngIf="submitted && f.event_start_time.errors" class="invalid-feedback">
                                <div *ngIf="f.event_start_time.errors.required">Heure de fin requise</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 input-group mb-3" style="width: 100%;">
                            <label style="width: 100%;">
                                Date de fin
                            </label>
                            <input type="date"  min="01-01-1993" max="31-12-250" class="form-control" placeholder="Date de début"
                                   formControlName="event_end_date" [ngClass]="{ 'is-invalid': submitted && f.event_end_date.errors }" required>
                            <div *ngIf="submitted && f.event_end_date.errors" class="invalid-feedback">
                                <div *ngIf="f.event_end_date.errors.required">Date de fin requise</div>
                            </div>
                        </div>
                        <div class="col-6 input-group mb-3" style="width: 100%;">
                            <label style="width: 100%;">
                                Heure de fin
                            </label>
                            <input type="time" class="form-control" placeholder="Heure de début"
                                   formControlName="event_end_time" [ngClass]="{ 'is-invalid': submitted && f.event_end_time.errors }" required>
                            <div *ngIf="submitted && f.event_end_time.errors" class="invalid-feedback">
                                <div *ngIf="f.event_end_time.errors.required">Heure de fin requis</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2 input-group mb-3" style="width: 100%;">
                            <label style="width: 100%;">
                                Couleur
                            </label>
                            <input type="color" class="form-control" placeholder="Couleur"
                                   formControlName="color" [ngClass]="{ 'is-invalid': submitted && f.color.errors }" required>
                            <div *ngIf="submitted && f.color.errors" class="invalid-feedback">
                                <div *ngIf="f.color.errors.required">Couleur requise</div>
                            </div>

                        </div>
                    </div>
                            </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-ladda" data-style="expand-right" [ladda]='loading' >Enregistrer</button>
                </div>
            </form>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
