// Here you can add other styles
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "vendors/toastr/toastr.scss";

@import "~angular-notifier/styles.css";

.ng-select.ng-select-single .ng-select-container {
    height: 100%!important;
    min-height: 40px!important;
}

.ng-select .ng-select-container {
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}


.form-control.radio-group.is-invalid > .invalid-feedback {
    display: block;
}

.ibox {
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
}
.ibox.collapsed .ibox-content {
    display: none;
}
.ibox.collapsed .fa.fa-chevron-up:before {
    content: "\f078";
}
.ibox.collapsed .fa.fa-chevron-down:before {
    content: "\f077";
}
.ibox:after,
.ibox:before {
    display: table;
}
.ibox-title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #ffffff;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 3px 0 0;
    color: inherit;
    margin-bottom: 0;
    padding: 14px 15px 7px;
    min-height: 48px;
}
.ibox-content {
    background-color: #ffffff;
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
}
.ibox-footer {
    color: inherit;
    border-top: 1px solid #e7eaec;
    font-size: 90%;
    background: #ffffff;
    padding: 10px 15px;
}

.ibox-content {
    clear: both;
}
.ibox-heading {
    background-color: #f3f6fb;
    border-bottom: none;
}
.ibox-heading h3 {
    font-weight: 200;
    font-size: 24px;
}
.ibox-title h5 {
    display: inline-block;
    font-size: 14px;
    margin: 0 0 7px;
    padding: 0;
    text-overflow: ellipsis;
    float: left;
    font-weight: 500;
}
.ibox-title h6 {
    display: inline-block;
    margin: 0 0 7px;
    padding: 0;
    text-overflow: ellipsis;
    float: left;
}

.ibox-title .label {
    float: left;
    margin-left: 4px;
}
.ibox-tools {
    display: block;
    float: none;
    margin-top: 0;
    position: relative;
    padding: 0;
    text-align: right;
}
.ibox-tools a {
    cursor: pointer;
    margin-left: 5px;
    color: #c4c4c4;
}
.ibox-tools a.btn-primary {
    color: #fff;
}
.ibox-tools .dropdown-menu > li > a {
    padding: 4px 10px;
    font-size: 12px;
}
.ibox .ibox-tools.open > .dropdown-menu {
    left: auto;
    right: 0;
}

.ibox-content > .float-e-margins {
    margin-bottom: 0;
}

ul#ui-id-1, .ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front {
    background: white!important;
    list-style: none!important;
    font-weight: bold!important;
    width: 80%!important;
}

.ui-menu-item-wraper {
    list-style: none!important;
    margin: 0!important;
    cursor: pointer!important;
    padding: 14px 15px!important;
    display: block!important;
    text-decoration: none!important;
    color: rgba(0,0,0,.87)!important;
    font-size: 15px!important;
    font-weight: 800!important;
}


/* Wijmo 5 CSS */
@import 'vendors/wijmo/5.20172.334/css/wijmo.min';
@import 'vendors/wijmo/5.20172.334/css/wijmo.theme.office.min';
/*
See: flex-sheet/palette.component.css
*/
.wj-new-sheet {
    display:none !important;
}

.wj-state-selected {
    background-color: #0085c7;
    color: #fff;
}

.wj-flexsheet .wj-state-multi-selected {
    background-color: #0085c7;
    color: #fff;
}

.wj-flexsheet .wj-cell.wj-state-multi-selected {
    border-right: none;
    border-bottom: none;
}

a[href*="https://www.grapecity.com/en/licensing/wijmo"] {
    display: none!important;
}

a[href*="https://www.grapecity.com/en/licensing/wijmo"]:root {
    display: none!important;
}

//.wj-cell {
//    padding-left: 12px;
//    padding-top: 6px;
//    background-color: white;
//    //border: none;
//}
//.wj-cell.wj-header {
//    border: 3px solid white;
//    background-color: #D1E1F2;
//}
//.wj-cell.wj-alt:not(.wj-state-selected):not(.wj-state-multi-selected) {
//    background-color: white;
//}
//.wj-cell.wj-state-selected, .wj-cell.wj-state-multi-selected {
//    color: black;
//    background-color: #f5f5ff;
//}
//.wj-flexgrid {
//    border: none;
//    outline: none;
//}

.container {
    perspective: 10000px;
}


/* 사용자 정의 Wijmo Style */
/* Material Style */

.wj-content {
    border-radius: 4px;
    background-color: #ffffff;
    color: #333333;
}
.wj-header {
    background-color: #3e50b4;
    color: #ffffff;
}
.wj-state-selected {
    background-color: #ff3f80;
    color: #ffffff;
}
.wj-state-multi-selected {
    background-color: #f2a9c2;
    color: #ffffff;
}
.wj-tooltip {
    background-color: #ffffe5;
    color: #333333;
}
.wj-cell:not(.wj-header):not(.wj-group):not(.wj-alt):not(.wj-state-selected):not(.wj-state-multi-selected) {
    background-color: #ffffff;
    color: #333333;
}
.wj-alt:not(.wj-header):not(.wj-group):not(.wj-state-selected):not(.wj-state-multi-selected) {
    background-color: #f9f9f9;
    color: #333333;
}

html, body {
    font-family: 'Raleway', serif;
}

.ng-select.error > .ng-select-container, .ng-select.is-invalid > .ng-select-container {
    border: 1px solid red;
}

ul.country-list {
    width: inherit!important;
}
