
<div class="animated fadeIn">
    <div class="card mat-elevation-z8 col-md-10" style="margin: 0 auto;">
        <div class="card-header" style="margin-left: -15px; margin-right: -15px;">
            <h3>Modifier un navire</h3>
        </div>
        <div class="card-body">
            <form [formGroup]="shipForm" (ngSubmit)="onSubmit()" >
                <p class="text-muted">Modifier les informations du navire</p>
                <div *ngIf="error" class="alert alert-danger">{{error}}</div>
                <div class="border-bottom">
                    <div class="row">
                        <div class="col-6">
                            <div class="input-group mb-3" style="width: 100%;">
                                <label style="width: 100%;"> Name
                                    <input type="text" class="form-control" placeholder="Nom" autocomplete="username"
                                           formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" required>
                                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                        <div *ngIf="f.name.errors.required">Nom requis</div>
                                    </div>
                                </label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group mb-3" style="width: 100%;">
                                <label style="width: 100%;"> Loa
                                    <input type="text" class="form-control" placeholder="Loa"
                                           formControlName="loa" [ngClass]="{ 'is-invalid': submitted && f.loa.errors }">
                                    <div *ngIf="submitted && f.loa.errors" class="invalid-feedback">
                                        <div *ngIf="f.loa.errors.required">Champs requis</div>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="input-group mb-3" style="width: 100%;">
                                <label style="width: 100%;"> Beam
                                    <input type="text" class="form-control" placeholder="Beam"
                                           formControlName="beam" [ngClass]="{ 'is-invalid': submitted && f.beam.errors }">
                                    <div *ngIf="submitted && f.beam.errors" class="invalid-feedback">
                                        <div *ngIf="f.beam.errors.required">Champs requis</div>
                                    </div>
                                </label>
                            </div>
                        </div>
                        <div class="col-6"><div class="input-group mb-3" style="width: 100%;">
                            <label style="width: 100%;"> Email
                                <input type="email" class="form-control" placeholder="Email"
                                       formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required">Champs requis</div>
                                </div>
                            </label>
                        </div></div>
                    </div>
                    <div class="row">
                        <div class="col-6"><div class="input-group mb-3" style="width: 100%;">
                            <label style="width: 100%;"> Immarsat
                                <input type="text" class="form-control" placeholder="Immarsat"
                                       formControlName="immarsat" [ngClass]="{ 'is-invalid': submitted && f.immarsat.errors }">
                                <div *ngIf="submitted && f.immarsat.errors" class="invalid-feedback">
                                    <div *ngIf="f.immarsat.errors.required">Champs requis</div>
                                </div>
                            </label>
                        </div></div>
                        <div class="col-6"><div class="input-group mb-3" style="width: 100%;">
                            <label style="width: 100%;"> Local Agent
                                <input type="text" class="form-control" placeholder="Local Agent"
                                       formControlName="local_agent" [ngClass]="{ 'is-invalid': submitted && f.local_agent.errors }">
                                <div *ngIf="submitted && f.local_agent.errors" class="invalid-feedback">
                                    <div *ngIf="f.local_agent.errors.required">Champs requis</div>
                                </div>
                            </label>
                        </div></div>
                    </div>
                    <div class="row">
                        <div class="col-6"><div class="input-group mb-3" style="width: 100%;">
                            <label style="width: 100%;"> Dwt
                                <input type="text" class="form-control" placeholder="Dwt"
                                       formControlName="dwt" [ngClass]="{ 'is-invalid': submitted && f.dwt.errors }">
                                <div *ngIf="submitted && f.dwt.errors" class="invalid-feedback">
                                    <div *ngIf="f.dwt.errors.required">Champs requis</div>
                                </div>
                            </label>
                        </div></div>
                        <div class="col-6"><div class="input-group mb-3" style="width: 100%;">
                            <label style="width: 100%;"> Nbt
                                <input type="text" class="form-control" placeholder="Nbt"
                                       formControlName="nbt" [ngClass]="{ 'is-invalid': submitted && f.nbt.errors }">
                                <div *ngIf="submitted && f.nbt.errors" class="invalid-feedback">
                                    <div *ngIf="f.nbt.errors.required">Champs requis</div>
                                </div>
                            </label>
                        </div></div>
                    </div>
                    <div class="row">
                        <div class="col-6"><div class="input-group mb-3" style="width: 100%;">
                            <label style="width: 100%;"> Breath
                                <input type="text" class="form-control" placeholder="Breath"
                                       formControlName="breath" [ngClass]="{ 'is-invalid': submitted && f.breath.errors }">
                                <div *ngIf="submitted && f.breath.errors" class="invalid-feedback">
                                    <div *ngIf="f.breath.errors.required">Champs requis</div>
                                </div>
                            </label>
                        </div></div>
                        <div class="col-6"> <div class="input-group mb-3" style="width: 100%;">
                            <label style="width: 100%;"> Depth
                                <input type="text" class="form-control" placeholder="Depth"
                                       formControlName="depth" [ngClass]="{ 'is-invalid': submitted && f.depth.errors }">
                                <div *ngIf="submitted && f.depth.errors" class="invalid-feedback">
                                    <div *ngIf="f.depth.errors.required">Champs requis</div>
                                </div>
                            </label>
                        </div></div>
                    </div>
                    <div class="row">
                        <div class="col-6"><div class="input-group mb-3" style="width: 100%;">
                            <label style="width: 100%;"> Flag
                                <input type="text" class="form-control" placeholder="Flag"
                                       formControlName="flag" [ngClass]="{ 'is-invalid': submitted && f.flag.errors }">
                                <div *ngIf="submitted && f.flag.errors" class="invalid-feedback">
                                    <div *ngIf="f.flag.errors.required">Champs requis</div>
                                </div>
                            </label>
                        </div></div>
                        <div class="col-6"><div class="input-group mb-3" style="width: 100%;">
                            <label style="width: 100%;"> Call Sign
                                <input type="text" class="form-control" placeholder="Call Sign"
                                       formControlName="call_sign" [ngClass]="{ 'is-invalid': submitted && f.call_sign.errors }">
                                <div *ngIf="submitted && f.call_sign.errors" class="invalid-feedback">
                                    <div *ngIf="f.call_sign.errors.required">Champs requis</div>
                                </div>
                            </label>
                        </div></div>
                    </div>
                    <!--                            <div class="input-group mb-3" style="width: 100%;">-->
                    <!--                                <label style="width: 100%;">-->
                    <!--                                    <textarea placeholder="Description" class="form-control"  autocomplete="description"-->
                    <!--                                              formControlName="description" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" required>-->
                    <!--                                    </textarea>-->
                    <!--                                    <div *ngIf="submitted && f.description.errors" class="invalid-feedback">-->
                    <!--                                        <div *ngIf="f.description.errors.required">Description requise</div>-->
                    <!--                                    </div>-->
                    <!--                                </label>-->
                    <!--                            </div>-->
                </div>
                <div class="row">
                    <div class="col-6">
                        <button [disabled]="loading" type="submit" class="btn btn-primary px-4">Enregistrer</button>
                        <img *ngIf="loading" class="pl-2" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
